<div1 xmlns="http://www.tei-c.org/ns/1.0" type="html">
        
  <h2>The Lee Family Network</h2>
  <h3>Court Case-Derived Family Tree</h3>
          
  <p>
  </p><ul class="tree">
    <li><%= people_search("Joanna/Joan", "Lee, Joanna") %> - freed in the year 1809 <br>+ Peter Lee</li>
    <ul>
      <li><%= people_search("John Baptist Lee", "Lee, John Baptist") %> - born c. 1800</li>
      <li>Peter Lee - born c. 1801</li>
      <li><%= people_search("Lizette Lee", "Lee, Lizette") %> - born c. 1802</li>
      <ul>
        <li><%= people_search("Nancy Lee", "Lee, Nancy") %> - born c. 1825</li>
      </ul>
      <li>Lewis Lee - born c. 1803</li>
      <li><%= people_search("Janette/Jeane Lee", "Lee, Janette") %> - born c. 1809</li>
    </ul>
  </ul>
  <p></p>


</div1>