<div1 xmlns="http://www.tei-c.org/ns/1.0" type="html">

  <h2>The Davis Family Network</h2>
  <h3>Court Case-Derived Family Tree</h3>

  <ul class="tree">
  <li><%= people_search("Mary Davis", "Davis, Mary") %> - a free woman</li>
  <ul>
    <li><%= people_search("Rosamond Bentley", "Bentley, Rosamond") %> - freed by a freedom petition
    </li>
    <li><%= people_search("Eleanor Bentley", "Bentley, Eleanor") %></li>
    <li><%= people_search("Mary Bentley", "Bentley, Mary") %></li>
    <li><%= people_search("Elizabeth Bentley", "Bentley, Elizabeth") %> <i>[sister to Rosamond et al? perhaps the daughter of one of them?]</i></li>
    <li>Unknown</li>
    <ul>
      <li><%= people_search("Letitia Davis", "Davis, Letitia") %></li>
      <ul>
        <li><%= people_search("Rachel Davis", "Davis, Rachel") %></li>
        <ul>
          <li><%= people_search("Henry Davis", "Davis, Henry") %></li>
        </ul>
      </ul>
      <li><%= people_search("Ann Davis", "Davis, Ann") %></li>
      <ul>
        <li><%= people_search("David Davis", "Davis, David") %></li>
        <li><%= people_search("Sarah Davis", "Davis, Sarah") %></li>
        <li><%= people_search("Frederick Davis", "Davis, Frederick") %></li>
        <li><%= people_search("Hanson Davis", "Davis, Hanson") %></li>
      </ul>
      <li><%= people_search("Susan Davis", "Davis, Susan") %> - born free</li>
      <li><%= people_search("George Davis", "Davis, George") %></li>
    </ul>
  </ul>
</ul>
<p></p>


</div1>