<h1><%= "#{@total_found} people" %><%= " start with letter #{params[:letter]}" if params[:letter] %></h1>

<div class="main_alpha_menu">
<%= make_alphabet_menu(@alphabet) %>
</div>

<div class="jump_pagination">Jump to Page 
<%= form_tag peopleAll_path(reset_params) do %>
  <%= paginator %>
<% end %>
of results</div>

<ul>
  <% @docs[:docs].each do |person| %>
    <li><%= link_to(person["title"], person_path(person["id"])) %></li>
  <% end %>
</ul>