<h1><%= "#{@total_found} people" %><%= " start with letter #{params[:letter]}" if params[:letter] %></h1>

<div class="main_alpha_menu">
<%= make_alphabet_menu(@alphabet) %>
</div>

<%= render "partials/pagination" %>




<ul>
  <% @docs[:docs].each do |person| %>
    <% if linkable_id?(person["id"]) %>
      <li><%= link_to(person["title"], person_path(person["id"])) %></li>
    <% end %>
  <% end %>
</ul>

<% if @total_pages.to_i > 1 %>
  <%= render "partials/pagination" %>
<% end %>