<h2>People</h2>

<p>Explore the web of litigants, jurists, attorneys, and community members present in the court records. Browse people by categories: plaintiffs, defendants, and attorneys. Individuals who appear in the documents without a link to their person page have not yet been encoded and related to other people in the project and will not appear here.</p>

<p>Each person's page includes a set of attributes describing their status, color, sex, age, occupations, birth and death dates, and residences as stated in the court documents. Each attribute is sourced to the document.<!-- Every  relationship for each individual in the legal documents is also recorded here. Legal, occupational, family, and social connections to other individuals in the court records are visually presented in dynamic graphs.--></p>

<div class="row">
  <div class="col-md-6">
    
    <h3>Browse by Letter</h3>
    <div class="browse_alpha_menu">
      <%= make_alphabet_menu(@alphabet) %>
    </div>
  </div><!-- /column-->

  <div class="col-md-6">

    <h3>Role</h3>

    <div class="row">
      <div class="col-md-4">Attorney</div>
      <div class="col-md-8">
        <!-- Browse by Attorney -->
        <%= form_tag person_browse_path do %>
        <% select_tag :id, options_for_select(@attorneys), :prompt => "Select Attorney", :class => "custom-dropdown__select", :onchange => "this.form.submit();" %>
        <% end %>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-4">Plaintiff</div>
      <div class="col-md-8">
        <!-- Browse by Plaintiff -->
        <%= form_tag person_browse_path do %>
        <% select_tag :id, options_for_select(@plaintiff_facet), :prompt => "Select Plaintiff", :class => "custom-dropdown__select", :onchange => "this.form.submit();" %>
        <% end %>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-4">Defendant</div>
      <div class="col-md-8">
        <!-- Browse by Defendant -->
        <%= form_tag person_browse_path do %>
        <% select_tag :id, options_for_select(@defendant_facet), :prompt => "Select Defendant", :class => "custom-dropdown__select", :onchange => "this.form.submit();" %>
        <% end %>
      </div>
    </div>
  </div><!-- /column-->
</div><!-- /row-->

<h3>Connections</h3>

<p>Every relationship for each person in the legal documents is also recorded in their individual page. Legal, occupational, family, and social connections to other individuals in the court records are visually presented in dynamic graphs. Find a person from the options above and explore the connections. <!--Or use the pregenerated indices below to discover relationships.--></p> 

<div class="row">
  <div class="col-md-6">
    <h4>Explore By Connection Type </h4>
    <p>View people by the type of their relationships (enslaved by, spouse of, neighbor of, etc.)</p>

    <% type_options = get_relationship_types %>

    <%= form_tag connection_type_path, :method => "get", :class => "form-inline" do %>
      <div class="form-group">
        <%= select_tag :type, options_for_select(type_options, params[:type]), :prompt => "Select Relationship", :class => "custom-dropdown__select" %>
        <%= submit_tag("Go!", :class => "btn btn-info") %>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">

    <h4>Browse Attorney Relationships </h4>
    <p>Explore connections between attorneys, if any.</p>

    <%= form_tag relationships_path, :method => "get", :class => "form-inline" do %>
      <div class="form-group">
        <%= select_tag :per1id, options_for_select(@attorneys, params["per1id"]), :prompt => "Select First Attorney", :class => "custom-dropdown__select" %>
        <%= select_tag :per2id, options_for_select(@attorneys, params["per2id"]), :prompt => "Select Second Attorney", :class => "custom-dropdown__select" %>
        <%= submit_tag("Find Relationships", :class => "btn btn-info") %>
      </div>
    <% end %>
  </div>
</div><!--/row-->
