<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>OSCYS: Visualization</title> 

  <!-- CSS Files -->
  <%= stylesheet_link_tag 'vis-network', media: 'all', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag 'hypertree', media: 'all', 'data-turbolinks-track' => false %>

  <!-- JIT Files -->
  <%# javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", :async => false %>
  <%# javascript_include_tag "defiant.min", "data-turbolinks-track" => false %>
  <%# javascript_include_tag 'jit.min', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'vis', 'data-turbolinks-track' => false %>
  <script>
    <%# need non-ruby json and a string to call html safe, apparently %>
    var json = <%= @res.to_json.to_s.html_safe %>;
    var graphType;
    var personUrl = "<%= @person_url %>";
  </script>
  <%# javascript_include_tag 'hypertree', 'data-turbolinks-track' => false %>

  <style type="text/css">
    #mynetwork {
      width: 800px;
      height: 700px;
      border: 1px solid lightgray;
    }

    p {
      max-width:700px;
    }
  </style>

</head>

<!-- <body onload="initHypertree();"> -->
  <!-- back button -->
<body>
  <div id="container">

    <% if @res %>
    <!-- todo this is the part I'm adding for vis js -->
    <div id="mynetwork">
      <!-- <div class="vis-network" style="position: relative; overflow: hidden; touch-action: pan-y; -moz-user-select: none; width: 100%; height: 100%;" tabindex="900"> -->
      <div class="vis-network">
        <canvas style="position: relative; touch-action: none; -moz-user-select: none; width: 100%; height: 100%; width: 1200px height: 800px"></canvas>
      </div>
    </div>
    <% else %>
      <div id="no-relationship">
        <h4>No relationships of this type found. Network may be currently unavailable.</h4>
      </div>
    <% end %> 

  </div><!-- /container -->
  <script>
    var container = document.getElementById('mynetwork');
    var data = {
      nodes: json["nodes"],
      edges: json["edges"]
    };
    var options = {
      nodes: {
        shape: "dot",
        size: 16
      },
      edges: {
        hoverWidth: 12,
      },
      // groups: {
      //   2: {
      //     color: "blue", size: 3
      //   }
      // },
      physics: {
            forceAtlas2Based: {
                gravitationalConstant: -26,
                centralGravity: 0.005,
                springLength: 230,
                springConstant: 0.18
            },
            maxVelocity: 146,
            solver: 'forceAtlas2Based',
            timestep: 0.35,
            // stabilization: {iterations: 150}
            stabilization: { enabled: false}
        }
    };
    var network = new vis.Network(container, data, options);
    console.log(network.getConnectedEdges());
  </script>
</body>
<!-- </html> -->
