<% if @person.nil? %>
  <h1>Something Is Wrong</h1>
  <p>We cannot find a person with id <%= params["id"] %>.</p>
  <p>This person may not exist or we may be experiencing technical issues.</p>
<% else %>

  <h1><strong><%= @person["title"]%></strong> (<%= @person["id"] %>)</h1>
  <p><%= "Alternate names: #{@person['personAltName_ss'].join(', ')}" if @person["personAltName_ss"] %>

  <div class="callout">
  <a href="#description">Described As</a> | <a href="#cases">Related Cases</a> | <a href="#documents">Related Documents</a> | <a href="#relationships">Relationships</a> | <a href="#visualizations">Visualisations</a>
  </div>

  <a name="description"><h2>Described As:</h2></a>
  <div class="callout bibliography" id="topBibl">
    <%= metadata_builder("Sex", @person["personSex_ss"]) %>
    <%= metadata_builder("Color", @person["personColorData_ss"]) %>
    <%= metadata_builder("Affiliation", @person["personAffiliationData_ss"]) %>
    <%= metadata_builder("Age", @person["personAge_ss"]) %>
    <%= metadata_builder("Bibl", @person["personBiblData_ss"]) %>
    <%= metadata_builder("Date of Birth", @person["personBirthData_ss"]) %>
    <%= metadata_builder("Date of Death", @person["personDeathData_ss"]) %>
    <%= metadata_builder("Event", @person["personEventData_ss"]) %>
    <%= metadata_builder("VIAF", @person["personIdnoVIAF_ss"]) %>
    <%= metadata_builder("Nationality", @person["personNationalityData_ss"]) %>
    <%= metadata_builder("Notes", @person["personNoteData_ss"]) %>
    <%= metadata_builder("Occupation", @person["personOccupationData_ss"]) %>
    <%= metadata_builder("Name Data", @person["personNameData_ss"]) %>
    <%= metadata_builder("Residence", @person["personResidenceData_ss"]) %>
    <%= metadata_builder("Social Status", @person["personSocecStatusData_ss"]) %>

  </div>

  <!-- Cases -->
  <a name="cases"></a>
  <h3><%= @cases[:num_found] %> Related Cases:</h3>
  <ul>
  <% @cases[:docs].each do |doc| %>
    <li><%= link_to doc["title"], case_path(doc["id"]) %></li>
  <% end %>
  <h4><%= link_to "View more related cases...", search_path(:qfield => "personID_ss", :qtext => @person['id'], :fqfield => "recordType_s", :fqtext => "caseid") if @cases[:num_found].to_i > 50 %></h4>
  </ul>

  <!-- Documents -->
  <a name="documents"></a>
  <h3><%= @docs[:num_found] %> Related Documents: </h3>
  <ul>
  <% @docs[:docs].each do |doc| %>
    <li><%= link_to doc["title"], doc_path(doc["id"]) %></li>
  <% end %>
  <h4><%= link_to "View more related documents...", search_path(:qfield => "personID_ss", :qtext => @person['id']) if @docs[:num_found].to_i > 50 %></h4>
  </ul>

  <!-- Relationships -->
  <a name="relationships"></a><h3>Relationships:</h3>
  <% if @rdfresults && @rdfresults["results"] && @rdfresults["results"]["bindings"] %>
    <ul>
    <%# TODO clean this huge mess up %>
    <% @rdfresults["results"]["bindings"].each do |rel| %>
      <% label = rel["rel1"]["value"].sub(/.*#/, "").titleize + " " +rel["name1"]["value"] %>
      <li><%= link_to label, person_path(rel["per1"]["value"].sub(/.*#/, "")) %></li>
    <% end %>
    </ul>
  <% end %>

  <!-- Visualizations -->
  <a name="visualizations"></a><h3>Visualizations:</h3>
  <h5>The visualizations and their raw data may take several seconds to load.</h5>
  <ul>
    <li>
      <%= link_to "All (new page)", network_vis_path(@person["id"]) %>
      <%= link_to "(json)", network_vis_path(@person["id"], :format => "json") %>
      <%= link_to "(xml)", network_vis_path(@person["id"], :format => "xml") %>
    </li>
    <li>
      <%= link_to "Family and Kinship (new page)", network_vis_path(@person["id"], :type => "familyOf") %>
      <%= link_to "(json)", network_vis_path(@person["id"], :type=> "familyOf", :format => "json") %>
      <%= link_to "(xml)", network_vis_path(@person["id"], :type=> "familyOf", :format => "xml") %>
    </li>
    <li>
      <%= link_to "Legal (new page)", network_vis_path(@person["id"], :type => "legal") %>
      <%= link_to "(json)", network_vis_path(@person["id"], :type => "legal", :format => "json") %>
      <%= link_to "(xml)", network_vis_path(@person["id"], :type => "legal", :format => "xml") %>
    </li>
    <li>
      <%= link_to "Social (new page)", network_vis_path(@person["id"], :type => "acquaintanceOf") %>
      <%= link_to "(json)", network_vis_path(@person["id"], :type => "acquaintanceOf", :format => "json") %>
      <%= link_to "(xml)", network_vis_path(@person["id"], :type => "acquaintanceOf", :format => "xml") %>
    </li>
  </ul>
<% end %>