<div class="tab-pane" id="other_legends">

  <div id="key-Congress" class="key key-other">
    <h3>Congress</h3>
    <ul>
      <li>
        <%= image_tag "map_directory/delegate.svg", class: "key-icon" %>
        Delegate to the House
      </li>
      <li>
        <%= image_tag "map_directory/rep.svg", class: "key-icon" %>
        Representative
      </li>
      <li>
        <%= image_tag "map_directory/senator.svg", class: "key-icon" %>
        Senator</li>
      </li>
      <li>
        <%= image_tag "map_directory/vp.svg", class: "key-icon" %>
        Vice President
      </li>
      <li>
        <%= image_tag "map_directory/dr.svg", class: "key-icon" %>
         Democratic-Republican
      </li>
      <li>
        <%= image_tag "map_directory/fed.svg", class: "key-icon" %>
        Federalist 
      </li>
      <li>
        <%= image_tag "map_directory/unknown.svg", class: "key-icon" %>
        No Party Affiliation 
      </li>
    </ul>
  </div> <%# /key-Congress %>

  <div id="key-Foreign_Dignitaries" class="key key-other">
    <h3>Foreign Dignitaries</h3>
    <ul>
      <li>
        <%= image_tag "map_directory/france.png", class: "key-icon" %>
        France
      </li>
      <li>
        <%= image_tag "map_directory/britain.png", class: "key-icon" %>
        Great Britain
      </li>
      <li>
        <%= image_tag "map_directory/mexico.png", class: "key-icon" %>
        Mexico
      </li>
      <li>
        <%= image_tag "map_directory/sweden.png", class: "key-icon" %>
        Sweden
      </li>
    </ul>
  </div> <%# /key-Foreign_Dignitaries %>

  <div id="key-Public_Buildings" class="key key-other">
    <h3>Buildings</h3>
    <ul>
      <li>
        <%= image_tag "map_directory/cathedral.png", class: "key-icon" %>
        Church (Catholic)
      </li>
      <li>
        <%= image_tag "map_directory/church.png", class: "key-icon" %>
        Church (White Protestant)
      </li>
      <li>
        <%= image_tag "map_directory/chapel.png", class: "key-icon" %>
        Church (Black Protestant)
      </li>
      <li>
        <%= image_tag "map_directory/us-capitol.png", class: "key-icon" %>
        Government Building
      </li>
      <li>
        <%= image_tag "map_directory/university.png", class: "key-icon" %>
        Other Public Building
      </li>
      <li>
        <%= image_tag "map_directory/school-building.png", class: "key-icon" %>
        School
      </li>
      <li>
        <%= image_tag "map_directory/single-bed.png", class: "key-icon" %>
        Hotel / Tavern
      </li>
      <li>
        <%= image_tag "map_directory/bank-building.png", class: "key-icon" %>
        Bank
      </li>
      <li>
        <%= image_tag "map_directory/headstone.png", class: "key-icon" %>
        Burying Ground
      </li>
    </ul>
  </div> <%# /key-Public_Buildings %>
</div> <%# /other_legends tab %>
