<%= stylesheet_link_tag "leaflet-1.4.0", media: "all" %>
<%= stylesheet_link_tag "markercluster-1.4.1", media: "all" %>
<%= stylesheet_link_tag "map", media: "all" %>

<%= javascript_include_tag "leaflet-1.4.0.min" %>
<%= javascript_include_tag "markercluster-1.4.1.min" %>

<%= javascript_include_tag "map_data/building_json_#{@year}" %>

<%# we do not currently have this information for 1834, coming soon %>
<% if @year == "1822" %>
  <%= javascript_include_tag "map_data/congress_json_1822" %>
  <%= javascript_include_tag "map_data/foreign_json_1822" %>
<% end %>
<%= javascript_include_tag "map_data/wards_json" %>

<script type="text/javascript" src="https://stamen-maps.a.ssl.fastly.net/js/tile.stamen.js?v1.3.0"></script>

<h1>Early Washington, D.C., Interactive Map</h1>

<div class="introduction">
  <p>This map attempts to reconstruct who lived where in as much of early Washington, D.C., as we can. We have cross-referenced the names in the 1822 city directory with names found in the case files for petitions for freedom, plotting jurors, witnesses, lawyers, plaintiffs, defendants, and other participants in the freedom suits. Data from the 1834 directory will also be included soon.</p>
</div>

<div class="btn-group" role="group" aria-label="Map Year Selection">
  <%= link_to "1822 Directory", :map_dc, class: "btn btn-default #{"active" if @year == "1822"}" %>
  <%= link_to "1834 Directory", :map_dc_1834, class: "btn btn-default #{"active" if @year == "1834"}" %>
</div>

</div></div><%# Ending page divs for full width map %>

<div class="map_container">
  <div class="map_container_map">
    <div id="map"></div>
  </div><%# map_container_map %>

  <div class="map_container_key">
    <div class="map_container_key_nav">
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#map_directory" data-toggle="tab">Directory</a>
        </li>
        <% if @year == "1822" %>
          <li>
            <a href="#other_legends" data-toggle="tab">Other</a>
          </li>
        <% end %>
        <li>
          <a href="#wards_legends" data-toggle="tab">Wards</a>
        </li>
      </ul>
    </div><%# map_container_key_nav %>

    <div class="tab-content map_container_key_content key-container">

      <%# DIRECTORY LEGEND %>

      <div class="tab-pane active" id="map_directory">

        <%# display key for court roles and total directory on page load %>
        <div id="key-Court_Role" class="key key-directory">
          <h3>Court Role</h3>
          <ul class="label-key">
            <li><span class="role-attorney"></span>Attorney</li>
            <li><span class="role-clerk"></span>Clerk</li>
            <li><span class="role-defendant"></span>Defendant</li>
            <li><span class="role-judge"></span>Judge</li>
            <li><span class="role-juror"></span>Juror</li>
            <li><span class="role-pool"></span>Jury Pool</li>
            <li><span class="role-jop"></span>Justice of the Peace</li>
            <li><span class="role-server"></span>Process Server</li>
            <li><span class="role-witness"></span>Witness</li>
            <li><span class="role-mult"></span>Multiple Roles</li>
            <li><span class="default"></span>None</li>
          </ul>
        </div><%# /key-directory %>

        <!-- these layers should not be displayed on page load
             but will be displayed when a user selects them -->
        <div id="key-Gender" class="key key-directory key-hidden">
          <h3>Gender</h3>
          <ul class="label-key">
            <li><span class="gender-f"></span>Female</li>
            <li><span class="gender-m"></span>Male</li>
            <li><span class="gender-u"></span>Unknown</li>
          </ul>
          <p>Some individuals were listed only by their initials, so their gender was unclear.</p>
        </div> <%# /key-Gender %>

        <div id="key-Occupation" class="key key-directory key-hidden">
          <h3>Occupation <a href="#occupations">*</a></h3>
          <ul class="label-key">
            <li><span class="occ-admin"></span>Administrative</li>
            <li><span class="occ-ag"></span>Agricultural</li>
            <li><span class="occ-clerical"></span>Clerical</li>
            <li><span class="occ-prof"></span>Professional</li>
            <li><span class="occ-sales"></span>Sales</li>
            <li><span class="occ-service"></span>Service</li>
            <li><span class="occ-skilled"></span>Skilled Labor</li>
            <li><span class="occ-unskilled"></span>Unskilled Labor</li>
          </ul>

        </div> <%# /key-Occupation %>

        <div id="key-Race" class="key key-directory key-hidden">
          <h3>Race <a href="#race">*</a></h3>
          <ul class="label-key">
            <li><span class="race-c"></span>Colored</li>
            <li><span class="race-w"></span>White</li>
          </ul>

          <p>The original language of the directory is preserved in this map in order to provide an image of the world in which freedom petitioners lived and the structures they navigated in the pursuit of their freedom.</p>

        </div> <%# /key-Race %>

        <div id="key-Memorial" class="key key-directory key-hidden">
          <h3>Memorial <a href="#memorial">*</a></h3>
          <ul class="label-key">
            <li><span class="memorial-e"></span>Signatory of Memorial</li>
            <li><span class="memorial-q"></span>Possible Signatory of Memorial</li>
          </ul>

          <p>TODO language here explaining this layer</p>

        </div> <%# /key-Memorial %>

      </div><%# /map_directory tab %>

      <%# PUBLIC BUILDINGS / FOREIGN OFFICIALS LEGEND %>

      <% if @year == "1822" %>
        <%= render "directory_legend_other" %>
      <% end %>

      <%# WARDS LEGEND %>

      <div class="tab-pane" id="wards_legends">
        <p>Note: ward colors on the historic map affect the appearance of these layers</p>

        <div id="key-Population" class="key key-ward">
          <h3>Population</h3>
          <ul class="label-key label-key-ward">
            <li><span class="population-1500"></span>< 1500 population</li>
            <li><span class="population-2000"></span>< 2000 population</li>
            <li><span class="population-2500"></span>< 2500 population</li>
            <li><span class="population-gt2500"></span>≥ 2500 population</li>
          </ul>
        </div>

        <div id="key-PercentRace" class="key key-ward">
          <h3>Percent Colored</h3>
          <ul class="label-key label-key-ward">
            <li><span class="percent-25"></span>< 25% colored</li>
            <li><span class="percent-30"></span>< 30% colored</li>
            <li><span class="percent-35"></span>< 35% colored</li>
            <li><span class="percent-gt35"></span>≥ 35% colored</li>
          </ul>
        </div>

        <% if @year == "1834" %>
          <div id="key-Property" class="key key-ward">
            <h3>Property Values</h3>
            <ul class="label-key label-key-ward">
              <li><span class="property-50000"></span>< $50,000</li>
              <li><span class="property-150000"></span>< $150,000</li>
              <li><span class="property-gt150000"></span>≥ $150,000</li>
            </ul>
          </div>
        <% end %>

      </div> <%# /tab-pane (wards) %>
    </div> <%# /key_container tab-content %>
  </div> <%# /key_container_key %>
</div> <%# /map_container %>

<div class="container"><div> <%# Opening back up container page divs %>

<%= render "directory_introduction" %>

<script>
  var year = <%= @year %>;
</script>
<%= javascript_include_tag 'map' %>
