


<h2>Bell Family Network</h2>

<p>Several members of the Bell family utilized the courts to obtain their freedom. Mary Bell and her children later tried to use the courts to uphold their manumission, but when the legal system failed them, they turned to the Underground Railroad and became involved in <em>The Pearl</em> Incident in 1848. Several members of the family were enslaved by the <%= link_to "Greenfield Family", {:name => "greenfield", :action => "sub"} %>.</p>

<hr/>

<p>
<ul class="tree">
<li>Lucy Bell - b. 1763, Md.; d. June 8, 1862, Washington, D.C. - enslaved by Gerrard T. <%= link_to "Greenfield", {:name => "greenfield", :action => "sub"} %>, bequeathed to his wife Ann; passed to Walter <%= link_to "Greenfield", {:name => "greenfield", :action => "sub"} %> in 1810 through the residue of Ann's estate - obtained her freedom by 1850</li>
<ul>
    <li><%= link_to "Daniel Bell", person_path("per.000871") %> - b. abt 1802/04, Prince George's County, Md. - bequeathed by Ann Greenfield to son <%= link_to "Gabriel P. T. Greenfield", person_path("per.000776") %> in 1810; later <%= link_to "jailed", case_path("oscys.caseid.0117") %> prior to being sold away in 1835 - arranged to purchase his freedom from new owner; free in 1846/47<span class="foot"><a href="#footn1" id="bodyn1">1</a></span><br/>
<em>+ <%= link_to "Mary Bell", person_path("per.001253") %></em> - b. abt 1795/1802 - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> upon the death of <%= link_to "Robert Armistead", person_path("per.001255") %>, but later claimed by his <%= link_to "widow", person_path("per.001254") %> - lost her <%= link_to "freedom suit", case_path("oscys.caseid.0174") %> in December 1847; attempted to flee enslavement on board <em>The Pearl</em> with her eight children and two grandchildren in April 1848<span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
        <ul><!-- mb children -->
            <li><%= link_to "Andrew Bell", person_path("per.001855") %> - b. abt 1821/1825 - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1861</li>
            <li><%= link_to "Mary Ellen Bell", person_path("per.001860") %> - b. abt 1827 - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1857 - apparently sold to Mississippi in 1848 following the <em>Pearl</em> Incident<span class="foot"><a href="#footn2" id="bodyn2">2</a></span><br/>
<em>+ Jordan Dawley</em> - b. abt 1818, Sunflower, Miss.; d. 20 Jan 1864, Vicksburg, Miss.</li>
                <ul><!-- meb children -->
                    <li>Caroline Dawley</li>
                    <li>Lucy Dawley</li>
                    <li>Jacob Dawley/Dolly</li>
                    <li>Isaac "Ike" Dawley/Dolly</li>                    
                </ul>
&#160;&#160; <em>+ Alex Robertson</em>
            <li><%= link_to "Caroline Bell", person_path("per.001856") %> - b. abt 1829 - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1859</li>
                <ul><!-- cb children  -->
                    <li>Catherine</li>
                    <li>John</li>
                </ul><!-- end cb -->
&#160;&#160; <em>+ John Green</em>
            <li><%= link_to "George W. Bell", person_path("per.001858") %> - b. abt 1831 - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1866</li>
            <li><%= link_to "Daniel Bell", person_path("per.001857") %> - b. abt 1833; d. bef 1900 - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1868 - apparently sold to Louisiana in 1848 following the <em>Pearl</em> Incident<span class="foot"><a href="#footn2" id="bodyn2">2</a></span><br/>
<em>+ Louisa Franklin</em> - b. abt 1838, Louisiana</li>
                <ul><!-- db children -->
                    <li>Marie A. Bell</li>
                    <li>Daniel Bell</li>
                    <li>Josephine Bell</li>
                    <li>Louisa Bell</li>
                    <li>William Bell</li>
                    <li>Lucretia Bell</li>
                    <li>Joseph Bell</li>
                    <li>Caroline Bell</li>
                </ul><!-- end db -->
            <li><%= link_to "Harriet Bell", person_path("per.001859") %> - b. abt 1835; d. bef 1875<span class="foot"><a href="#footn3" id="bodyn3">3</a></span> - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1865 - <%= link_to "petitioned", case_path("oscys.caseid.0247") %> for freedom against <%= link_to "Susan Armistead", person_path("per.001254") %> in 1846 <em>+ Thomas Snow (?)</em></li>
            <li><%= link_to "Eleanora 'Nora(h)' Bell", person_path("per.001850") %> - b. abt 1840; d. bef 1875<span class="foot"><a href="#footn4" id="bodyn4">4</a></span> - did not win 1849 <%= link_to "freedom petition", case_path("oscys.caseid.0248") %> against <%= link_to "Susan Armistead", person_path("per.001254") %> - gifted to <%= link_to "Sarah Jane (Armistead) O'Brien", person_path("per.001851") %> in February 1862; emancipated in April 1862<span class="foot"><a href="#footn5" id="bodyn5">5</a></span></li>
                <ul><!-- eb children -->
                    <li>Caroline - b. abt 1861 - gifted to <%= link_to "Sarah Jane (Armistead) O'Brien", person_path("per.001851") %>'s daughter, Mary Catherine, in February 1862 - emancipated in April 1862<span class="foot"><a href="#footn5" id="bodyn5">5</a></span></li>
                </ul>
            <li>Thomas Bell - b. abt 1845</li>
        </ul><!-- end db -->
    <li><%= link_to "Ann 'Annie' Bell", person_path("per.000772") %> - b. abt 1795, Maryland; d. May 1873, Washington, D.C. - bequeathed by Gerrard T. <%= link_to "Greenfield", {:name => "greenfield", :action => "sub"} %> to his son <%= link_to "Gabriel", person_path("per.000776") %> in 1796; left by Gabriel to his sister <%= link_to "Maria Anne", person_path("per.000777") %> who bequeathed her to her nephew <%= link_to "Gerard", person_path("per.000775") %> - successfully <%= link_to "petitioned", case_path("oscys.caseid.0104") %> for freedom in 1840</li>
        <ul><!-- ann children -->
            <li><%= link_to "Daniel Bell", person_path("per.000773") %> - freed 1840</li>
            <li><%= link_to "David Bell", person_path("per.000774") %> - freed 1840</li>
        </ul><!-- end ann -->
    <li><%= link_to "Caroline Bell", person_path("per.001813") %> - b. abt 1811, Prince George's County, Md. - bequeathed by Ann Greenfield to daughter Ann Truman Beall in 1810; <%= link_to "Susan G. Beall", person_path("per.000771") %> obtained title to Caroline through her mother's estate after 1810 - when she was claimed by Susan Beall's estate in 1849, Caroline <%= link_to "petitioned", case_path("oscys.caseid.0234") %> for her freedom; outcome unknown <em>+ William Butler - b. abt 1805, Washington, D.C.; d. Feb 1870, D.C.</em></li>
    <li>Harriet Bell - bequeathed by Ann Greenfield to son <%= link_to "Gabriel P. T. Greenfield", person_path("per.000776") %> in 1810; likely bequeathed to sister Sabina in 1815<br/>
<em>+ James Ash(e)</em> - very likely the same <%= link_to "James Ash", person_path("per.000816") %> formerly held by <%= link_to "Gerard T. Greenfield", person_path("per.000775") %> and freed by <%= link_to "petition", case_path("oscys.caseid.0149") %> in 1843</li>
        <ul><!-- harriet children -->
            <li>Albert Anthony Ash(e) - b. abt. 1840</li>
        </ul><!-- end harriet -->
    <li>Catherine "Kitty" Bell <em>+ ____ Carroll</em></li>
    <li>Eleanor Bell <em>+ ____ Tyler</em></li>
    <li>Priscilla Bell - mentioned only in the will of Ann <%= link_to "Greenfield", {:name => "greenfield", :action => "sub"} %>, bequeathed to <%= link_to "Maria Anne T. Greenfield", person_path("per.000777") %>; possibly the same person as Eleanor</li>
    </ul><!-- end lucy -->
</ul><!-- end tree -->
</p>

<hr/>

<h4>Notes</h4>
<div class="footnotes">

<p>The Bell Family Network was been gathered from court, probate, census, and Freedman's Bank records.</p>

<p><span class="notenumber" id="footn1">1.</span> Daniel <%= link_to "appears", doc_path("oscys.case.0242.001") %> as the "next friend" of his daughter Harriet for her petition for freedom in July 1846, which would suggest that he was free by that time. An article that circulated in papers around the eastern states in late 1848 stated that Daniel "got his freedom papers complete only some time last year." See, for example, "Beauties of the Slave System," <em>The True Wesleyan</em> [New York], September 23, 1848. <a href="#bodyn1">[back]</a></p>

<p><span class="notenumber" id="footn2">2.</span> For more on <em>The Pearl</em> Incident, see Mary Kay Ricks, <em>Escape on the Pearl: The Heroic Bid for Freedom on the Underground Railroad</em> (New York: HarperCollins, 2007). <a href="#bodyn2">[back]</a></p>

<p><span class="notenumber" id="footn3">3.</span> In his will dated December 27, 1875, Daniel bequeathed one fifth of his estate to "the sons and daughters of my deceased daughter Harriet." <a href="#bodyn3">[back]</a></p>

<p><span class="notenumber" id="footn4">4.</span> In his will dated December 27, 1875, Daniel left one fifth of his estate to Caroline, "the daughter of my now deceased daughter Norah." <a href="#bodyn4">[back]</a></p>

<p><span class="notenumber" id="footn5">5.</span> Norah and her daughter Caroline were emancipated in April 1862 under the Compensated Emancipation Act. In her petition, <%= link_to "Sarah Jane O'Brien", person_path("per.001851") %> described "Ellen Nora" as about 25 years old, "Dark Colour, about 5 feet 3 or 4 inches in Height very Healthy, and Good Worker. Caroline is aged 6 months a Mulatto, Good health." Sarah reported that Norah was a "Good Cook Washer and Ironer and Good Worker Generally." See <a href="http://civilwardc.org/texts/petitions/cww.00013.html" target="new">Petition of Sarah Jane O'Brien, 5 May 1862</a> in <em><a href="http://civilwardc.org" target="new">Civil War Washington</a></em>. For the Bills of Sale transferring Nora and her daughter from Susan Armistead to the O'Briens, see District of Columbia, Recorder of Deeds, Liber JAS 215, pp 389-391. <a href="#bodyn5">[back]</a></p>

</div>