


<h2>Bell Family Network</h2>

<p>The Bell family tried to use the courts to uphold their manumission. When the legal system failed them, they turned to the Underground Railroad and became involved in <em>The Pearl</em> Incident in 1848.</p>

<hr/>

<p>
<ul class="tree">
    <li><%= link_to "Mary Bell", person_path("per.001253") %> - b. abt 1795<span class="foot"><a href="#footn1" id="bodyn1">1</a></span> - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> upon the death of <%= link_to "Robert Armistead", person_path("per.001255") %>, but later claimed by his <%= link_to "widow", person_path("per.001254") %>; lost <%= link_to "freedom petition", case_path("oscys.caseid.0248") %> in 1847<br/><em>+ <%= link_to "Daniel Bell", person_path("per.001847") %></em></li>
        <ul><!-- mb children -->
            <li><%= link_to "Andrew Bell", person_path("per.001855") %> - b. abt 1819<span class="foot"><a href="#footn2" id="bodyn2">2</a></span> - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1859</li>
            <li><%= link_to "Mary E. Bell", person_path("per.001860") %> - b. abt 1827 - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1857</li>
            <li><%= link_to "Caroline Bell", person_path("per.001856") %> - b. abt 1829 - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1859</li>
            <li><%= link_to "George W. Bell", person_path("per.001858") %> - b. abt 1831 - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1866</li>
            <li><%= link_to "Daniel Bell", person_path("per.001857") %> - b. abt 1833 - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1868</li>
            <li><%= link_to "Harriet Bell", person_path("per.001859") %> - b. abt. 1835 - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1865 - <%= link_to "petitioned", case_path("oscys.caseid.0247") %> for freedom against <%= link_to "Susan Armistead", person_path("per.001254") %> in 1846</li>
            <li><%= link_to "Eleanora Bell", person_path("per.001850") %> - b. abt 1840<span class="foot"><a href="#footn3" id="bodyn3">3</a></span> - did not win 1849 <%= link_to "freedom petition", case_path("oscys.caseid.0248") %> against <%= link_to "Susan Armistead", person_path("per.001254") %></li>
            <li>Thomas Bell - b. abt 1845</li>
        </ul><!-- end mb -->
</ul>
</p>

<hr/>

<h4>Footnotes</h4>
<div class="footnotes">

<p><span class="notenumber" id="footn1">1.</span> Mary Bell's age is stated as 48 in a <%= link_to "certificate", doc_path("oscys.case.0172.008") %> dated 1843. <a href="#bodyn1">[back]</a></p>

<p><span class="notenumber" id="footn2">2.</span> The ages of Mary's first six children are listed in an <%= link_to "deed of manumission", doc_path("oscys.case.0243.007") %> dated 1835. <a href="#bodyn2">[back]</a></p>

<p><span class="notenumber" id="footn3">3.</span> Her <%= link_to "petition for freedom", doc_path("oscys.case.0243.007") %> dated  1849 gives Eleanora's age as eight years and seven months. <a href="#bodyn3">[back]</a></p>

</div>