


<h2>Bell Family Network</h2>

<p>The Bell family tried to use the courts to uphold their manumission. When the legal system failed them, they turned to the Underground Railroad and became involved in <em>The Pearl</em> Incident in 1848.</p>

<hr/>

<p>
<ul class="tree">
    <li><%= link_to "Mary Bell", person_path("per.001253") %> - b. abt 1795/1802<span class="foot"><a href="#footn1" id="bodyn1">1</a></span> - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> upon the death of <%= link_to "Robert Armistead", person_path("per.001255") %>, but later claimed by his <%= link_to "widow", person_path("per.001254") %>; lost her <%= link_to "freedom suit", case_path("oscys.caseid.0174") %> in December 1847; attempted to flee enslavement on board <em>The Pearl</em> with her eight children and two grandchildren in April 1848<span class="foot"><a href="#footn2" id="bodyn2">2</a></span><br/><em>+ <%= link_to "Daniel Bell", person_path("per.001847") %></em> - b. abt 1802/04, Prince George's County, Md. - purchased his freedom abt 1846/47<span class="foot"><a href="#footn3" id="bodyn3">3</a></span></li>
        <ul><!-- mb children -->
            <li><%= link_to "Andrew Bell", person_path("per.001855") %> - b. abt 1819<span class="foot"><a href="#footn4" id="bodyn4">4</a></span> - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1859</li>
            <li><%= link_to "Mary Ellen/Allen Bell", person_path("per.001860") %> - b. abt 1827 - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1857</li>
            <li><%= link_to "Caroline Bell", person_path("per.001856") %> - b. abt 1829 - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1859</li>
                <ul><!-- cb children  -->
                    <li>Catherine</li>
                    <li>John</li>
                </ul><!-- end cb -->
            <li><%= link_to "George W. Bell", person_path("per.001858") %> - b. abt 1831 - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1866</li>
            <li><%= link_to "Daniel Bell", person_path("per.001857") %> - b. abt 1833 - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1868</li>
            <li><%= link_to "Harriet Bell", person_path("per.001859") %> - b. abt 1835; d. bef 1875<span class="foot"><a href="#footn5" id="bodyn5">5</a></span> - <%= link_to "to be freed", doc_path("oscys.case.0243.007") %> in 1865 - <%= link_to "petitioned", case_path("oscys.caseid.0247") %> for freedom against <%= link_to "Susan Armistead", person_path("per.001254") %> in 1846</li>
            <li><%= link_to "Eleanora 'Norah' Bell", person_path("per.001850") %> - b. abt 1840; d. bef 1875<span class="foot"><a href="#footn6" id="bodyn6">6</a></span> - did not win 1849 <%= link_to "freedom petition", case_path("oscys.caseid.0248") %> against <%= link_to "Susan Armistead", person_path("per.001254") %> - gifted to <%= link_to "Sarah Jane (Armistead) O'Brien", person_path("per.001254") %>; emancipated in April 1862<span class="foot"><a href="#footn7" id="bodyn7">7</a></span></li>
                <ul><!-- eb children -->
                    <li>Caroline - emancipated in April 1862<span class="foot"><a href="#footn7" id="bodyn7">7</a></span></li>
                </ul>
            <li>Thomas Bell - b. abt 1845<span class="foot"><a href="#footn8" id="bodyn8">8</a></span></li>
        </ul><!-- end mb -->
</ul>
</p>

<hr/>

<h4>Footnotes</h4>
<div class="footnotes">

<p><span class="notenumber" id="footn1">1.</span> Mary's age is listed as 48 years in a <%= link_to "certificate", doc_path("oscys.case.0172.008") %> dated 1843; seven years later, the 1850 Census also gives her age at 48 years. See 1850 U.S. Federal Census, Washington Ward 7, Washington, District of Columbia, page 108A, dwelling 235, family 279, <em>Ancestry.com</em> (accessed September 26, 2016), citing NARA microfilm publication M432_57. <a href="#bodyn1">[back]</a></p>

<p><span class="notenumber" id="footn2">2.</span> For more on <em>The Pearl</em> Incindent, see Mary Kay Ricks, <em>Escape on the Pearl: The Heroic Bid for Freedom on the Underground Railroad</em> (New York: HarperCollins, 2007). <a href="#bodyn2">[back]</a></p>

<p><span class="notenumber" id="footn3">3.</span> The 1850 Census gives Daniel Bell's age as 46 years, while the 1860 census lists 58 years. See 1850 U.S. Federal Census; 1860 U.S. Census, Washington Ward 7, Washington, District of Columbia, page 174, dwelling 1268, family 1364, <em>Ancestry.com</em> (accessed September 26, 2016), citing NARA microfilm publication M653_104. Daniel <%= link_to "appears", doc_path("oscys.case.0242.001") %> as the "next friend" of his daughter Harriet for her petition for freedom in July 1846, which would suggest that he was free by that time. An article that circulated in papers around the eastern states in late 1848 stated that Daniel "got his freedom papers complete only some time last year." See, for example, "Beauties of the Slave System," <em>The True Wesleyan</em> [New York], September 23, 1848. <a href="#bodyn3">[back]</a></p>

<p><span class="notenumber" id="footn4">4.</span> The ages and manumission dates of Mary's first six children are listed in an <%= link_to "deed of manumission", doc_path("oscys.case.0243.007") %> dated 1835. <a href="#bodyn4">[back]</a></p>

<p><span class="notenumber" id="footn5">5.</span> In his will dated December 27, 1875, Daniel bequeathed one fifth of his estate to "the sons and daughters of my deceased daughter Harriet." <a href="#bodyn5">[back]</a></p>

<p><span class="notenumber" id="footn6">6.</span> Her <%= link_to "petition for freedom", doc_path("oscys.case.0243.007") %> dated  1849 gave Eleanora's age as eight years and seven months. In her father's will dated December 27, 1875, he left one fifth of his estate to Caroline, "the daughter of my now deceased daughter Norah." <a href="#bodyn6">[back]</a></p>

<p><span class="notenumber" id="footn7">7.</span> Norah and her daughter Caroline were emancipated in April 1862 under the Compensated Emancipation Act. In her petition, Sarah Jane O'Brien described "Ellen Nora" as about 25 years old, "Dark Colour, about 5 feet 3 or 4 inches in Height very Healthy, and Good Worker. Caroline is aged 6 months a Mulatto, Good health." Sarah reported that Norah was a "Good Cook Washer and Ironer and Good Worker Generally." See <a href="http://civilwardc.org/texts/petitions/cww.00013.html" target="new">Petition of Sarah Jane O'Brien, 5 May 1862</a> in <em><a href="http://civilwardc.org" target="new">Civil War Washington</a></em>. <a href="#bodyn7">[back]</a></p>

<p><span class="notenumber" id="footn8">8.</span> The 1850 Census lists Thomas Bell as 5 years old. See 1850 U.S. Federal Census. <a href="#bodyn8">[back]</a></p>

</div>