
<h2>Boston Family Network</h2>

<p>Multiple generations of the Boston family won their freedom in the General Court of the Western Shore in Maryland, arguing that as descendants of a free woman of Spanish or Portuguese origin, they should be entitled to their liberty.</p>

<hr/>

<p>
<ul class="tree">
<li><%= link_to "Maria Boston", person_path("per.006716") %> - "Hispaniola woman"</li>
    <ul><!-- start MB -->
        <li><%= link_to "Lenah Boston", person_path("per.006715") %> - b. abt 1680; d. abt 1749 - Spanish or Portuguese<br/>
        + <em><%= link_to "Bacon", person_path("per.006719") %></em></li>
            <ul><!-- start LB -->
                <li><%= link_to "Violet 'Vy' Boston", person_path("per.006717") %></li>
                    <ul><!-- start VB -->
                        <li><%= link_to "Anthony Boston", person_path("per.006711") %> - freed by 1791 petition against <%= link_to "Gassaway Rawlings", person_path("per.006712") %></li>
                        <li><%= link_to "Daniel Boston", person_path("per.006713") %> - freed by 1791 petition against <%= link_to "Anne Watkins", person_path("per.006714") %></li>
                        <li><%= link_to "Darkey Boston", person_path("per.006808") %></li>
                            <ul><!-- start DB -->
                                <li><%= link_to "Peter Boston", person_path("per.006810") %> - enslaved by <%= link_to "Stephen Steward", person_path("per.006813") %></li>
                                <li><%= link_to "Richard Boston", person_path("per.006812") %> - freed by 1791 petition against <%= link_to "Joshua Warfield", person_path("per.006814") %></li>
                                <li><%= link_to "Bacon Boston", person_path("per.006807") %> - enslaved by <%= link_to "Gassaway Watkins", person_path("per.006792") %></li>
                            </ul><!-- end DB -->
                        <li><%= link_to "Bacon Boston", person_path("per.006803") %> - freed by 1791 petition against <%= link_to "Charles Wallace", person_path("per.006804") %></li>
                        <li><%= link_to "Nanny Boston", person_path("per.006852") %> - enslaved by <%= link_to "Gassaway Watkins", person_path("per.006792") %> and <%= link_to "Henry Hall", person_path("per.006753") %></li>
                            <ul><!-- start NB -->
                                <li><%= link_to "Daniel Boston", person_path("per.006724") %> - freed by 1792 petition against <%= link_to "Henry Hall", person_path("per.006753") %></li>
                                <li><%= link_to "Betty Boston", person_path("per.006853") %></li>
                            </ul><!-- end NB -->
                    </ul><!-- end VB -->
                <li><%= link_to "Sarah Boston", person_path("per.006728") %></li>
                    <ul><!-- start SB -->
                        <li><%= link_to "Hannah Boston", person_path("per.006842") %></li>
                            <ul><!-- start HB -->
                                <li><%= link_to "Dinah Boston", person_path("per.006838") %></li>
                                    <ul><!-- start DB -->
                                        <li><%= link_to "Peter Boston", person_path("per.006849") %> - freed by 1791 petition against <%= link_to "Richard Richardson", person_path("per.006778") %></li>
                                        <li><%= link_to "John Boston", person_path("per.006845") %> - freed by 1791 petition against <%= link_to "Richard Richardson", person_path("per.006778") %></li>
                                    </ul><!-- end DB -->
                                <li><%= link_to "Minta Boston", person_path("per.006847") %></li>
                                    <ul><!-- start MB -->
                                        <li><%= link_to "Deborah Boston", person_path("per.006837") %> - freed by 1791 petition against <%= link_to "Richard Richardson", person_path("per.006778") %></li>
                                    </ul><!-- end MB -->
                                <li><%= link_to "Guy Boston", person_path("per.006841") %> - filed 1791 petition against <%= link_to "Richard Richardson", person_path("per.006778") %> - died before October 1795</li>
                            </ul><!-- end HB -->
                    </ul><!-- end SB -->
                <li><%= link_to "Maria Boston", person_path("per.006725") %> - enslaved by <%= link_to "William Richardson", person_path("per.006779") %> and <%= link_to "Daniel Richardson", person_path("per.006777") %> </li>
                    <ul><!-- start MB -->
                        <li><%= link_to "Nelly Boston", person_path("per.006848") %> - enslaved by <%= link_to "Thomas Sprigg", person_path("per.006785") %></li>
                            <ul><!-- start NB -->
                                <li><%= link_to "John Boston", person_path("per.006831") %> - freed by 1791 petition against <%= link_to "John Francis Mercer", person_path("per.006832") %></li>
                                <li><%= link_to "Jenny Boston", person_path("per.006844") %> - freed by 1791 petition against <%= link_to "John Francis Mercer", person_path("per.006832") %></li>
                                    <ul><!-- start JB -->
                                        <li><%= link_to "Fanny Boston", person_path("per.006839") %> - freed by 1791 petition against <%= link_to "John Francis Mercer", person_path("per.006832") %></li>
                                        <li><%= link_to "Henny/Henry Boston", person_path("per.006843") %> - freed by 1791 petition against <%= link_to "John Francis Mercer", person_path("per.006832") %></li>
                                        <li><%= link_to "Anne Boston", person_path("per.006833") %> - freed by 1791 petition against <%= link_to "John Francis Mercer", person_path("per.006832") %></li>
                                        <li><%= link_to "Bet Boston", person_path("per.006835") %> - freed by 1791 petition against <%= link_to "John Francis Mercer", person_path("per.006832") %></li>
                                        <li><%= link_to "Daniel Boston", person_path("per.006836") %> - freed by 1791 petition against <%= link_to "John Francis Mercer", person_path("per.006832") %></li>
                                    </ul><!-- end JB -->
                                <li><%= link_to "Benjamin Boston", person_path("per.006834") %> - freed by 1791 petition against <%= link_to "Richard Sprigg", person_path("per.006829") %></li>
                                <li><%= link_to "Philip Boston", person_path("per.006850") %> - freed by 1791 petition against <%= link_to "Richard Sprigg", person_path("per.006829") %></li>
                                <li><%= link_to "Maria Boston", person_path("per.006846") %> - filed freedom suit against <%= link_to "Richard Sprigg", person_path("per.006829") %></li>
                                    <ul><!-- start MB -->
                                        <li><%= link_to "George Boston", person_path("per.006854") %> - freed by 1791 petition against <%= link_to "Richard Sprigg", person_path("per.006829") %></li>
                                        <li><%= link_to "Nathan Boston", person_path("per.006857") %> - freed by 1791 petition against <%= link_to "Richard Sprigg", person_path("per.006829") %></li>
                                        <li><%= link_to "Daniel Boston", person_path("per.006856") %> - freed by 1791 petition against <%= link_to "Richard Sprigg", person_path("per.006829") %></li>
                                    </ul><!-- end MB -->
                            </ul><!-- end NB -->
                    </ul><!-- end MB -->
                <li>unknown daughter of Lenah Boston</li>
                    <ul><!-- start unk -->
                        <li><%= link_to "Jenny Boston", person_path("per.006809") %></li>
                            <ul><!-- start JB -->
                                <li><%= link_to "Peter Boston", person_path("per.006811") %> - enslaved by <%= link_to "Richard Wells", person_path("per.006815") %></li>
                            </ul><!-- end JB -->
                    </ul><!-- end unk -->
                <li><%= link_to "Daniel Boston", person_path("per.006862") %></li>
                <li><%= link_to "Ned Boston", person_path("per.006727") %></li>
                <li><%= link_to "Tomey/Toney Boston", person_path("per.006730") %></li>
                <li><%= link_to "Caesar Boston", person_path("per.006723") %></li>
                <li><%= link_to "Simon Boston", person_path("per.006729") %></li>
                <li><%= link_to "Nat Boston", person_path("per.006726") %></li>
                <li><%= link_to "Bacon Boston", person_path("per.006722") %></li>   
            </ul><!-- end LB --> 
</ul><!-- end MB -->
</ul><!-- end tree -->
</p>


<hr/>

<h3>Unknown Branches</h3>

<p class="small">The following are descendants of Lenah Boston, though it is uncertain from the documents through which line.</p> 

<p>
<ul class="tree">
<li><%= link_to "Deborah Boston", person_path("per.006821") %> - freed by 1791 petition against <%= link_to "Benjamin Ogle", person_path("per.006817") %></li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Henry Boston", person_path("per.006819") %> - freed by 1791 petition against <%= link_to "Benjamin Ogle", person_path("per.006817") %></li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Jacob Boston", person_path("per.006818") %> - freed by 1791 petition against <%= link_to "Benjamin Ogle", person_path("per.006817") %></li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Maria Boston", person_path("per.006816") %> - freed by 1791 petition against <%= link_to "Benjamin Ogle", person_path("per.006817") %></li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Polly Boston", person_path("per.006820") %> - freed by 1791 petition against <%= link_to "Benjamin Ogle", person_path("per.006817") %></li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Tamar Boston", person_path("per.006823") %> - freed by 1791 petition against <%= link_to "Benjamin Ogle", person_path("per.006817") %></li>
    <ul>
        <li><%= link_to "George Boston", person_path("per.006840") %> - freed by 1791 petition against <%= link_to "James Murray", person_path("per.006851") %></li>
    </ul>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Thomas Boston", person_path("per.006822") %> - freed by 1791 petition against <%= link_to "Benjamin Ogle", person_path("per.006817") %></li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Abraham Boston", person_path("per.006824") %> - freed by 1791 petition against <%= link_to "Edward Dorsey", person_path("per.006825") %></li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Leonard Boston", person_path("per.006826") %> - filed 1791 petition against <%= link_to "Samuel Tyler", person_path("per.006827") %></li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Hannah Boston", person_path("per.006830") %> - filed 1791 petition against <%= link_to "Richard Sprigg", person_path("per.006829") %> - died before May 1793</li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Nell Boston", person_path("per.006828") %> - filed 1791 petition against <%= link_to "Richard Sprigg", person_path("per.006829") %> - died before May 1793</li>
</ul>
</p>

