


<h2>Brown Family Network</h2>

<p>Richard Brown initiated a gradual emancipation of one of his enslaved <%= link_to "families", {:name => "graham", :action => "sub"} %> by specifying in his will that Molly and all of her children would be free when they reach the age of 31 years. <!--His daughter, Elizabeth inherited Molly and her children from her father, and half a century later, she sold one of these children, Milly, and her two daughters to her sister, Francis Alexander, with the condition that Milly and the children be freed when they reach 31. By the late 1830s, two of Milly's children were still enslaved by Mrs. Alexander's heirs. Moses Graham and Rachel Graham successfully petitioned the Court for their freedom.--> This condition of term slavery was passed down to Molly's descendents, but in several instances, required intervention from a court of law to be carried out.</p>

<hr/>


<p>
<ul class="tree">
    <li>Rev. Richard Brown - d. 1789 - <%= link_to "bequeathed", doc_path("oscys.case.0435.010") %> Molly and her children to Elizabeth</li>
        <ul><!-- children of rb -->
            <li><%= link_to "Elizabeth Brown", person_path("per.001348") %> - d. 1825 - <%= link_to "sold", doc_path("oscys.case.0179.003") %> <%= link_to "Milly Dunbar", person_path("per.001352") %>, <%= link_to "Ann Graham", person_path("per.001345") %>, and <%= link_to "Rachel Graham", person_path("per.001355") %> to Frances in 1813<!-- - ten years later, she <%= link_to "devised in her will", doc_path("oscys.case.0179.003") %> that her executor should purchase the remaining time of Milly and her children and set them free--></li>
            <li>Ann Brown</li>
            <li>Alexander Brown</li>
            <li><%= link_to "Frances Brown", person_path("per.001347") %> - d. 1823 - <%= link_to "purchased", doc_path("oscys.case.0179.003") %> <%= link_to "Milly Dunbar", person_path("per.001352") %>, <%= link_to "Ann Graham", person_path("per.001345") %>, and <%= link_to "Rachel Graham", person_path("per.001355") %> from Elizabeth<br/><em>+ Charles Alexander</em></li>
                <ul><!-- children of fb -->
                    <li><%= link_to "Frances Alexander", person_path("per.001357") %> - <%= link_to "inherited", doc_path("oscys.case.0435.006") %> <%= link_to "Rachel Graham", person_path("per.001355") %> from her brother
                    <br/><em>+ <%= link_to "William T. Swann", person_path("per.001359") %></em></li>
                        <ul><!-- children of fa -->
                            <li><%= link_to "Mary Swann", person_path("per.001358") %></li>
                        </ul><!-- end fa -->
                    <li>Lee Massey Alexander - d. 1823 - <%= link_to "inherited", doc_path("oscys.case.0435.002") %> <%= link_to "Rachel Graham", person_path("per.001355") %> from his mother</li>
                    <li>Dr. <%= link_to "Richard B. Alexander", person_path("per.001343") %> - <%= link_to "inherited", doc_path("oscys.case.0435.011") %> <%= link_to "Moses Graham", person_path("per.001342") %> as administrator to his mother's will</li>
                    <li><%= link_to "William B. Alexander", person_path("per.001344") %></li>
                </ul><!-- end fb -->
            <li>John Brown</li>
            <li>Robert Brown</li>
                <ul><!-- children of rb -->
                    <li>Richard Brown</li>
                </ul><!-- end rb -->
            <li>Helen Bailey Brown<br/><em>+ William Magruder</em></li>
                <ul><!-- children of hb -->
                    <li><%= link_to "Elizabeth Magruder", person_path("per.001351") %></li>
                </ul><!-- end hb -->
            <li>Richard Brown</li>
            <li>Dr. Gustavus Brown</li>
            <li><%= link_to "Sarah Brown", person_path("per.001364") %><br/><em>+ <%= link_to "Charles Tyler", person_path("per.001361") %></em></li>
                <ul><!-- children of sb -->
                    <li><%= link_to "Elizabeth Tyler", person_path("per.001362") %></li>
                    <li><%= link_to "Richard B. Tyler", person_path("per.001363") %></li>
                </ul><!-- end sb -->
            <li>Dr. William Brown</li>
        </ul><!-- end rb -->
</ul><!-- end tree -->
</p>



<hr/>

<h4>Sources</h4>
<div class="footnotes">

<p>The Brown lineage revealed in the court records has been cross-referenced with the genealogical research at "<a href="http://www.colonial-settlers-md-va.us/index.php" target="new">Early Colonial Settlers of Southern Maryland and Virginia's Northern Neck Counties</a>," and information filled in where necessary: i.e. the names of Frances Brown's and Frances Alexander's husbands. See <a href="http://www.colonial-settlers-md-va.us/getperson.php?personID=I008761" target="new">Richard Rev. Browne</a>.</p>

</div>