


<h2>Brown Family Network</h2>

<p>Richard Brown initiated a gradual emancipation of one of his enslaved <%= link_to "families", {:name => "graham", :action => "sub"} %> by specifying in his will that Molly and all of her children would be free when they reach the age of 31 years. <!--His daughter, Elizabeth inherited Molly and her children from her father, and half a century later, she sold one of these children, Milly, and her two daughters to her sister, Francis Alexander, with the condition that Milly and the children be freed when they reach 31. By the late 1830s, two of Milly's children were still enslaved by Mrs. Alexander's heirs. Moses Graham and Rachel Graham successfully petitioned the Court for their freedom.--> This condition of term slavery was passed down to Molly's descendents, but in several instances, required intervention from a court of law to be carried out.</p>

<hr/>


<p>
<ul class="tree">
<li>Dr. Gustavus Brown - b. April 10, 1689, Dalkeith, Scotland; d. April 1762, Rich Hill, MD - immigrated to Maryland in 1708<br/><em>+ (1) Frances Fowke</em> - b. February 2, 1691; November 8, 1744</li>
<ul><!-- children of Gustavus -->
    <li>Gustavus Brown - b. December 7, 1711; d. September 8, 1712</li>
    <li>Frances Brown - b. July 29, 1713</li>
    <li>Sarah Brown - b. August 29, 1715</li>
    <li>Mary Brown - b. December 8, 1717</li>
    <li>Christian Brown - b. August 29, 1720; d. September 17, 1742</li>
    <li>Gustuvus Brown - b. September 5, 1722; d. September 13, 1733</li>
    <li>Elizabeth Brown - b. October 5, 1723</li>
    <li>Rev. <!--<%= link_to "Richard Brown", person_path("per.003632") %>-->Richard Brown - b. December 2, 1725; d. 1789 - was a controversial Rector of King &amp; Queen Parish, St. Mary's County, Md.; accused but not charged of murdering one of his slaves; <%= link_to "bequeathed", doc_path("oscys.case.0435.010") %> Molly<!--<%= link_to "Molly", person_path("per.003636") %>--> and her children to his daughter <%= link_to "Elizabeth", person_path("per.001348") %><br/><em>+ (1) Helen Bailey</em></li>
        <ul><!-- children of rb -->
            <li><%= link_to "Elizabeth Brown", person_path("per.001348") %> - d. 1825 - <%= link_to "sold", doc_path("oscys.case.0179.003") %> <%= link_to "Milly Dunbar", person_path("per.001352") %>, <%= link_to "Ann Graham", person_path("per.001345") %>, and <%= link_to "Rachel Graham", person_path("per.001355") %> to Frances in 1813<!-- - ten years later, she <%= link_to "devised in her will", doc_path("oscys.case.0179.003") %> that her executor should purchase the remaining time of Milly and her children and set them free--></li>
            <li>Ann Brown<!--<%= link_to "Ann Brown", person_path("per.003646") %>--></li>
            <li>Alexander Brown<!--<%= link_to "Alexander Brown", person_path("per.003645") %>--> - d. abt 1794</li>
            <li><%= link_to "Frances Brown", person_path("per.001347") %> - d. 1823 - <%= link_to "purchased", doc_path("oscys.case.0179.003") %> <%= link_to "Milly Dunbar", person_path("per.001352") %>, <%= link_to "Ann Graham", person_path("per.001345") %>, and <%= link_to "Rachel Graham", person_path("per.001355") %> from Elizabeth<br/><em>+ Charles Alexander</em></li>
                <ul><!-- children of fb -->
                    <li>Charles Alexander</li>
                    <li>Susannah Pearson Alexander <em>+ George Chapman</em></li>
                    <li><%= link_to "William B. Alexander", person_path("per.001344") %> - <%= link_to "security", doc_path("oscys.case.0179.005") %> for his <%= link_to "brother", person_path("per.001343") %>'s appeal against <%= link_to "Moses Graham", person_path("per.001342") %></li>
                    <li>Dr. <%= link_to "Richard B. Alexander", person_path("per.001343") %> - <%= link_to "inherited", doc_path("oscys.case.0435.011") %> <%= link_to "Moses Graham", person_path("per.001342") %> as administrator to his mother's will; claimed <%= link_to "Christy Dunbar", person_path("per.001346") %> and her children</li>
                    <li>Gustavus B. Alexander</li>
                    <li>Lee Massey Alexander<!--<%= link_to "Lee Massey Alexander", person_path("per.003631") %>--> - d. 1823 - <%= link_to "inherited", doc_path("oscys.case.0435.002") %> <%= link_to "Rachel Graham", person_path("per.001355") %> from his mother</li>
                    <li><%= link_to "Frances Alexander", person_path("per.001357") %> - <!-- need to add link to oscys.case.0436.007 when uploaded -->inherited <%= link_to "Ann Graham", person_path("per.001345") %> from her mother <%= link_to "and", doc_path("oscys.case.0435.006") %> <%= link_to "Rachel Graham", person_path("per.001355") %> from her brother Lee
                    <br/><em>+ <%= link_to "William T. Swann", person_path("per.001359") %></em></li>
                        <ul><!-- children of fa -->
                            <li><%= link_to "Mary Swann", person_path("per.001358") %></li>
                            <li><%= link_to "Edward Swann", person_path("per.001366") %> - co-counsel in freedom suits against his mother and uncle</li>
                            <li><%= link_to "William Thomas Swann", person_path("per.001367") %> - co-counsel in freedom suits against his mother and uncle</li>
                        </ul><!-- end fa -->

                </ul><!-- end fb -->
            <li>John Brown<!--<%= link_to "John Brown", person_path("per.003650") %>--> - denied any inheritance by his father's <%= link_to "will", doc_path("oscys.case.0435.010") %></li>
            <li>Robert Brown<!--<%= link_to "Robert Brown", person_path("per.003653") %>--></li>
                <ul><!-- children of rb -->
                    <li>Richard Brown<!--<%= link_to "Richard Brown", person_path("per.003652") %>--></li>
                </ul><!-- end rb -->
            <li>Helen Bailey Brown<br/><em>+ William Magruder<!--<%= link_to "William Magruder", person_path("per.003673") %>--></em></li>
                <ul><!-- children of hb -->
                    <li><%= link_to "Elizabeth Magruder", person_path("per.001351") %></li>
                </ul><!-- end hb -->
            <li>Richard Brown<!--<%= link_to "Richard Brown", person_path("per.003651") %>--></li>
            <li>Dr. <!--<%= link_to "Gustavus Brown", person_path("per.003648") %>-->Gustavus Brown - b. 1751; d. July 3, 1801</li>
            <li><%= link_to "Sarah Brown", person_path("per.001364") %><br/><em>+ <%= link_to "Charles Tyler", person_path("per.001361") %></em></li>
                <ul><!-- children of sb -->
                    <li><%= link_to "Elizabeth Tyler", person_path("per.001362") %></li>
                    <li><%= link_to "Richard B. Tyler", person_path("per.001363") %> - executor of <%= link_to "Elizabeth Brown", person_path("per.001348") %>'s <%= link_to "will", doc_path("oscys.case.0179.003") %></li>
                </ul><!-- end sb -->
            <li>Dr. <!--<%= link_to "William Brown", person_path("per.003654") %>-->William Brown - d. December 20, 1792<br/><em>+ Catharine Scott</em></li>
                <ul><!-- wb children -->
                    <li>Dr. Gustavus Alexander Brown</li>
                </ul><!-- end wb -->
        </ul><!-- end rb -->
        &#160;&#160;&#160;<em>+ (2) ___ (Black) Key &#160; + (3) Catherine (Smoot) Hawkins<!--<%= link_to "Catharine (Smoot) Hawkins", person_path("per.003647") %>--></em>
    <li>Gustavus Brown - b. May 30, 1727; d. June 9, 1727</li>
    <li>Jean Brown - b. June 1, 1728
    <li>Celia Brown - b. abt 1730 <em>+ (1) Dr. John Key - see <%= link_to "Key Family", {:name => "key", :action => "sub"} %> tree &#160; + (2) Thomas Bond</em></li>
    <li>Ann Brown - b. 1732 </li>
</ul><!-- end gb -->
 &#160;&#160; <em>+ (2) Margaret (Black) Boyd</em>
<ul><!-- more gb children -->
    <li>Dr. <!--<%= link_to "Gustavus Richard Brown", person_path("per.003649") %>-->Gustavus Richard Brown - b. October 17, 1747, Rich Hill, Md.; d. September 30, 1804 - was one of the physicians attending George Washington when he died</li>
    <li>Margaret Brown - b. abt 1749; d. June 1, 1787 <em>+ Thomas Stone, signer of the Declaration of Independence</em></li>
</ul><!-- end more gb -->
</ul><!-- end tree -->
</p>



<hr/>

<h4>Sources</h4>
<div class="footnotes">

<p>The Brown lineage revealed in the court records has been cross-referenced with the genealogical research at "<a href="http://www.colonial-settlers-md-va.us/index.php" target="new">Early Colonial Settlers of Southern Maryland and Virginia's Northern Neck Counties</a>," and information filled in where necessary: i.e. the names of Frances Brown's and Frances Alexander's husbands, the forename of Mrs. Chapman and her husband. See <a href="http://www.colonial-settlers-md-va.us/getperson.php?personID=I008761" target="new">Richard Rev. Browne</a>.</p>

<p>The ancestry of Rev. Richard Brown and the connection to the Key family has been taken from the prayer book of Gustavus Brown, published by Horace Edwin Hayden and his subsequent notes. See Horace Edwin Hayden, <em>Virginia Genealogies</em> (Wilkes-Barre, PA: E.B. Yordy, 1885), 147-154; 164-165; 167-169; 182. See also Frederick Horner, <em>The History of the Blair, Banister, and Braxton Families Before and After the Revolution</em> (Philadelphia: J. B. Lippincott Company, 1898), pp. 220-222.</p>

<p>For biographical sketches on the many physicians in the Brown family see "Necrology," <em>The Journal of American Medical Association</em> 20 (1883), pp. 600-602.</p>

</div>