
<h2>Butler Family Network</h2>

<p>The Butler family from Charles, Montgomery, Prince George's, and St. Mary's Counties, Maryland, sued for their freedom between 1763-1828, claiming descent from a free woman named Eleanor Butler. Another Butler family, possibly related to this one, petitioned for freedom in Washington, D.C., and claimed that they were brought into the District from Maryland in violation of the Maryland importation law.</p>

<hr/>

<p>
<ul class="tree">
<li><%= link_to "Eleanor 'Irish Nell' Butler", person_path("per.006312") %> - b. abt 1669<br/>
<em>+ <%= link_to "Charles", person_path("per.006313") %></em></li>
    <ul><!-- start eb -->
        <li><%= link_to "John 'Jack' Butler", person_path("per.006314") %> - b. abt 1687</li>
        <li><%= link_to "Sarah 'Sally' Butler", person_path("per.006315") %> - b. abt 1690; d. abt 1778</li>
        <ul><!-- start sb -->
            <li><%= link_to "Charles Butler", person_path("per.006516") %></li>
            <li><%= link_to "Eleanor 'Nell' Butler", person_path("per.006517") %></li>
            <ul><!-- start eb2 -->
                <li><%= link_to "Monica Butler", person_path("per.006532") %></li>
                    <ul><!-- start mb -->
                        <li><%= link_to "Charles Butler", person_path("per.006543") %></li>
                        <li><%= link_to "Robert Butler", person_path("per.006541") %> - enslaved by <%= link_to "Edmund Plowden", person_path("per.001977") %></li>
                        <li><%= link_to "Stephen Butler", person_path("per.006408") %> - filed freedom suit in 1788 against <%= link_to "Charles Carroll", person_path("per.006409") %></li>
                        <li><%= link_to "Harry Butler", person_path("per.006542") %> - enslaved by <%= link_to "William Chandler Brent", person_path("per.005327") %></li>       
                    </ul><!-- end mb -->
                <li><%= link_to "Hopy Butler", person_path("per.006533") %></li>
                    <ul><!-- start hb -->
                        <li><%= link_to "Thomas Butler", person_path("per.006549") %> - enslaved by <%= link_to "Gerrard Bond", person_path("per.006550") %></li>
                    </ul><!-- end hb -->
                <li><%= link_to "Sarah Butler", person_path("per.006534") %> - filed freedom suit in 1790 against <%= link_to "Henry Sothoron", person_path("per.006588") %></li>
                    <ul><!-- start sb -->
                        <li><%= link_to "Sarah Butler", person_path("per.006640") %> - filed freedom suit in 1790 against <%= link_to "Henry Sothoron", person_path("per.006588") %></li>
                        <li><%= link_to "William Butler", person_path("per.006568") %> - filed freedom suit in 1790 against <%= link_to "Samuel Bond", person_path("per.006569") %></li>
                        <li><%= link_to "Samuel Butler", person_path("per.006587") %> - filed freedom suit in 1790 against <%= link_to "William Bond", person_path("per.006540") %></li>
                        <li><%= link_to "John Butler", person_path("per.006624") %> - filed freedom suit in 1790 against <%= link_to "Henry Garner", person_path("per.006625") %></li>
                        <li><%= link_to "Eleanor Butler", person_path("per.006628") %> - filed freedom suit in 1790 against <%= link_to "Nicholas Peers", person_path("per.006629") %></li>
                    </ul><!-- end sb -->
                <li><%= link_to "Abigail Butler", person_path("per.006630") %> - filed freedom suit in 1790 against <%= link_to "Henrietta Plowden", person_path("per.006461") %></li>
                    <ul><!-- start ab -->
                        <li><%= link_to "Benjamin Butler", person_path("per.006631") %> - filed freedom suit in 1790 against <%= link_to "Henrietta Plowden", person_path("per.006461") %></li>
                        <li><%= link_to "Stephen Butler", person_path("per.006632") %> - filed freedom suit in 1790 against <%= link_to "Henrietta Plowden", person_path("per.006461") %></li>
                        <li><%= link_to "Samuel Butler", person_path("per.006633") %> - filed freedom suit in 1790 against <%= link_to "Henrietta Plowden", person_path("per.006461") %></li>
                        <li><%= link_to "Nell Butler", person_path("per.006634") %> - filed freedom suit in 1790 against <%= link_to "Henrietta Plowden", person_path("per.006461") %></li>
                        <li><%= link_to "Hopey Butler", person_path("per.006635") %> - filed freedom suit in 1790 against <%= link_to "Henrietta Plowden", person_path("per.006461") %></li>
                        <li><%= link_to "Jenny Butler", person_path("per.006636") %> - filed freedom suit in 1790 against <%= link_to "Henrietta Plowden", person_path("per.006461") %></li>
                        <li><%= link_to "Nancy Butler", person_path("per.006637") %> - filed freedom suit in 1790 against <%= link_to "Henrietta Plowden", person_path("per.006461") %></li>
                        <li><%= link_to "Milly Butler", person_path("per.006638") %> - filed freedom suit in 1790 against <%= link_to "Henrietta Plowden", person_path("per.006461") %></li>
                    </ul><!-- end ab -->
                <li><%= link_to "Charles Butler", person_path("per.006535") %> - enslaved by <%= link_to "William Bond", person_path("per.006540") %></li>
                <li><%= link_to "Anthony Butler", person_path("per.006536") %> - enslaved by <%= link_to "Clement Gardiner", person_path("per.005087") %></li>
                <li><%= link_to "Sam Butler", person_path("per.006537") %></li>
                <li><%= link_to "Nace Butler", person_path("per.006538") %></li>
                <li><%= link_to "Len Butler", person_path("per.006539") %></li>
            </ul><!-- end eb2 -->
            <li><%= link_to "Sarah Butler", person_path("per.006414") %> - enslaved by <%= link_to "George Sly", person_path("per.006618") %></li>
                <ul><!-- start sb -->
                    <li><%= link_to "Henny Butler", person_path("per.006412") %> - filed freedom suit in 1790 against <%= link_to "Charles Carroll", person_path("per.006409") %></li>
                    <li><%= link_to "Joseph Butler", person_path("per.006413") %> - b. abt 1738 - enslaved by <%= link_to "Edmund Plowden", person_path("per.001977") %> and <%= link_to "George Sly", person_path("per.006618") %>; freed</li>
                    <li><%= link_to "Jeremiah Butler", person_path("per.006519") %></li>
                    <li><%= link_to "George Butler", person_path("per.006520") %> - enslaved by <%= link_to "Edmund Plowden", person_path("per.001977") %></li>
                    <li><%= link_to "Letty Butler", person_path("per.006574") %> - filed freedom suit in 1788 against <%= link_to "Anne Digges", person_path("per.006572") %></li>
                        <ul><!-- start lb -->
                            <li><%= link_to "Lydia Butler", person_path("per.006571") %> - enslaved by <%= link_to "Anne Digges", person_path("per.006572") %></li>
                            <li><%= link_to "Sarah Butler", person_path("per.006573") %> - enslaved by <%= link_to "Anne Digges", person_path("per.006572") %></li>
                        </ul><!-- end lb -->
                    <li><%= link_to "Milly Butler", person_path("per.006619") %> - filed freedom suit in 1788 against <%= link_to "Henry Neale", person_path("per.006620") %></li>
                </ul><!-- end sb -->
            <li><%= link_to "Monica Butler", person_path("per.006518") %></li>
                <ul><!-- start mb -->
                    <li><%= link_to "Sarah Butler", person_path("per.006545") %></li>
                        <ul><!-- start sb -->
                            <li><%= link_to "Thomas Butler", person_path("per.006547") %> - enslaved by <%= link_to "William Henry Roach", person_path("per.006548") %></li>
                        </ul><!-- end sb -->
                </ul><!-- end mb -->
        </ul><!-- end sb -->
        <li><%= link_to "Catharine 'Kate' Butler", person_path("per.006316") %> - b. abt 1692; d. abt 1760 - enslaved by <%= link_to "John Baptist Boarman", person_path("per.006344") %></li>
            <ul><!-- start cb -->
                <li><%= link_to "Pegg 'Peggy' Butler", person_path("per.006342") %> - enslaved by <%= link_to "Ignatius Boarman", person_path("per.006343") %></li>
                    <ul><!-- start pb -->
                        <li><%= link_to "Mary 'Moll' Butler", person_path("per.006304") %> - filed freedom suit in 1763 against <%= link_to "Richard Boarman", person_path("per.006305") %></li>
                        <ul><!-- starb mb -->
                            <li><em>see children of William and Mary Butler <a href="#wam">below</a></em></li>
                        </ul><!-- end mb -->
                        <li><%= link_to "Peggy Butler", person_path("per.006683") %> - enslaved by <%= link_to "Jane Boarman", person_path("per.006682") %></li>
                            <ul><!-- start pb2 -->
                                <li><%= link_to "Clare Butler", person_path("per.006681") %> - filed freedom suit in 1792 against <%= link_to "Jane Boarman", person_path("per.006682") %></li>
                                <li><%= link_to "Matthew Butler", person_path("per.006684") %> - filed freedom suit in 1792 against <%= link_to "Jane Boarman", person_path("per.006682") %></li>
                                <li><%= link_to "Lewis Butler", person_path("per.006685") %> - filed freedom suit in 1792 against <%= link_to "Jane Boarman", person_path("per.006682") %></li>
                                <li><%= link_to "Charley Butler", person_path("per.006689") %> - filed freedom suit in 1792 against <%= link_to "Jane Boarman", person_path("per.006682") %> </li>
                            </ul><!-- end pb2 -->
                        <li><%= link_to "Ignatius Butler", person_path("per.006621") %> - filed freedom suit in 1789 against <%= link_to "John Ford", person_path("per.006622") %></li>
                    </ul><!-- end pb -->
                <li><%= link_to "Ned Butler", person_path("per.006348") %> - b. abt 1718 - enslaved by <%= link_to "Joseph Piles", person_path("per.006359") %></li>
                <li><%= link_to "Jack Butler", person_path("per.006369") %></li>
                <li><%= link_to "Jenny Butler", person_path("per.006370") %></li>
            </ul><!-- end cb -->
        <li><%= link_to "Elizabeth 'Abigail' Butler", person_path("per.006323") %> - b. abt 1699; d. abt 1737</li>
            <ul><!-- start eab -->
                <li id="wam"><%= link_to "William Butler", person_path("per.006303") %> - b. abt 1727 - filed freedom suit in 1763 against <%= link_to "Richard Boarman", person_path("per.006305") %><br/>
                <em>+ <%= link_to "Mary 'Moll' Butler", person_path("per.006304") %></em> - filed freedom suit in 1763 against <%= link_to "Richard Boarman", person_path("per.006305") %></li>
                <ul><!-- start wmb -->
                    <li><%= link_to "William Lazarus Butler", person_path("per.006483") %> - filed freedom suit in 1786 against <%= link_to "William Knott", person_path("per.006501") %></li>
                    <li><%= link_to "Mary Butler", person_path("per.006469") %> - filed freedom suit in 1783 against <%= link_to "Adam Craig", person_path("per.006470") %></li>
                        <ul><!-- start mb2 -->
                            <li><%= link_to "Samuel Butler", person_path("per.006589") %> - filed freedom suit in 1790 against <%= link_to "Adam Craig", person_path("per.006470") %></li>
                            <li><%= link_to "Flora Butler", person_path("per.006590") %> - filed freedom suit in 1790 against <%= link_to "Adam Craig", person_path("per.006470") %></li>
                            <li><%= link_to "Tracey Butler", person_path("per.006591") %> - filed freedom suit in 1790 against <%= link_to "Adam Craig", person_path("per.006470") %></li>
                        </ul><!-- end mb2 -->
                    <li><%= link_to "Teresa Butler", person_path("per.006680") %> - filed freedom suit in 1790 against <%= link_to "Eleanor Bradford", person_path("per.005056") %></li>
                    <li><%= link_to "Nan Butler", person_path("per.006487") %></li>
                    <li><%= link_to "Elizabeth Butler", person_path("per.006644") %> - filed freedom suit in 1790 against <%= link_to "Elizabeth McWilliams", person_path("per.006645") %></li>
                    <li><%= link_to "Nase Butler", person_path("per.006648") %> - enslaved by <%= link_to "Moll Wildman", person_path("per.006649") %></li>
                    <li><%= link_to "Milley Butler", person_path("per.006650") %> - enslaved by <%= link_to "Richard Boarman", person_path("per.006305") %></li>
                </ul><!-- end wmb -->
                <li><%= link_to "Phillis Butler", person_path("per.006382") %></li>
                    <ul><!-- start pb -->
                        <li><%= link_to "Elizabeth 'Betty' Butler", person_path("per.006383") %> - b. abt 1724 - filed freedom suit in 1789 against <%= link_to "Henry Hill", person_path("per.006416") %></li>
                        <ul><!-- start eb -->
                            <li><%= link_to "Joanna Butler", person_path("per.006580") %> - filed freedom suit in 1788 against <%= link_to "Mary Boarman", person_path("per.006586") %></li>
                            <li><%= link_to "Lydia Butler", person_path("per.006380") %> - filed freedom suit in 1790 against <%= link_to "James Carrico", person_path("per.006381") %><span class="foot"><a href="#footn1" id="bodyn1">1</a></span></li>
                            <li><%= link_to "Lydia Butler", person_path("per.006608") %> - filed freedom suit in 1792 against <%= link_to "Nicholas Swingle", person_path("per.006609") %><span class="foot"><a href="#footn1" id="bodyn1">1</a></span></li>
                            <li><%= link_to "Augustus 'Gustavus' Butler", person_path("per.006444") %> - filed freedom suit in 1790 against <%= link_to "William Thomas", person_path("per.006445") %></li>
                            <li><%= link_to "Chloe Butler", person_path("per.006440") %> - filed freedom suit in 1790 against <%= link_to "Nicholas L. Sewell", person_path("per.006441") %></li>
                                <ul><!-- start cb -->
                                    <li><%= link_to "Bridget Butler", person_path("per.006599") %> - filed freedom suit in 1790 against <%= link_to "Richard Bennett Mitchell", person_path("per.006600") %></li>
                                    <li><%= link_to "Fanny Butler", person_path("per.006601") %> - filed freedom suit in 1790 against <%= link_to "Rinaldo Johnson", person_path("per.006602") %></li>
                                    <li><%= link_to "Mary Butler", person_path("per.006603") %> - filed freedom suit in 1790 against <%= link_to "Rinaldo Johnson", person_path("per.006602") %></li>
                                    <li><%= link_to "Henny Butler", person_path("per.006593") %> - filed freedom suit in 1790 against <%= link_to "Thomas Clagett", person_path("per.006594") %></li>
                                </ul><!-- end cb -->
                            <li><%= link_to "Clara Butler", person_path("per.006442") %> - enslaved by <%= link_to "Patty Shade", person_path("per.006443") %></li>
                            <li><%= link_to "Ignatius Butler", person_path("per.006446") %> - filed freedom suit in 1792 against <%= link_to "William Craik", person_path("per.005285") %></li>
                            <li><%= link_to "Lucy Butler", person_path("per.006449") %> - filed freedom suit in 1790 against <%= link_to "Benedict Wheeler", person_path("per.006448") %></li>
                            <li><%= link_to "Jerry Butler", person_path("per.006417") %> - enslaved by <%= link_to "Henry Hill", person_path("per.006416") %></li>
                            <li><%= link_to "Jess Butler", person_path("per.006418") %> - enslaved by <%= link_to "Henry Hill", person_path("per.006416") %></li>
                            <li><%= link_to "Phillis Butler", person_path("per.006419") %> - enslaved by <%= link_to "Henry Hill", person_path("per.006416") %></li>
                        </ul><!-- end eb -->
                    </ul><!-- end pb -->
                <li><%= link_to "John Butler", person_path("per.006439") %> - b. abt 1722 - enslaved by <%= link_to "Henry Hill", person_path("per.006416") %></li>
            </ul><!-- end eab -->
        <li><%= link_to "Anne 'Nanny' Butler", person_path("per.006346") %></li>
            <ul><!-- start ab -->
                <li><%= link_to "Henrietta 'Henny' Butler", person_path("per.006390") %></li>
                    <ul><!-- start hb -->
                        <li><%= link_to "William Butler", person_path("per.006575") %> - b. abt 1745 - filed freedom suit in 1792 against <%= link_to "Joseph Neale", person_path("per.006560") %></li>
                        <li><%= link_to "Anne Butler", person_path("per.006391") %> - filed freedom suit in 1790 against <%= link_to "John Keech", person_path("per.006567") %></li>
                            <ul><!-- start ab -->
                                <li><%= link_to "Edward Butler", person_path("per.006671") %> - filed freedom suit in 1790 against <%= link_to "John Keech", person_path("per.006567") %></li>
                                <li><%= link_to "William Butler", person_path("per.006672") %> - filed freedom suit in 1790 against <%= link_to "John Keech", person_path("per.006567") %></li>
                                <li><%= link_to "Elizabeth Butler", person_path("per.006669") %> - filed freedom suit in 1790 against <%= link_to "Joseph Simmes", person_path("per.006670") %></li>
                                <li><%= link_to "Mary Anne Butler", person_path("per.006673") %> - filed freedom suit in 1790 against <%= link_to "Joshua Turby", person_path("per.006674") %></li>
                                <li><%= link_to "Henrietta 'Henny' Butler", person_path("per.006388") %> - filed freedom suit in 1790 against <%= link_to "Edward Hamilton", person_path("per.006389") %></li>
                                <li><%= link_to "Josias Butler", person_path("per.006675") %> - filed freedom suit in 1790 against <%= link_to "James Neale", person_path("per.006676") %></li>
                            </ul><!-- end ab -->
                    </ul><!-- end hb -->
                <li><%= link_to "Eleanor Butler", person_path("per.006579") %></li>
                    <ul><!-- start eb -->
                        <li><%= link_to "Anne Butler", person_path("per.006578") %></li>
                            <ul><!-- start ab -->
                                <li><%= link_to "Agnes Butler", person_path("per.006576") %> - filed freedom suit in 1790 against <%= link_to "Rachel Boarman", person_path("per.006577") %></li>
                            </ul><!-- end ab -->
                    </ul><!-- end eb -->
            </ul><!-- end ab -->
        <li><%= link_to "Jane 'Jenny' Butler", person_path("per.006398") %> - enslaved by <%= link_to "Mary Shervin", person_path("per.006403") %></li>
            <ul><!-- start jb -->
                <li><%= link_to "Rebecca 'Beck' Butler", person_path("per.006399") %> - filed freedom suit in 1790 against <%= link_to "Mary Shervin", person_path("per.006403") %></li>
                    <ul><!-- start rb -->
                        <li><%= link_to "Jane Butler", person_path("per.006406") %> - filed freedom suit in 1790 against <%= link_to "Joseph Simms", person_path("per.006438") %></li>
                            <ul><!-- start jb -->
                                <li><%= link_to "William Butler", person_path("per.006687") %> - filed freedom suit in 1790 against <%= link_to "Joseph Edelen", person_path("per.006688") %></li>
                                <li><%= link_to "Milley Butler", person_path("per.006396") %> - filed freedom suit in 1791 against <%= link_to "Robert Sinnett", person_path("per.006397") %></li>
                                <li><%= link_to "Anthony Butler", person_path("per.006405") %> - filed freedom suit in 1790 against <%= link_to "Mary Shervin", person_path("per.006403") %></li>
                                <li><%= link_to "Anne Butler", person_path("per.006407") %> - filed freedom suit in 1790 against <%= link_to "Mary Shervin", person_path("per.006403") %></li>
                                <li><%= link_to "Electius Butler", person_path("per.006451") %> - filed freedom suit in 1790 against <%= link_to "Ralph Jameston", person_path("per.006452") %></li>
                            </ul><!-- end jb -->
                        <li><%= link_to "Teresa 'Terry' Butler", person_path("per.006394") %> - enslaved by <%= link_to "Zephaniah Franklin", person_path("per.006692") %></li>
                            <ul><!-- start tb -->
                                <li><%= link_to "Ignatius 'Nase' Butler", person_path("per.006691") %> - filed freedom suit in 1790 against <%= link_to "Zephaniah Franklin", person_path("per.006692") %></li>
                                <li><%= link_to "Thomas Butler", person_path("per.006392") %> - filed freedom suit in 1791 against <%= link_to "Bennett Posey", person_path("per.006393") %></li>
                                <li><%= link_to "Electius Butler", person_path("per.006395") %> - filed freedom suit in 1791 against <%= link_to "Bennett Posey", person_path("per.006393") %></li>
                            </ul><!-- end tb -->
                        <li><%= link_to "Ignatius 'Nase' Butler", person_path("per.006437") %> - b. abt 1748 - filed freedom suit in 1790 against <%= link_to "Joseph Simms", person_path("per.006438") %></li>
                        <li><%= link_to "Agnes Butler", person_path("per.006424") %> - filed freedom suit in 1790 against <%= link_to "Robert Lawson", person_path("per.006425") %></li>   
                            <ul><!-- start ab -->
                                <li><%= link_to "Jane Butler", person_path("per.006427") %> - filed freedom suit in 1790 against <%= link_to "Robert Lawson", person_path("per.006425") %></li>
                                <li><%= link_to "Mary Butler", person_path("per.006428") %> - filed freedom suit in 1790 against <%= link_to "Robert Lawson", person_path("per.006425") %></li>
                                <li><%= link_to "Rebecca Butler", person_path("per.006429") %> - filed freedom suit in 1790 against <%= link_to "Robert Lawson", person_path("per.006425") %></li>
                            </ul><!-- end ab -->
                        <li><%= link_to "Eleanor Butler", person_path("per.006426") %> - filed freedom suit in 1790 against <%= link_to "Robert Lawson", person_path("per.006425") %></li>
                            <ul><!-- start eb -->
                                <li><%= link_to "Jerrard Butler", person_path("per.006430") %> - filed freedom suit in 1790 against <%= link_to "Robert Lawson", person_path("per.006425") %></li>
                            </ul><!-- end eb -->
                    </ul><!-- end rb -->
                <li><%= link_to "Nanny Butler", person_path("per.006454") %> - b. abt 1709</li>
                    <ul><!-- start nb -->
                        <li><%= link_to "Nelly 'Nel' Butler", person_path("per.006453") %></li>
                            <ul><!-- start nb -->
                                <li><%= link_to "Jeremiah Butler", person_path("per.006450") %> - enslaved by <%= link_to "John Cartwright", person_path("per.006456") %></li>
                                <li><%= link_to "Charles Butler", person_path("per.006455") %></li>
                            </ul><!-- end nb -->
                        <li><%= link_to "Jane Butler", person_path("per.006459") %> - enslaved by <%= link_to "John Smith", person_path("per.006700") %></li>
                            <ul><!-- start jb -->
                                <li><%= link_to "Stephen Butler", person_path("per.006457") %> - enslaved by <%= link_to "Eleanor Smith", person_path("per.006458") %></li>
                                <li><%= link_to "Josiah Butler", person_path("per.006698") %> - enslaved by <%= link_to "Eleanor Smith", person_path("per.006458") %></li>
                                <li><%= link_to "Francis Butler", person_path("per.006699") %> - enslaved by <%= link_to "Eleanor Smith", person_path("per.006458") %></li>
                                <li><%= link_to "Lynda 'Lyndey' Butler", person_path("per.006701") %> - enslaved by <%= link_to "Henrietta Boarman", person_path("per.006702") %></li>
                                    <ul><!-- start lb -->
                                        <li><%= link_to "Joe Butler", person_path("per.006703") %> - sold aboard a Spanish vessel</li>
                                        <li><%= link_to "Ann Butler", person_path("per.006704") %> - sold aboard a Spanish vessel</li>
                                        <li><%= link_to "Lucy Butler", person_path("per.006705") %> - sold aboard a Spanish vessel</li>
                                    </ul><!-- end lb -->
                                <li><%= link_to "Henny Butler", person_path("per.006694") %> - filed freedom suit in 1792 against <%= link_to "James Fenwick", person_path("per.006693") %></li>
                                    <ul><!-- start hb -->
                                        <li><%= link_to "Joseph 'Joe' Butler", person_path("per.006695") %> - filed freedom suit in 1792 against <%= link_to "James Fenwick", person_path("per.006693") %></li>
                                        <li><%= link_to "Nase Butler", person_path("per.006697") %> - filed freedom suit in 1792 against <%= link_to "James Fenwick", person_path("per.006693") %></li>
                                        <li><%= link_to "Jane Butler", person_path("per.006696") %> - filed freedom suit in 1792 against <%= link_to "James Fenwick", person_path("per.006693") %></li>
                                    </ul><!-- start hb -->
                            </ul><!-- end jb -->
                    </ul><!-- end nb -->
                <li><%= link_to "Nelly 'Nell' Butler", person_path("per.006422") %> - enslaved by <%= link_to "Mary Shervin", person_path("per.006403") %></li>
                    <ul><!-- start nb -->
                        <li><%= link_to "Ralph Butler", person_path("per.006420") %> - filed freedom suit in 1789 against <%= link_to "John Lucas", person_path("per.006421") %></li>
                        <li><%= link_to "Charles Butler", person_path("per.006583") %> - filed freedom suit in 1789 against <%= link_to "John Thomas", person_path("per.006585") %></li>
                    </ul><!-- end nb -->
                <li><%= link_to "Anne Butler", person_path("per.006611") %></li>
                    <ul><!-- start ab -->
                        <li><%= link_to "Henny Butler", person_path("per.006610") %> - filed freedom suit in 1792 against <%= link_to "Henry Hill", person_path("per.006416") %></li>
                            <ul><!-- start hb -->
                                <li><%= link_to "Nase Butler", person_path("per.006612") %> - filed freedom suit in 1792 against <%= link_to "Henry Hill", person_path("per.006416") %></li>
                                <li><%= link_to "Katy Butler", person_path("per.006613") %> - filed freedom suit in 1792 against <%= link_to "Henry Hill", person_path("per.006416") %></li>
                                <li><%= link_to "Lymus Butler", person_path("per.006614") %> - filed freedom suit in 1792 against <%= link_to "Henry Hill", person_path("per.006416") %></li>
                                <li><%= link_to "Anna Butler", person_path("per.006604") %> - filed freedom suit in 1792 against <%= link_to "John DeButts", person_path("per.006607") %><span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
                                    <ul><!-- start ab -->
                                        <li><%= link_to "Moses Butler", person_path("per.006605") %> - filed freedom suit in 1792 against <%= link_to "John DeButts", person_path("per.006607") %><span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
                                        <li><%= link_to "Frank Butler", person_path("per.006606") %> - filed freedom suit in 1792 against <%= link_to "John DeButts", person_path("per.006607") %><span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
                                    </ul><!-- end ab -->
                            </ul><!-- end hb -->
                    </ul><!-- start ab -->
                <li><%= link_to "Monica Butler", person_path("per.006598") %></li>
                    <ul><!-- start mb -->
                        <li><%= link_to "Abraham Butler", person_path("per.006596") %> - filed freedom suit in 1790 against <%= link_to "Elizabeth Ridgate", person_path("per.006597") %></li>
                    </ul><!-- end mb -->
            </ul><!-- end jb -->
        <li><%= link_to "Eleanor Butler", person_path("per.006402") %><span class="foot"><a href="#footn3" id="bodyn3">3</a></span></li>
            <ul><!-- start eb -->
                <li><%= link_to "Henrietta Butler", person_path("per.006400") %> - filed freedom suit in 1791 against <%= link_to "Edward Smith", person_path("per.006401") %></li>
                <li><%= link_to "Elizabeth 'Bett' Butler", person_path("per.006435") %></li>
                    <ul><!-- start eb -->
                        <li><%= link_to "Giles Butler", person_path("per.006433") %> - filed freedom suit in 1790 against <%= link_to "John Somerville", person_path("per.006436") %></li>
                        <li><%= link_to "Charity Butler", person_path("per.006466") %> - filed freedom suit in 1789 against <%= link_to "Joseph Thompson", person_path("per.006465") %></li>
                        <li><%= link_to "Sarah Butler", person_path("per.006557") %> - filed freedom suit in 1789 against <%= link_to "Jezreel Penn", person_path("per.006553") %></li>
                            <ul><!-- start sb -->
                                <li><%= link_to "Henrietta 'Henny' Butler", person_path("per.006562") %> - filed freedom suit in 1790 against <%= link_to "Williamson King", person_path("per.006563") %></li>
                                <li><%= link_to "Clement Butler", person_path("per.006554") %> - filed freedom suit in 1791 against <%= link_to "Jezreel Penn", person_path("per.006553") %></li>
                                <li><%= link_to "William Butler", person_path("per.006558") %> - enslaved by <%= link_to "Joseph Neale", person_path("per.006560") %></li>
                                <li><%= link_to "Lewis Butler", person_path("per.006559") %> - enslaved by <%= link_to "John Laidler", person_path("per.006570") %></li>
                                <li><%= link_to "George Butler", person_path("per.006561") %> - enslaved by <%= link_to "Jezreel Penn", person_path("per.006553") %></li>
                                <li><%= link_to "Rachel Butler", person_path("per.006564") %> - enslaved by <%= link_to "Benjamin Posey", person_path("per.006565") %></li>
                                <li><%= link_to "Anne Butler", person_path("per.006566") %> - enslaved by <%= link_to "John Keech", person_path("per.006567") %></li>
                            </ul><!-- start sb -->
                        <li><%= link_to "Thomas Butler", person_path("per.006552") %> - filed freedom suit in 1789 against <%= link_to "Jezreel Penn", person_path("per.006553") %></li>
                        <li><%= link_to "Clement Butler", person_path("per.006431") %> - enslaved by <%= link_to "Henry Pyke", person_path("per.006432") %></li>
                        <li><%= link_to "Jacob Butler", person_path("per.006467") %> - enslaved by <%= link_to "Eleanor Taney", person_path("per.006468") %></li>
                        <li><%= link_to "Henrietta 'Henny' Butler", person_path("per.006555") %> - filed freedom suit in 1790 against <%= link_to "Edward Smoot", person_path("per.006556") %></li>
                    </ul><!-- start eb -->
            </ul><!-- start eb -->
        <li><%= link_to "Moll Butler", person_path("per.006345") %> - enslaved by <%= link_to "Ignatius Boarman", person_path("per.006343") %> and <%= link_to "Francis Boarman", person_path("per.006347") %></li>
    </ul><!-- end eb -->
</ul>
</p>

<hr/>

<h3>Unknown Branches</h3>

<p class="small">The following are descendants of Eleanor Butler, though it is uncertain through which line.</p>

<p>
<ul class="tree">
<li><%= link_to "Agnes Butler", person_path("per.006509") %> - enslaved by <%= link_to "Edward Eagling", person_path("per.006508") %></li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Ally Butler", person_path("per.006504") %> - enslaved by <%= link_to "William Knott", person_path("per.006501") %></li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Anne Butler", person_path("per.006662") %> - enslaved by <%= link_to "John Lucas", person_path("per.006421") %></li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Clement Butler", person_path("per.006655") %> - enslaved by <%= link_to "Leonard Boarman", person_path("per.006656") %></li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Clement Butler", person_path("per.006665") %> - enslaved by <%= link_to "Henry Spalding", person_path("per.002095") %></li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Eleanor Butler", person_path("per.006652") %> - enslaved by <%= link_to "Joseph Gardiner", person_path("per.006653") %></li>
    <ul>
        <li><%= link_to "Mary Butler", person_path("per.006654") %></li>
    </ul>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Jane Butler", person_path("per.006626") %> - enslaved by <%= link_to "John Lancaster", person_path("per.006627") %></li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Mary Butler", person_path("per.006499") %> - enslaved by <%= link_to "Nathaniel Ewing", person_path("per.006500") %></li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Matthew Butler", person_path("per.006507") %> - enslaved by <%= link_to "Edward Eagling", person_path("per.006508") %></li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Nace Butler", person_path("per.006505") %> - enslaved by <%= link_to "Cornelius Wilaman", person_path("per.006506") %></li>
</ul>
</p>  
  
<p>
<ul class="tree">
<li><%= link_to "Nase Butler", person_path("per.006659") %> - enslaved by <%= link_to "Joseph Gardiner", person_path("per.006653") %></li>
</ul>
</p> 

<p>
<ul class="tree">
<li><%= link_to "Samuel Butler", person_path("per.006660") %> - enslaved by <%= link_to "Josias Hancock", person_path("per.006661") %></li>
</ul>
</p>   
  
<p>
<ul class="tree">
<li><%= link_to "Sarah Butler", person_path("per.006657") %> - enslaved by <%= link_to "Henry Carrico", person_path("per.006658") %></li>
</ul>
</p> 

<p>
<ul class="tree">
<li><%= link_to "Tracy Butler", person_path("per.006502") %> - enslaved by <%= link_to "Henry Bradford", person_path("per.006503") %></li>
</ul>
</p>  

<hr/>

<p class="small">It is unknown if this family is descended from Eleanor "Irish Nell" Butler.</p>

<p>
<ul class="tree">
<li><%= link_to "Thomas Butler", person_path("per.001392") %> - filed freedom suit in 1828 against <%= link_to "Gabriel Duvall", person_path("per.001393") %> in Washington, D.C.<br/>
<em>+ <%= link_to "Sarah Butler", person_path("per.001391") %></em></li>
    <ul>
        <li><%= link_to "Matilda Butler", person_path("per.001388") %></li>
        <li><%= link_to "Airey Butler", person_path("per.001385") %></li>
        <li><%= link_to "Reason Butler", person_path("per.001389") %></li>
        <li><%= link_to "Sally Butler", person_path("per.001390") %></li>
    </ul>
</ul>
</p>

<p class="small">These are the grandchildren of Thomas and Sarah, but through which daughter is unknown.
<ul class="tree"><ul><ul>
    <li><%= link_to "Liddy Butler", person_path("per.001387") %></li>
    <li><%= link_to "Eliza Butler", person_path("per.001386") %></li>
</ul></ul></ul>
</p>

<hr/>

<h4>Footnotes</h4>
<div class="footnotes">

<p><span class="notenumber" id="footn1">1.</span> Both Lydia Butlers claim the same lineage and were freed based on the claim. <a href="#bodyn1">[back]</a></p>

<p><span class="notenumber" id="footn2">2.</span> John Butler says in his deposition that Anna, Moses, and Frank are all the children of Henny, but their petition for freedom states that Frank and Moses are Anna's children. <a href="#bodyn2">[back]</a></p>

<p><span class="notenumber" id="footn3">3.</span> The petitions of Clement, William, and Lewis Butler claim that this Eleanor was the free woman. It is likely they just missed a generation, as it was her mother who was the white Irish woman. <a href="#bodyn3">[back]</a></p>