


<h2>Carroll Family Network</h2>

<p>Members of Carroll family at one time claimed ownership of the matriarch of the <%= link_to "Queen Family", {:name => "queen", :action => "sub"} %>, upon whose status the freedom petitions rested. Various descendants of Charles Carroll and Mary Darnall were also involved in litigation opposite an enslaved family that claimed descent from a free white woman named Ann Wells.</p>    

        <p id="carroll1">
          <ul class="tree">
            <li>Daniel Carroll <em>of Litterluna</em> - King's County, Ireland</li>
            <ul> <!-- begin Daniel offspring 2 -->
              <li>Anthony Carroll <em>of Lisheenboy</em> - County Tipperary, Ireland; d. 1724</li>
                <ul> <!-- begin Anthony offspring 3 -->
                    <li>Daniel Carroll <em>of Killecregane</em> - b. in Ireland; d. 1724, Ireland<br/><em>+ Mary Browne</em></li>
                        <ul> <!-- begin Daniel offspring 4 -->
                            <li>Anthony Carroll, <em>S.J.</em> - b. abt 1722, Ireland; d. September 5, 1794, London, England; possible inheritor of the <%= link_to "Queen Family", {:name => "queen", :action => "sub"} %> from <%= link_to "James Carroll", person_path("per.000065") %>; tutor of Charles Carroll <em>of Carrollton</em></li>
                            <li>Mary Carroll <br/><em>+ ___ Ashton</em></li>
                                <ul> <!-- begin Mary offspring 5 -->
                                    <li><%= link_to "John Ashton", person_path("per.000215") %>, <em>S.J.</em> - b. 1742, Ireland; brought to Maryland by Charles Carroll <em>of Annapolis</em> in 1767; d. 1815, Charles County, MD; owned members of the <%= link_to "Queen Family", {:name => "queen", :action => "sub"} %>; at one time retained as a chaplain by Charles Carroll <em>of Annapolis</em></li>
                                </ul> <!-- end Mary 5 -->
                          </ul> <!-- end Daniel 4 -->
                    <li><%= link_to "James Carroll", person_path("per.000065") %> <em>of Fingual</em> - b. bout 1680, Ireland; d. 1729, Annapolis, MD; purchased <%= link_to "Mary Queen", person_path("per.000068") %>; mentor to Charles Carroll <em>of Annapolis</em></li>
                </ul> <!-- end Anthony 3 -->
              <li>Charles Carroll, <em>the Settler</em> - b. 1660, Ireland; arrived in Maryland October 1, 1688; d. July 1, 1720<br/><em>+ Mary Darnall (1693)</em> - b. 1678; d. February 1742
                <ul> <!-- begin Charles offspring 3 -->
                    <li>Charles Carroll <em>of Annapolis and Doohoragen Manor</em> - b. April 2, 1702; d. 1781<br/><em>+ Elizabeth Brooke</em> - b. May 17, 1709; d. March 12, 1761</li>
                        <ul> <!-- begin Charles offspring 4 -->
                            <li>Charles Carroll <em>of Carrollton</em> - September 8, 1737; d. November 14, 1832<!--<br/>--> <em>+ Mary Darnall (1768)</em> - b. March 19, 1749; d. 1782</li>
                        </ul> <!-- end Charles 4 -->
                    <li id="rozier">Daniel Carroll <em>of Duddington</em> - October 3, 1707; d. April 15, 1734<br/><em>+ Ann Rozier</em> - b. 1710; d. 1764 - <em>see <a href="#carroll3">tree</a> below</em></li>
                        <ul> <!-- begin Daniel offspring 4 -->
                            <li>Charles Carroll <em>of Duddington and Carrollsburg</em> - b. Sept. 12, 1729<br/><em>+ Mary Hill (1763)</em> - b. 1744; d. 1822</li>
                                <ul> <!-- begin Charles offspring 5 -->
                                    <li>Daniel Carroll <em>of Duddington</em> - b. 1764; d. 1849; acted as a witness for <%= link_to "John Hepburn", person_path("per.000058") %> in <em><%= link_to "Queen v. Hepburn", case_path("oscys.caseid.0011") %></em> <em>+ (1) Anne Brent - see <a href="#carroll2">Carroll tree</a> below &#160; + (2) Anna R. Boyce</em></li>
                                </ul> <!-- end Charles 5 -->
                            <li id="carrolle">Eleanor Carroll - b. 1731; d. April 13, 1763 <em>+ Daniel Carroll of Rock Creek</em> - <em>see <a href="#carroll2">Carroll tree</a> below</em></li>
                            <li>Mary Carroll <em>+ Ignatius Digges of Melwood</em></li>
                        </ul> <!-- end Daniel 4 -->
                </ul> <!-- end Charles 3 -->
            </ul> <!-- end Daniel 2 -->
          </ul> <!-- end tree -->

        </p>

<hr/>

        <p id="carroll2">
          <ul class="tree">
            <li>Keane Carroll <em>of Aghagurty</em> - Ireland; likely the uncle of Daniel Carroll <em>of Litterluna</em> - <em>see <a href="#carroll1">Carroll tree</a> above</em></li>
                <ul> <!-- begin Kean offspring 2 -->
                    <li>Daniel Carroll <em>of Upper Marlboro</em> - b. 1696; d. 1751<br/><em>+ Eleanor Darnall (1727/28)</em> - b. abt 1703; d. 1796</li>
                        <ul> <!-- begin Daniel 3 -->
                            <li>Daniel Carroll <em>of Rock Creek</em> - b. July 22, 1730; d. 1796 <em>+ Eleanor Carroll</em> - <em>see <a href="#carrolle">Carroll tree</a> above</em></li>
                            <li id="carrollm">Mary Carroll - b. 1742; d. 1815 <em>+ Notley Young</em> - <em>see <a href="#carroll3">tree</a> below</em></li>
                            <li>John Carroll, <em>S.J.</em> - Archbishop of Baltimore; b. 1735; d. 1815</li>
                            <li>Eleanor Carroll<br/><em>+ William Brent, Jr. of Richland</em> - b. 1733; d. 1782</li>
                                <ul><!-- begin Brent -->
                                    <li>Anne Brent <em>+ Daniel Carroll of Duddington</em> - <em>see <a href="#carroll1">Carroll tree</a> above</em></li>
                                </ul>
                            <li>Elizabeth Carroll</li>
                            <li>Ann Carroll - b. 1733; d. 1804<br/><em>+ Robert Brent of Woodstock</em></li>
                                <ul> <!-- begin Brent -->
                                    <li id="youngm">Robert Brent - b. 1764; d. 1818 - first mayor of Washington, D.C. <em>+ Mary Young<span class="foot"><a href="#footn1" id="bodyn1">1</a></span> - see <a href="#carroll3">tree</a> below</em></li>
                                    <li><%= link_to "William Brent", person_path("per.000003") %> - b. 1774; d. 1848; clerk of the Circuit Court for the District of Columbia</li> 
                                </ul> <!-- end Brent -->
                        </ul> <!-- end Daniel 3 -->
                </ul> <!-- end Kean 2 -->
          </ul> <!-- end tree -->
        </p> 

<hr/>

        <p id="carroll3">
          <ul class="tree">
            <li>Ann Rozier, widow of Daniel Carroll <em>of Duddington</em> - <em>see <a href="#rozier">Carroll tree</a> above</em><br/> <em>+ Benjamin Young</em> - d. 1754</li>
                <ul> <!-- begin Young offspring -->
                    <li><!--<%= link_to "Notley Young", person_path("per.003360") %>-->Notley Young - b. abt 1736; d. 1802<br/><em>+ Jane or Eleanor Digges</em></li>
                    <ul> <!-- begin Notley offspring -->
                        <li><%= link_to "Notley Young", person_path("per.002171") %> - a secular priest; was bequeathed land by <%= link_to "John Ashton", person_path("per.000215") %></li>
                        <li><%= link_to "Nicholas Young", person_path("per.002602") %> - <%= link_to "security", doc_path("oscys.case.0416.024") %> for his sister's <%= link_to "cases", case_path("oscys.caseid.0444") %> against the Shorter family; previous slaveholder of <%= link_to "Daniel Wells", case_path("oscys.caseid.0443") %> </li>
                        <li>Benjamin Young</li>
                            <ul><!-- ben children -->
                                <!--<li>Henry N. Young</li>
                                <li>Dominic Young</li>
                                <li>Benjamin Young</li>-->
                                <li><%= link_to "Ignatius Young", person_path("per.000501") %></li>
                            </ul><!-- end ben -->
                        <li><!--<%= link_to "Ann Young", person_path("per.003328") %>-->Ann Young <em>+ <%= link_to "Peter Casanave", person_path("per.001793") %></em> - slaveholder of <%= link_to "Rachel Shorter, Mary Shorter, Sarah Smith, William Shorter, and their children", case_path("oscys.caseid.0444") %></li>   
                        <li>Mary Young <em>+ Robert Brent<span class="foot"><a href="#footn1" id="bodyn1">1</a></span> - see <a href="#youngm">Carroll tree</a> above</em></li>
                        <li>Eleanor Young <em>+ Thomas Fenwick<span class="foot"><a href="#footn1" id="bodyn1">1</a></span></em></li>
                    </ul> <!-- end Notley offspring -->
                    &#160;&#160; <em>+ Mary Carroll</em> - daughter of Daniel Carroll of Upper Marlboro - <em>see <a href="#carrollm">Carroll tree</a> above</em>
                </ul> <!-- end Young offspring -->

          </ul>
        </p>


<hr/>

<h4>Footnotes</h4>
<div class="footnotes">

<p><span class="notenumber" id="footn1">1.</span> There is often confusion about which of Benjamin Young's daughters married Robert Brent. A few sources like Henning and Downing identify Eleanor, while most point to Mary. An October 23, 1802 New York newspaper announced the marriage of <em>Nelly</em> Young to Thomas Fenwick in Washington, D.C., which confirms the genealogy in sources like Papenfuse and Morgan. However, a March 30, 1816 newspaper reported the death of <em>Mary</em> Fenwick, wife of Thomas Fenwick. Both Robert Brent and Thomas Fenwick appear in an 1820 tax list as heirs of Benjamin Young. See <em>Ancestry.com</em>, "U.S. Newspaper Extractions from the Northeast, 1704-1930" [database on-line]. (Provo, UT: 2014) and <em>National Intelligencer</em>, January 25, 1820. <a href="#bodyn1">[back]</a></p>

<h4>Sources</h4>

<p>Margaret B. Downing. "The American Capitoline Hill and its Early Catholic Proprietors." <em>The Catholic Historical Review</em> vol. II (Washington, D.C.: Catholic University of America Press, 1917), p. 282.</p>

<p>James Dudley Morgan, M.D. "<a href="http://www.jstor.org/stable/40066731" target="new">Robert Brent, First Mayor of Washington City</a>," <em>Records of the Columbia Historical Society, Washington, D.C.</em> vol. 2 (1899), pp. pp. 236-251.</p> 

<p>George C. Henning. "<a href="http://www.jstor.org/stable/40066883" target="new">The Mansion and Family of Notley Young</a>," <em>Records of the Columbia Historical Society, Washington, D.C.</em> vol. 16 (1913), pp. 1-24.</p> 

<p>Ronald Hoffman. <em>Princes of Ireland, Planters of Maryland: A Carroll Saga, 1500-1782</em> (Chapel Hill: University of North Carolina Press, 2000), pp. 404-414.</p>

<p>Edward C. Papenfuse, et al. <em><a href="http://msa.maryland.gov/megafile/msa/speccol/sc2900/sc2908/000001/000426/html/index.html" target="new">A Biographical Dictionary of the Maryland Legislature, 1635-1789</a></em>. 2 Vols. (Baltimore: Johns Hopkins University Press, 1979, 1985), pp. 271, 929.</p>

<p>Kate Mason Rowland. <em>The Life of Charles Carroll of Carrollton, 1737-1832</em> vol. II (New York: The Knickerbocker Press, 1898), pp. 437-444, 446-447.</p>


</div>

