


<h2>Carroll Family Network</h2>

<p>Members of Carroll family at one time claimed ownership of the matriarch of the <%= link_to "Queen Family", {:name => "queen", :action => "sub"} %>, upon whose status the freedom petitions rested.</p>    

        <p id="carroll1">
          <ul class="tree">
            <li>Daniel Carroll <em>of Litterluna</em> - King's County, Ireland</li>
            <ul> <!-- begin Daniel offspring 2 -->
              <li>Anthony Carroll <em>of Lisheenboy</em> - County Tipperary, Ireland; died 1724</li>
                <ul> <!-- begin Anthony offspring 3 -->
                    <li>Daniel Carroll <em>of Killecregane</em> - born in Ireland; died 1724, Ireland<br/><em>+ Mary Browne</em></li>
                        <ul> <!-- begin Daniel offspring 4 -->
                            <li>Anthony Carroll, <em>S.J.</em> - born c. 1722, Ireland; died September 5, 1794, London, England; possible inheritor of the <%= link_to "Queen Family", {:name => "queen", :action => "sub"} %> from <%= link_to "James Carroll", person_path("per.000065") %>; tutor of Charles Carroll <em>of Carrollton</em></li>
                            <li>Mary Carroll <br/><em>+ ___ Ashton</em></li>
                                <ul> <!-- begin Mary offspring 5 -->
                                    <li><%= link_to "John Ashton", person_path("per.000215") %>, <em>S.J.</em> - born 1742, Ireland; brought to Maryland by Charles Carroll <em>of Annapolis</em> in 1767; died 1815, Charles County, MD; owned members of the <%= link_to "Queen Family", {:name => "queen", :action => "sub"} %>; at one time retained as a chaplain by Charles Carroll <em>of Annapolis</em></li>
                                </ul> <!-- end Mary 5 -->
                          </ul> <!-- end Daniel 4 -->
                    <li><%= link_to "James Carroll", person_path("per.000065") %> <em>of Fingual</em> - born bout 1680, Ireland; died 1729, Annapolis, MD; purchased <%= link_to "Mary Queen", person_path("per.000068") %>; mentor to Charles Carroll <em>of Annapolis</em></li>
                </ul> <!-- end Anthony 3 -->
              <li>Charles Carroll, <em>the Settler</em> - born 1660, Ireland; arrived in Maryland October 1, 1688; died July 1, 1720<br/><em>+ Mary Darnall (1693)</em> - born 1678; died February 1742
                <ul> <!-- begin Charles offspring 3 -->
                    <li>Charles Carroll <em>of Annapolis and Doohoragen Manor</em> - born April 2, 1702; died 1781<br/><em>+ Elizabeth Brooke</em> - born May 17, 1709; died March 12, 1761</li>
                        <ul> <!-- begin Charles offspring 4 -->
                            <li>Charles Carroll <em>of Carrollton</em> - September 8, 1737; died November 14, 1732<!--<br/>--> <em>+ Mary Darnall (1768)</em> - born March 19, 1749; died 1782</li>
                        </ul> <!-- end Charles 4 -->
                    <li>Daniel Carroll <em>of Duddington</em> - October 3, 1707; died April 15, 1734<br/><em>+ Ann Rozier</em> - born 1710; died 1764 - <em>see <a href="#carroll3">tree</a> below</em></li>
                        <ul> <!-- begin Daniel offspring 4 -->
                            <li>Charles Carroll <em>of Duddington and Carrollsburg</em> - born Sept. 12, 1729<br/><em>+ Mary Hill (1763)</em> - born 1744; died 1822</li>
                                <ul> <!-- begin Charles offspring 5 -->
                                    <li>Daniel Carroll <em>of Duddington</em> - born 1764; died 1849; acted as a witness for <%= link_to "John Hepburn", person_path("per.000058") %> in <em><%= link_to "Queen v. Hepburn", case_path("oscys.caseid.0011") %></em><br/><em>+ Anne Brent - see <a href="#carroll2">Carroll tree</a> below &#160;&#160; + Anna R. Boyce</em></li>
                                </ul> <!-- end Charles 5 -->
                            <li>Eleanor Carroll - born 1731; died April 13, 1763 <em>+ Daniel Carroll of Rock Creek</em> - <em>see <a href="#carroll2">Carroll tree</a> below</em></li>
                        </ul> <!-- end Daniel 4 -->
                </ul> <!-- end Charles 3 -->
            </ul> <!-- end Daniel 2 -->
          </ul> <!-- end tree -->

        </p>

<hr/>

        <p id="carroll2">
          <ul class="tree">
            <li>Keane Carroll <em>of Aghagurty</em> - Ireland; likely the uncle of Daniel Carroll <em>of Litterluna</em> - <em>see <a href="#carroll1">Carroll tree</a> above</em></li>
                <ul> <!-- begin Kean offspring 2 -->
                    <li>Daniel Carroll <em>of Upper Marlboro</em> - born 1696; died 1751<br/><em>+ Elinor Darnall (1727/28)</em> - born c. 1703; died 1796</li>
                        <ul> <!-- begin Daniel 3 -->
                            <li>Daniel Carroll <em>of Rock Creek</em> - born July 22, 1730; died 1796 <em>+ Eleanor Carroll</em> - <em>see <a href="#carroll1">Carroll tree</a> above</em></li>
                            <li>Mary Carroll - born 1742; died 1815 <em>+ Notley Young</em> - <em>see <a href="#carroll3">tree</a> below</em></li>
                            <li>John Carroll, <em>S.J.</em> - Archbishop of Baltimore; born 1735; died 1815</li>
                            <li>Eleanor Carroll<br/><em>+ William Brent, Jr. of Richland</em> - born 1733; died 1782</li>
                                <ul><!-- begin Brent -->
                                    <li>Anne Brent <em>+ Daniel Carroll of Duddington</em> - <em>see <a href="#carroll1">Carroll tree</a> above</em></li>
                                </ul>
                            <li>Elizabeth Carroll</li>
                            <li>Ann Carroll - born 1733; died 1804<br/><em>+ Robert Brent of Woodstock</em></li>
                                <ul> <!-- begin Brent -->
                                    <li>Robert Brent - first mayor of Washington, D.C. <em>+ Mary Young - see <a href="#carroll3">tree</a> below</em></li>
                                    <li><%= link_to "William Brent", person_path("per.000003") %> - born 1777; died 1848; clerk of the Circuit Court for the District of Columbia</li> 
                                </ul> <!-- end Brent -->
                        </ul> <!-- end Daniel 3 -->
                </ul> <!-- end Kean 2 -->
          </ul> <!-- end tree -->
        </p> 

<hr/>

        <p id="carroll3">
          <ul class="tree">
            <li>Ann Rozier, widow of Daniel Carroll <em>of Duddington</em> - <em>see <a href="#carroll1">Carroll tree</a> above</em><br/> <em>+ Benjamin Young</em></li>
                <ul> <!-- begin Young offspring -->
                    <li>Notley Young - born c. 1736; died 1802<br/><em>+ Jane or Eleanor Digges</em></li>
                    <ul> <!-- begin Notley offspring -->
                        <li>Notley Young - a secular priest; was bequeathed land by <%= link_to "John Ashton", person_path("per.000215") %></li>
                        <li>Mary Young <em>+ Robert Brent - see <a href="#carroll2">Carroll tree</a> above</em></li>
                    </ul> <!-- end Notley offspring -->
                    &#160;&#160; <em>+ Mary Carroll</em> - daughter of Daniel Carroll of Upper Marlboro - <em>see <a href="#carroll2">Carroll tree</a> above</em>
                </ul> <!-- end Young offspring -->

          </ul>
        </p>


<hr/>

<h4>Sources</h4>
<div class="footnotes">

<p>George C. Henning, "<a href="http://www.jstor.org/stable/40066883" target="new">The Mansion and Family of Notley Young</a>," <em>Records of the Columbia Historical Society, Washington, D.C.</em> vol. 16 (1913), pp. 1-24</p> 

<p>Ronald Hoffman, <em>Princes of Ireland, Planters of Maryland: A Carroll Saga, 1500-1782</em> (Chapel Hill: University of North Carolina Press, 2000), pp. 404-414.</p>

<p>Kate Mason Rowland, <em>The Life of Charles Carroll of Carrollton, 1737-1832</em>, <a href="https://books.google.com/books?id=TMmOCf_JmFgC" target="new">vol. II</a> (New York: The Knickerbocker Press, 1898), pp. 437-444, 446-447.</p>

</div>


