


<h2>Darnall Family Networks</h2>

<p>The Darnall family intermarried with a number of other influential families in western Maryland, including the <%= link_to "Carrolls", {:name => "carroll", :action => "sub"} %>. Enslaved members of the <%= link_to "Joice Family", {:name => "joice", :action => "sub"} %> were held by the many descendants of Colonel Henry Darnall.</p>

<hr/>

<p id="darnall">
<ul class="tree">
<li>Colonel <%= link_to "Henry Darnall", person_path("per.004516") %> - d. 1711; owner of the Woodyard plantation; slaveholder of <%= link_to "Ann Joice", person_path("per.004337") %>, <%= link_to "Frank Harbard", person_path("per.004566") %>, <%= link_to "David Jones", person_path("per.004603") %>, <%= link_to "Jack Wood", person_path("per.004576") %>, and <%= link_to "Tom Crane", person_path("per.004575") %><br/>
<em>+ Eleanor Hatton</em></li>
    <ul><!-- HD children -->
        <li><%= link_to "Henry Darnall", person_path("per.004675") %> - owner of the Woodyard; slaveholder of <%= link_to "Frank Harbard", person_path("per.004566") %> and <%= link_to "Peter Harbard", person_path("per.004602") %><br/>
        <em>+ Ann Digges</em> - <em>see <a href="#digges">Digges tree</a> below</em></li>
            <ul><!-- HD II children -->
                <li>Henry Darnall<br/>
                <em>+ Anne Talbot</em></li>
                    <ul><!-- HD III children-->
                        <li>Henry Darnall<br/>
                        <em>+ Rachel Brooke</em></li>
                            <ul><!-- HD IV children -->
                                <li>Mary Darnall <em>+ <%= link_to "Charles Carroll", person_path("per.004610") %> of Carrollton</em> - slaveholder of <%= link_to "Sue", person_path("per.004513") %></li>
                            </ul><!-- end HD IV -->
                    </ul><!-- end HD III -->
                <li><%= link_to "Eleanor Darnall", person_path("per.004674") %> - b. abt 1706; deponent in <em><%= link_to "Mahoney v. Ashton", case_path("oscys.caseid.0481") %></em> <em>+ Daniel Carroll of Upper Marlboro</em></li>
            </ul><!-- end HD II -->
        <li>Philip Darnall<br/>
        <em>+ Eleanor Brooke</em> - <em>see <a href="#digges">Digges tree</a> below</em></li>
            <ul><!-- PD children -->
                <li>Henry Darnall<br/>
                <em>+ Elizabeth Lowe</em> - <em>see <a href="#lowe">Lowe tree</a> below</em></li>
                    <ul><!-- HD children -->
                        <li><%= link_to "Nicholas Lowe Darnall", person_path("per.004641") %> - b. abt 1733; deponent in <em><%= link_to "Mahoney v. Ashton", case_path("oscys.caseid.0481") %></em></li>
                        <li><%= link_to "Richard Darnall", person_path("per.004591") %> - slaveholder of <%= link_to "Will", person_path("per.004679") %> - deponent in <em><%= link_to "Mahoney v. Ashton", case_path("oscys.caseid.0481") %></em></li>
                        <li><%= link_to "Henry Bennett Darnall", person_path("per.004678") %> - slaveholder of <%= link_to "Sarah", person_path("per.004677") %></li>
                        <li>Anne Darnall<br/>
                        <em>+ <%= link_to "Clement Hill", person_path("per.004622") %></em> -  slaveholder of <%= link_to "Nelly", person_path("per.004624") %></li>
                            <ul><!-- AD children -->
                                <li>Clement Hill</li>
                                <li><%= link_to "Henry Hill", person_path("per.004681") %></li>
                                <li>Eleanor Hill<br/>
                                <em>+ Marsham Waring</em> - son of <%= link_to "Basil Waring", person_path("per.004626") %>, slaveholder of <%= link_to "Polly", person_path("per.004611") %></li>
                                    <ul><!-- EH children -->
                                        <li><%= link_to "Ann Waring", person_path("per.004621") %> - b. abt 1719; deponent in <em><%= link_to "Mahoney v. Ashton", case_path("oscys.caseid.0481") %></em><br/>
                                        <em>+ (1) Thomas Hollyday<br/>
                                        + (2) John Cooke</em> - <em>see <a href="#cooke">Cooke tree</a> below</em></li>
                                    </ul><!-- end EH -->
                            </ul><!-- end AD -->
                    </ul><!-- end HD -->
            </ul><!-- end PD -->
    </ul><!-- end HD -->
</ul><!-- end tree -->
</p>

<hr/>

<h3 id="digges">Digges Family</h3>

<p>
<ul class="tree">
    <li>William Digges<br/>
    <em>+ Elizabeth Sewell</em></li>
        <ul><!-- WD children -->
            <li>Ann Digges
            <em>+ <%= link_to "Henry Darnall", person_path("per.004675") %> (II)</em></li>
            <li><%= link_to "William Digges", person_path("per.004512") %> - slaveholder of <%= link_to "Sue Harbard", person_path("per.004514") %> and <%= link_to "Charles", person_path("per.004606") %><br/>
            <em>+ Eleanor Brooke</em></li>
                <ul><!-- WD II children -->   
                    <li><%= link_to "Ignatius Digges", person_path("per.004608") %> - slaveholder of <%= link_to "Sue Harbard", person_path("per.004514") %> and <%= link_to "Polly", person_path("per.004611") %>
                    <em>+ Mary Carroll</em> - <em> see <%= link_to "Carroll Family Network", {:name => "carroll", :action => "sub"} %></em></li>
                    <li>Rev. <%= link_to "Thomas Digges", person_path("per.001515") %> - b. abt 1711; deponent in <em><%= link_to "Mahoney v. Ashton", case_path("oscys.caseid.0481") %></em></li>
                </ul><!-- end WD II -->
        </ul><!-- end WD -->
</ul><!-- end tree -->

<hr/>

<h3 id="lowe">Lowe Family</h3>

<p>
<ul class="tree">
    <li>Henry Lowe<br/>
    <em>+ Susannah Maria Bennett</em></li>
        <ul><!-- HL children -->        
        <li>Elizabeth Lowe <em>+ Henry Darnall (of Philip)</em> - <em>see <a href="#darnall">Darnall tree</a> above</em></li>
        <li>Dorothy Lowe <em>+ <%= link_to "Francis Hall", person_path("per.004568") %></em> - son of <%= link_to "Benjamin Hall", person_path("per.004567") %>, who held <%= link_to "Ann Joice", person_path("per.004337") %> for a time</li>
        </ul>
</ul>

<hr/>

<h3 id="cooke">John Cooke</h3>

<p>
<ul class="tree">
<li>John Cooke - <em>see <a href="#darnall">Darnall tree</a> above</em><br/>
<em>+ (1) Sophia Sewell</em></li>
    <ul><!-- JC children -->
        <li>Rachel Cooke - prior to her death, was engaged to <%= link_to "Charles Carroll", person_path("per.004610") %> of Carrollton</em>, slaveholder of <%= link_to "Sue", person_path("per.004513") %></li>
    </ul><!-- end JC -->
<em> &#160;&#160; + (2) <%= link_to "Ann Waring", person_path("per.004621") %></em> - deponent in <em><%= link_to "Mahoney v. Ashton", case_path("oscys.caseid.0481") %></em> 
</ul>


</ul><!-- end tree -->

<hr/>

<h4>Sources</h4>
<div class="footnotes">

<p>The lineage of the Darnalls and associated families revealed in the court records has been cross-referenced with the genealogical research at "<a href="http://www.colonial-settlers-md-va.us/index.php" target="new">Early Colonial Settlers of Southern Maryland and Virginia's Northern Neck Counties</a>."</p>

