


<h2>Dunbar-Graham Family Network</h2>

<p>According to the will of their enslaver, Molly and her children would receive their freedom upon reaching the age of 31. When one of Milly's daughters and her children were later sold, their freedom at age 31 was a condition of the sale. By the late 1830s, two of Milly's children were still enslaved by Richard Brown's <%= link_to "descendants", {:name => "brown", :action => "sub"} %>, and they successfully petitioned the court for their freedom. </p>

<hr/>

<p>
<ul class="tree">
    <li>Molly - b. abt 1773<span class="foot"><a href="#footn1" id="bodyn1">1</a></span> - enslaved by Richard Brown, <%= link_to "bequeathed", doc_path("oscys.case.0435.010") %> to <%= link_to "Elizabeth Brown", person_path("per.001348") %> in 1789; to be freed at the age of 31 years</li>
        <ul><!-- children of molly -->
            <li><%= link_to "Milly Dunbar", person_path("per.001352") %> - enslaved by <%= link_to "Elizabeth Brown", person_path("per.001348") %>; <%= link_to "hired out", doc_path("oscys.case.0435.002") %> in Georgetown from abt 1808-1813 - <%= link_to "imported", doc_path("oscys.case.0179.010") %> to Alexandria County and sold to <%= link_to "Frances (Brown) Alexander", person_path("per.001347") %> in 1813; to be freed at age 31 - <%= link_to "free", doc_path("oscys.case.0435.001") %> by 1840</li>
                <ul><!-- children of milly -->
                    <li><%= link_to "Ann Graham", person_path("per.001345") %> - b. 1807 - enslaved by <%= link_to "Elizabeth Brown", person_path("per.001348") %>; <%= link_to "imported", doc_path("oscys.case.0179.010") %> to Alexandria County and sold to <%= link_to "Frances (Brown) Alexander", person_path("per.001347") %> in 1813 - <%= link_to "free", doc_path("oscys.case.0435.001") %> by 1840</li>
                    <li><%= link_to "Rachel Graham", person_path("per.001355") %> - b. aft 1807 - <%= link_to "imported", doc_path("oscys.case.0179.010") %> to Alexandria County and sold to <%= link_to "Frances (Brown) Alexander", person_path("per.001347") %> in 1813; bequeathed to Lee Massey Alexander by <%= link_to "Frances (Brown) Alexander", person_path("per.001347") %> in 1823 - freed in 1845 by <%= link_to "petition", case_path("oscys.caseid.0456") %> against <%= link_to "Frances (Alexander) Swann", person_path("per.001357") %></li>
                    <li><%= link_to "Moses Graham", person_path("per.001342") %> - b. December 25, 1813 - enslaved by <%= link_to "Frances (Brown) Alexander", person_path("per.001347") %>; <%= link_to "passed", doc_path("oscys.case.0435.011") %> to <%= link_to "Richard B. Alexander", person_path("per.001343") %> as her administrator - <%= link_to "petitioned", case_path("oscys.caseid.0181") %> for freedom in 1843; to be freed at age 31</li>
                    <li>Jerry - b. September 1, 1814</li>
                    <li><%= link_to "Jenny", person_path("per.001349") %> - b. September 1816</li>
                    <li><%= link_to "Christy", person_path("per.001346") %> (Dunbar) Brown<span class="foot"><a href="#footn2" id="bodyn2">2</a></span> - b. December 1821 - petitioned against <%= link_to "Richard B. Alexander", person_path("per.001343") %> in 1842; to be freed at age 31</li>
                        <ul><!-- children of christy -->
                            <li>Georgiana - freed by petition against <%= link_to "Richard B. Alexander", person_path("per.001343") %>'s administrator in 1858</li>
                            <li>Moses - freed by petition against <%= link_to "Richard B. Alexander", person_path("per.001343") %>'s administrator in 1858</li>
                            <li>Thomas - freed by petition against <%= link_to "Richard B. Alexander", person_path("per.001343") %>'s administrator in 1858</li>
                            <li>Mary - freed by petition against <%= link_to "Richard B. Alexander", person_path("per.001343") %>'s administrator in 1858</li>
                        </ul><!-- end christy -->
                    <li>Simon - b. March 6, 1823</li>
                </ul><!-- end milly -->
        </ul><!-- end molly -->
</ul><!-- end tree -->
</p>

<hr/>

<h4>Footnotes</h4>
<div class="footnotes">

<p>The names and birth dates of Milly's children (except Rachel) are from the <%= link_to "Appraisement", doc_path("oscys.case.0435.011") %> of Frances Alexander's Estate. Rachel's birth date is approximated in <%= link_to "jury instructions", doc_path("oscys.case.0435.017") %> which stated that she was born after Elizabeth Brown's 1807/08 removal from Maryland into Alexandria.</p>

<p><span class="notenumber" id="footn1">1.</span> In the inventory of the estate of Richard Brown taken November 9, 1789, Molly is listed as about 16 years old. <a href="http://chnm.gmu.edu/probateinventory/document.php?estateID=55&page=279" target="new">Inventory of Rev. Richard Brown</a>, Charles County Maryland Wills 1788-1791, pp 274-280, accessed October 3, 2016 via <em><a href="http://chnm.gmu.edu/probateinventory/index.php" target="new">Probing the Past: Virginia and Maryland Probate Inventories, 1740-1810</a></em>. <a href="#bodyn1">[back]</a></p>

<p><span class="notenumber" id="footn2">2.</span> In her petition for freedom filed in an Alexandria, Virginia court, Christy's name is given as "Christiana Dunbar." In the petition for freedom filed on behalf of her children, she is identified as "Christy Brown formerly Christy Dunbar." See <em>Christiana Dunbar v. Richard B. Alexander</em>, June 1851 and <em>Georgiana et al. v. Admr. of Richard B. Alexander</em>, May 1858, Library of Virginia, Richmond, Virginia, Local Government Records Collection, Arlington County Court Records, Arlington County (Va.) Judgments (Freedom Suits), 1795-1858, Box 2. <a href="#bodyn2">[back]</a></p>

</div>