


<h2>Greenfield Family Network</h2>

<p>Several enslaved people held in bondage by members of the Greenfield family filed petitions in the Circuit Court, using various arguments to try and obtain their freedom.</p>

        <p>
        <ul class="tree">

<li>Gerard T. Greenfield</li>

<ul><!-- children of gtg -->

<li><%= link_to "Sabina T. Greenfield", person_path("per.000812") %></li>
<li><%= link_to "Maria Anne T. Greenfield", person_path("per.000777") %> - died 1824; inherited slaves from her brother Gabriel, and <!--left them--><%= link_to "left them", doc_path("oscys.case.0147.008") %> to Gerard</li>
<li><%= link_to "Walter T. Greenfield", person_path("per.001163") %></li>
<li><%= link_to "Gabriel P. T. Greenfield", person_path("per.000776") %> - died 1815; bequeathed his slaves, including <%= link_to "Ann Bell", person_path("per.000772") %>, to his sister Maria Anne, who <!--left them--><%= link_to "left them", doc_path("oscys.case.0104.006") %> to her nephew Gerard; also <%= link_to "gifted", doc_path("oscys.case.0277.001") %><!--gifted--> and her children and grandchildren to Gerard</li>
<li>Thomas T. Greenfield</li>

<ul><!-- children of ttg -->

<li><%= link_to "Gerard T. Greenfield", person_path("per.000775") %> - inherited a number of slaves from the estates of his aunt and uncle, including <%= link_to "James Ash", person_path("per.000816") %> and <%= link_to "Ann Bell", person_path("per.000772") %>; was also gifted Patt and her children and grandchildren</li>

</ul><!-- end ttg -->

</ul><!-- end gtg -->

        </ul><!-- end tree -->
        </p>


