


<h2>Greenfield Family Network</h2>

<p>Several enslaved people held in bondage by Gerard T. Greenfield filed petitions in the Circuit Court, using various arguments to try and obtain their freedom.</p>

<p>
<ul class="tree">
    <li>Gerrard Truman Greenfield - b. 1722; died 1797, Prince George's County, Md. - bequeathed Lucy <%= link_to "Bell", {:name => "bell", :action => "sub"} %> to his wife Ann, and Lucy's daughter, <%= link_to "Ann Bell", person_path("per.000772") %>, to his son, <%= link_to "Gabriel", person_path("per.000776") %><br/>
<em>+ Ann Parker</em> - b. Oct. 1, 1722, Calvert County, Md.; died June 1810, Prince George's County, Md. - bequeathed Harriet and <%= link_to "Daniel Bell", person_path("per.000871") %> to her son, <%= link_to "Gabriel", person_path("per.000776") %>, and <%= link_to "Caroline Bell", person_path("per.001813") %> to her daughter, Ann T. Beall; left the residue of her estate to her son, Walter, including Lucy <%= link_to "Bell", {:name => "bell", :action => "sub"} %></li>
        <ul><!-- children of gtg -->
            <li>Ann Truman Greenfield - b. 1747; d. 1810, Prince George's County, Md. - left the residue of her estate to her daughter, Susan G. Beall, including <%= link_to "Caroline Bell", person_path("per.001813") %><br/><em>+ George Beall</em></li>
                <ul><!-- children of atg -->
                    <li><%= link_to "Susan Greenfield Beall", person_path("per.000771") %> - b. 1778; d. 1849, Washington, D.C. - <%= link_to "surety for costs", doc_path("oscys.case.0104.001") %> in <%= link_to "suit", case_path("oscys.caseid.0104") %> against Gerard</li>
                    <li><%= link_to "Amelia Truman Beall", person_path("per.000808") %> - b. 1776; d. 1838 - received an <%= link_to "inheritance of $70", doc_path("oscys.case.0104.010") %> from her aunt, Maria Amne<br/>
<em>+ Fielder Dorsett</em></li>
                    <ul><!-- children of sgb -->
                        <li><%= link_to "William Newman Dorsett", person_path("per.000796") %> - acting as <%= link_to "agent of Gerard", doc_path("oscys.case.0147.004") %>, sold <%= link_to "James Ash", person_path("per.000816") %> to <%= link_to "William H. Williams", person_path("per.001145") %></li>
                    </ul><!-- end sgb -->
                </ul><!-- end atg -->
            <li><%= link_to "Thomas Truman Greenfield", person_path("per.001816") %> - b. 1744, Prince George's County, Md.; d. Nov. 15, 1825, Maury County, Tenn.<br/>
<em>+ Priscilla Beckett</em></li>
                <ul><!-- children of ttg -->
                <li><%= link_to "Gerard Truman Greenfield", person_path("per.000775") %> - b. 1783; d. Feb. 25, 1847, Maury County, Tenn. - inherited a number of slaves from the estates of his aunt and uncle, including <%= link_to "James Ash", person_path("per.000816") %> and <%= link_to "Ann Bell", person_path("per.000772") %>; was also <%= link_to "gifted", doc_path("oscys.case.0277.001") %> <%= link_to "Patt", person_path("per.002189") %> and her children and grandchildren</li>
                </ul><!-- end ttg -->
            <li><%= link_to "Gabriel P. T. Greenfield", person_path("per.000776") %> - b. 1750; d. 1815 - bequeathed his slaves, including <%= link_to "Ann Bell", person_path("per.000772") %>, to his sister Maria Amne, who <%= link_to "left them", doc_path("oscys.case.0104.006") %> to her nephew Gerard; also <%= link_to "gifted", doc_path("oscys.case.0277.001") %> <%= link_to "Patt", person_path("per.002189") %> and her children and grandchildren to Gerard; must have left Harriet <%= link_to "Bell", {:name => "bell", :action => "sub"} %> to his sister <%= link_to "Sabina", person_path("per.000812") %></li>
            <li><%= link_to "Maria Amne T. Greenfield", person_path("per.000777") %> - b. 1752; d. 1824 - inherited slaves from her brother Gabriel, and <%= link_to "left them", doc_path("oscys.case.0147.008") %> to her nephew, Gerard</li>
            <li><%= link_to "Sabina T. Greenfield", person_path("per.000812") %> - b. 1754; d. 1824 - left a part of her estate to her sister, <%= link_to "Maria Amne", person_path("per.000777") %></li>
            <li>Walter T. Greenfield - b. bef 1760; d. 1813 - leaves the residue of his estate to his siblings Gabriel, Maria Amne, Sabina, and his nephew Gerard</li>
        </ul><!-- end gtg -->
</ul><!-- end tree -->
</p>


<hr/>

<h4>Sources</h4>
<div class="footnotes">

<p>The Greenfield lineage revealed in the court records has been cross-referenced with the genealogical research at "<a href="http://www.colonial-settlers-md-va.us/index.php" target="new">Early Colonial Settlers of Southern Maryland and Virginia's Northern Neck Counties</a>," and information filled in where necessary: i.e. birth order, Sabina's death date, Walter T. Greenfield, and how the Bealls and Dorsetts relate to the Greenfield family. See <a href="http://www.colonial-settlers-md-va.us/getperson.php?personID=I002449" target="new">Gerard Truman Greenfield</a>.</p>

<p>Information was also cross-referenced with probate records for Gerrard, Anne, Walter, Gabriel, Sabina, and Maria Amne Greenfield found in Prince George's County records. <em><a href="https://familysearch.org/search/collection/1803986" target="new">Maryland Register of Wills Records, 1629-1999</a></em>, FamilySearch.org; citing Prerogative Court, Hall of Records, Annapolis. Also the wills of Anne Truman Beall and Susanna Greenfield Beall filed in Washington, D.C. <em>Probate Records (District of Columbia), 1801-1930</em>, District of Columbia, Register of Wills; Ancestry.com, <em>Washington, D.C., Wills and Probate Records, 1737-1952</em> [database on-line].</p>

</div>