


<h2>Greenfield Family Network</h2>

<p>Several enslaved people held in bondage by Gerard T. Greenfield filed petitions in the Circuit Court, using various arguments to try and obtain their freedom.</p>

<p>
<ul class="tree">
    <li>Gerard Truman Greenfield</li>
        <ul><!-- children of gtg -->
            <li>Anne Truman Greenfield<br/><em>+ George Beall</em></li>
                <ul><!-- children of atg -->
                    <li><%= link_to "Susan Greenfield Beall", person_path("per.000771") %> - <%= link_to "surety for costs", doc_path("oscys.case.0104.001") %> in <%= link_to "suit", case_path("oscys.caseid.0104") %> against Gerard</li>
                    <li><%= link_to "Amelia Truman Beall", person_path("per.000808") %> <em>+ Fielder Dorsett</em> - received an <%= link_to "inheritance of $70", doc_path("oscys.case.0104.010") %> from her aunt, Maria Anne</li>
                    <ul><!-- children of sgb -->
                        <li><%= link_to "William Newman Dorsett", person_path("per.000796") %> - acting as <%= link_to "agent of Gerard", doc_path("oscys.case.0147.004") %>, sold <%= link_to "James Ash", person_path("per.000816") %> to <%= link_to "William H. Williams", person_path("per.001145") %></li>
                    </ul><!-- end sgb -->
                </ul><!-- end atg -->
            <li><%= link_to "Thomas Truman Greenfield", person_path("per.001816") %></li>
                <ul><!-- children of ttg -->
                <li><%= link_to "Gerard Truman Greenfield", person_path("per.000775") %> - inherited a number of slaves from the estates of his aunt and uncle, including <%= link_to "James Ash", person_path("per.000816") %> and <%= link_to "Ann Bell", person_path("per.000772") %>; was also <%= link_to "gifted", doc_path("oscys.case.0277.001") %> <%= link_to "Patt", person_path("per.002189") %> and her children and grandchildren</li>
                </ul><!-- end ttg -->
            <li><%= link_to "Gabriel P. T. Greenfield", person_path("per.000776") %> - died 1815; bequeathed his slaves, including <%= link_to "Ann Bell", person_path("per.000772") %>, to his sister Maria Anne, who <%= link_to "left them", doc_path("oscys.case.0104.006") %> to her nephew Gerard; also <%= link_to "gifted", doc_path("oscys.case.0277.001") %> <%= link_to "Patt", person_path("per.002189") %> and her children and grandchildren to Gerard</li>
            <li><%= link_to "Maria Anne T. Greenfield", person_path("per.000777") %> - died 1824; inherited slaves from her brother Gabriel, and <%= link_to "left them", doc_path("oscys.case.0147.008") %> to her nephew, Gerard</li>
            <li><%= link_to "Sabina T. Greenfield", person_path("per.000812") %> - died 1824; left a part of her estate to her sister, Maria Anne</li>
            <li>Walter T. Greenfield</li>
        </ul><!-- end gtg -->
</ul><!-- end tree -->
</p>


<hr/>

<h4>Sources</h4>
<div class="footnotes">

<p>The Greenfield lineage revealed in the court records has been cross-referenced with the genealogical research at "<a href="http://www.colonial-settlers-md-va.us/index.php" target="new">Early Colonial Settlers of Southern Maryland and Virginia's Northern Neck Counties</a>," and information filled in where necessary: i.e. birth order, Sabina's death date, Walter T. Greenfield, and how the Bealls and Dorsetts relate to the Greenfield family. See <a href="http://www.colonial-settlers-md-va.us/getperson.php?personID=I002449" target="new">Gerard Truman Greenfield</a>.</p>

</div>