


<h2>Joice Family Network</h2>

<p>Ann Joice and her descendants were enslaved by several influential Maryland families, like the <%= link_to "Darnalls", {:name => "darnall", :action => "sub"} %> and <%= link_to "Carrolls", {:name => "carroll", :action => "sub"} %>, as well as the Jesuit priests who operated White Marsh Plantation in Prince George's County.</p>

<hr/>

<p id="joice">
<ul class="tree">
<li><%= link_to "Ann Joice", person_path("per.004337") %> - born in Barbados; brought to Maryland by Charles Calvert, the 3rd Lord Baltimore, between 1676 and 1679; enslaved by the <%= link_to "family", {:name => "darnall", :action => "sub"} %> of <%= link_to "Henry Darnall", person_path("per.004516") %></li>
    <ul><!-- AJ children -->
        <li><%= link_to "David Jones", person_path("per.004603") %> - enslaved by <%= link_to "Henry Darnall", person_path("per.004516") %></li>
        <li><%= link_to "John 'Jack' Wood", person_path("per.004576") %> - enslaved by <%= link_to "Henry Darnall", person_path("per.004516") %> and <%= link_to "Capt. Williams", person_path("per.004577") %> - executed for the murder of Stephen West's overseer</li>
        <li><%= link_to "Thomas 'Tom' Crane", person_path("per.004575") %> - enslaved by <%= link_to "Henry Darnall", person_path("per.004516") %> and <%= link_to "Capt. Williams", person_path("per.004577") %></li>
        <li><%= link_to "Francis 'Frank' Harbard", person_path("per.004566") %> - enslaved by <%= link_to "Henry Darnall", person_path("per.004516") %></li>
            <ul><!-- FH children -->
                <li><%= link_to "Peter Harbard", person_path("per.004602") %> - b. abt 1716; enslaved by <%= link_to "Henry Darnall", person_path("per.004516") %>, purchased by <%= link_to "George Gordon", person_path("per.004579") %>, bequeathed to <%= link_to "Stephen West", person_path("per.004598") %>; purchased his freedom</li>
            </ul><!-- end FH -->
        <li><%= link_to "Polly Harbard", person_path("per.004605") %></li>
        <li><%= link_to "Suzan 'Sue' Harbard", person_path("per.004514") %> - enslaved by <%= link_to "William Digges", person_path("per.004512") %> and his son, <%= link_to "Ignatius Digges", person_path("per.004608") %></li>
            <ul><!-- SH children -->
                <li><%= link_to "Charles", person_path("per.004606") %> - enslaved by <%= link_to "William Digges", person_path("per.004512") %></li>
                <li><%= link_to "Mary 'Polly'", person_path("per.004611") %> - enslaved by <%= link_to "Ignatius Digges", person_path("per.004608") %> and <%= link_to "Basil Waring", person_path("per.004626") %></li>
                <li><%= link_to "Nelly", person_path("per.004624") %> - enslaved by <%= link_to "Hill", person_path("per.004622") %></li>
                <li><%= link_to "Johnny", person_path("per.004623") %> - enslaved by <%= link_to "Hill", person_path("per.004622") %></li> 
                <li><%= link_to "Sarah", person_path("per.004677") %> - enslaved by <%= link_to "Henry Darnall", person_path("per.004678") %></li>
                    <ul><!-- Sarah children -->
                        <li><%= link_to "Will", person_path("per.004679") %> - enslaved by <%= link_to "Richard Darnall", person_path("per.004591") %></li>
                    </ul><!-- end Sarah -->
                <li><%= link_to "Sukey 'Sue'", person_path("per.004513") %> - enslaved by Charles Carroll <%= link_to "of Annapolis", person_path("per.004511") %> and <%= link_to "of Carrollton", person_path("per.004610") %> - <em> see <%= link_to "Carroll Family Network", {:name => "carroll", :action => "sub"} %></em></li>
                    <ul><!-- Sue children -->
                        <li><%= link_to "Eleanor 'Nelly' Mahoney", person_path("per.004510") %> - enslaved by <%= link_to "Charles Carroll of Annapolis", person_path("per.004511") %>; freedom purchased by her husband<br/><em>+ <%= link_to "Robert Mahoney", person_path("per.004584") %></em></li>
                            <ul><!-- EM children -->
                                <li><%= link_to "Charles Mahoney", person_path("per.004476") %> - enslaved by <%= link_to "John Ashton", person_path("per.000215") %>; did not win <%= link_to "freedom suit", case_path("oscys.caseid.0481") %>; manumitted on May 4, 1804</li>
                                <li><%= link_to "Patrick Mahoney", person_path("per.004535") %> - enslaved by <%= link_to "John Ashton", person_path("per.000215") %>; did not win <%= link_to "freedom suit", case_path("oscys.caseid.0481") %>; manumitted on May 4, 1804</li>
                                <li><%= link_to "Daniel Mahoney", person_path("per.004536") %> - enslaved by <%= link_to "John Ashton", person_path("per.000215") %>; did not win <%= link_to "freedom suit", case_path("oscys.caseid.0481") %></li>
                                <li><%= link_to "Robert Mahoney", person_path("per.004585") %></li>
                                <li><%= link_to "Thomas Mahoney", person_path("per.004589") %></li>
                                <li><%= link_to "James Mahoney", person_path("per.004587") %></li>
                                <li><%= link_to "Bernard Mahoney", person_path("per.004586") %></li>
                                <li><%= link_to "Joseph Mahoney", person_path("per.004588") %></li>
                            </ul><!-- end EM -->
                    </ul><!-- end Sue -->
            </ul><!-- end SH -->
        <li><%= link_to "Molly", person_path("per.004617") %></li>
            <ul><!-- Molly children -->
                <li><%= link_to "Nelly", person_path("per.004618") %></li>
                <li><%= link_to "Sally", person_path("per.004619") %></li>
            </ul><!-- end Molly -->
        <li><%= link_to "Kitty", person_path("per.004676") %> or Killy</li>
        <li><%= link_to "Ann Joyce Cross", person_path("per.004571") %> - bound to <%= link_to "John Chapman", person_path("per.004572") %> in 1701 by Prince George's County Court</li>
    </ul><!-- end AJ -->
</ul><!-- end tree -->

<hr/>

<h3>Clem Joice</h3>

<p class="small">Clem Joice was a descendant of Ann Joice through an unknown family line.</p>

<p>
<ul class="tree">
<li>Eleanor Joice - sued for her freedom against <%= link_to "Notley Young", person_path("per.003360") %> in Prince George's County Court in 1796; her case was dismissed in 1802</li>
    <ul><!-- EJ children -->
        <li><%= link_to "Clem Joice", person_path("per.002761") %> - did not win her <%= link_to "freedom suit", case_path("oscys.caseid.0337") %> filed in 1808 against <%= link_to "Robert Alexander", person_path("per.002762") %> in the Circuit Court for the District of Columbia</li>
    </ul><!-- EJ end -->
</ul>
</p>

<hr/>

<h3>John Hickman</h3>

<p class="small">John Hickman was a descendant of Ann Joice through an unknown family line. He petition for his freedom from <%= link_to "Dr. Richard Smith", person_path("per.004574") %> in Prince George's County in the 1790s. Some of the depositions taken in his suit were used in the case of <em><%= link_to "Charles Mahoney v. John Ashton", case_path("oscys.caseid.0481") %></em>.</p>

<p>
<ul class="tree">
<li><%= link_to "John Hickman", person_path("per.004643") %> - outcome of freedom petition unknown</li>
</ul>
</p>

<hr/>

<h3>Possible Descendants</h3>

<p class="small">John Wood and Moll Crane are siblings, according to Peter Knight. He states that he does not know their relation to Jack Wood, son of Ann Joice, or Jack Crane (see below).</p>

<p>
<ul class="tree">
<li><%= link_to "John Wood", person_path("per.004600") %> - free; died before 1796</li>
<li><%= link_to "Moll Crane", person_path("per.004599") %> - free</li>
</ul>
</p>

<p class="small">It is unknown how Jack Crane is related to Moll Crane or to Tom Crane, the son of Ann Joice.</p>

<p>
<ul class="tree">
<li><%= link_to "Jack Crane", person_path("per.004597") %> - enslaved by <%= link_to "Stephen West", person_path("per.004598") %>; executed for the murder of his overseer alongside <%= link_to "Jack Wood", person_path("per.004576") %> (see <a href="#joice">tree</a> above)</li>
</ul>
</p>