


<h2>Lee Family Network</h2>

<p>Several members of the Lee family petitioned for their freedom in fear that their present owner&#8212;Augustus Preuss, son-in-law of the late Peter Savary&#8212;would not adhere to the deed of emancipation that freed their mother and stipulated they be manumitted upon reaching specific ages.</p>

<hr/>

        <p>
        <ul class="tree">
          <li><%= link_to "Joanna/Joan Lee", person_path("per.000615") %> - enslaved by <%= link_to "Anthony", person_path("per.000624") %> and <%= link_to "Walter Addison", person_path("per.000625") %>; traded to <%= link_to "Peter Savary", person_path("per.000628") %>; set <%= link_to "free", doc_path("oscys.case.0076.003") %> October 8, 1809 <br/>+ <i><%= link_to "Peter Lee", person_path("per.000626") %></i> - enslaved by <%= link_to "Peter Savary", person_path("per.000628") %></li>
          <ul>
            <li><%= link_to "John Baptist Lee", person_path("per.000630") %> - born c. 1800; <%= link_to "petitioned", case_path("oscys.caseid.0076") %> against <%= link_to "Augustus Preuss", person_path("per.000617") %> in 1827; to be <%= link_to "freed", doc_path("oscys.report.0019.001") %> May 1830</li>
            <li>Peter Lee - born c. 1801; <%= link_to "petitioned", case_path("oscys.caseid.0473") %> for freedom from D. T. Cureton and <%= link_to "Augustus Preuss", person_path("per.000617") %>; outcome unknown<span class="foot"><a href="#footn1" id="bodyn1">1</a></span></li>
            <li><%= link_to "Lizette Lee", person_path("per.000616") %> - born c. 1802; <%= link_to "petitioned", case_path("oscys.caseid.0076") %> against <%= link_to "Augustus Preuss", person_path("per.000617") %> in 1827; to be <%= link_to "freed", doc_path("oscys.report.0019.001") %> Christmas 1827</li>
            <ul>
              <li><%= link_to "Nancy Lee", person_path("per.000623") %> - born c. 1825; freedom status unknown</li>
            </ul>
            <li>Lewis Lee - born c. 1803; <%= link_to "petitioned", case_path("oscys.caseid.0473") %> for freedom from D. T. Cureton and <%= link_to "Augustus Preuss", person_path("per.000617") %>; outcome unknown<span class="foot"><a href="#footn1" id="bodyn1">1</a></span></li>
            <li><%= link_to "Janette/Jeane Lee", person_path("per.000619") %> - born c. 1809; <%= link_to "petitioned", case_path("oscys.caseid.0076") %> against <%= link_to "Augustus Preuss", person_path("per.000617") %> in 1827; to be <%= link_to "freed", doc_path("oscys.report.0019.001") %> May 19, 1834</li>
          </ul>
        </ul>
        </p>

<hr/>

<h4>Footnotes</h4>
<div class="footnotes">

<p><span class="notenumber" id="footn1">1.</span> Peter and his brother Lewis passed from the possession of Peter Savary to his son-in-law, Augustus Preuss, who later sold them to D. T. Cureton, to be taken to South Carolina. They petitioned for freedom against Cureton and Preuss in the Circuit Court for the District of Columbia sitting in Alexandria. <a href="#bodyn1">[back]</a></p>

</div>