
<h2>Wharton-Pile Family Network</h2>

<p>Henry Wharton received a member of the <%= link_to "Thomas", {:name => "thomas", :action => "sub"} %> family, Betty Mingo, in an exchange with a nearby slaveholder, <a href="#stone">Thomas Stone</a>. Betty and many of her children and grandchildren later petitioned for their freedom on the grounds that they were the descendants of a free, white woman.</p>


<p id="wharton">
<ul class="tree">
    <li><%= link_to "Henry Wharton", person_path("per.002074") %> - received <%= link_to "Betty Mingo", person_path("per.001964") %> from <%= link_to "Thomas Stone", person_path("per.002062") %></li>
        <ul><!-- Henry children -->
            <li><%= link_to "Elizabeth Wharton", person_path("per.002054") %><br/>
              <em>+ Joseph Pile</em><span class="foot"><a href="#footn1" id="bodyn1">1</a></span></li>
                <ul><!-- Elizabeth children -->
                    <li><%= link_to "Henry Pile", person_path("per.001943") %> - enslaved <%= link_to "Phia", person_path("per.002066") %>, <%= link_to "Judah", person_path("per.001949") %>, and <%= link_to "Robert Thomas", person_path("per.001950") %></li>
                </ul><!-- end Elizabeth --> 
            <li><%= link_to "Anne Wharton", person_path("per.002076") %><span class="foot"><a href="#footn2" id="bodyn2">2</a></span><br/>
              <em>+ <%= link_to "Basil Smith", person_path("per.002057") %></em></li>
                <ul><!-- Basil children -->
                    <li><%= link_to "Dorthea Smith", person_path("per.002026") %> <em>+ <%= link_to "Raphael Boarman", person_path("per.002028") %></em></li> 
                    <li><%= link_to "Henry Smith", person_path("per.002087") %></li>
                </ul><!-- end Basil -->
            <li><%= link_to "Jane Wharton", person_path("per.002081") %> <em>+ John Parnham</em><span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
        </ul><!-- end Henry -->
</ul><!-- end tree -->
</p>


<hr/>

<h3>Stone Family</h3>

<p class="small">The Stone Family were acquaintances of the Whartons and Piles, with whom they exchanged enslaved members of the <%= link_to "Thomas Family", {:name => "thomas", :action => "sub"} %>.</p> 

<p id="stone">
<ul class="tree">
    <li><%= link_to "Thomas Stone", person_path("per.002062") %><span class="foot"><a href="#footn3" id="bodyn3">3</a></span> - enslaved <%= link_to "Elizabeth Thomas", person_path("per.001932") %>; traded <%= link_to "Betty Mingo", person_path("per.001964") %> to <%= link_to "Henry Wharton", person_path("per.002074") %> - <em>see <a href="#wharton">tree</a> above</em><br/>
        <em>+ Martha Hoskins</em></li>
        <ul><!-- Thomas children -->
            <li>Thomas Stone</li>
            <li><%= link_to "David Stone", person_path("per.002059") %> - traded <%= link_to "Peg Thomas", person_path("per.002016") %> to <%= link_to "John Semple", person_path("per.002055") %><br/>
            <em>+ Sarah Hanson</em><br/>
            <em>+ Elizabeth Jenifer</em></li>
                <ul><!-- David children -->
                    <li><%= link_to "Michael J. Stone", person_path("per.001532") %></li>
                </ul><!-- end David -->
            <li>Anne Stone <em>+ Roger Fowke</em></li>
            <li>Mary Stone <em>+ William Hanson</em></li>
        </ul><!-- end Thomas -->
       &#160;&#160; <em>+ <%= link_to "Catharine", person_path("per.002058") %></em> 
</ul><!-- end tree -->
</p>



<hr/>

<h4>Footnotes</h4>
<div class="footnotes">

<p><span class="notenumber" id="footn1">1.</span> The forename of Elizabeth Wharton's husband has been gathered from the land and probate records published among the genealogical research at <a href="http://wc.rootsweb.ancestry.com/cgi-bin/igm.cgi?op=SHOW&db=mrmarsha" target="new">"Early Colonial Settlers of Southern Maryland and Virginia's Northern Neck Counties."</a> See <a href="http://wc.rootsweb.ancestry.com/cgi-bin/igm.cgi?op=GET&db=mrmarsha&id=I017165">Elizabeth Wharton</a>. <a href="#bodyn1">[back]</a></p>

<p><span class="notenumber" id="footn2">2.</span> The court records list Henry Wharton's daughters by their married names only. Their forenames have been gathered from the probate records published among the genealogical research at <a href="http://wc.rootsweb.ancestry.com/cgi-bin/igm.cgi?op=SHOW&db=mrmarsha" target="new">"Early Colonial Settlers of Southern Maryland and Virginia's Northern Neck Counties."</a> See <a href="http://wc.rootsweb.ancestry.com/cgi-bin/igm.cgi?op=GET&db=mrmarsha&id=I011708">Henry Wharton</a>. <a href="#bodyn2">[back]</a></p>

<p><span class="notenumber" id="footn3">3.</span> Information on Thomas Stone's descendants was taken from Harry Wright Newman, <em><a href="http://babel.hathitrust.org/cgi/pt?id=wu.89066288309;view=2up;seq=28" target="new">The Stones of Poynton Manor</a>: A Genealogical History of Captain William Stone, Gent. and Merchant, Third Proprietary Governor of Maryland, With Sketches of his English Background and a Record of Some of his Descendants in the United States</em> (Washington: H. W. Newman, 1937), 16. <a href="#bodyn3">[back]</a></p>

