


<h2 id="top">Queen Family Network</h2>

<p>Many members of the Queen family petitioned courts in Maryland and D.C. for their freedom based upon their descent from a free woman. They had varying degrees of success.</p>  

<p>
<ul class="tree">
<li><!--Mary Poppow Queen--><%= link_to "Mary Poppow Queen", person_path("per.000068") %> - b. abt 1704<span class="foot"><a href="#footn1" id="bodyn1">1</a></span></li>
    <ul><!-- Mary children -->
        <li><!--Nanny Cooper--><%= link_to "Nanny Cooper", person_path("per.000066") %> (a.k.a. Queen) - b. abt 1720 - possibly freed by petition in Prince George's County, Md.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
            <ul><!-- Nanny children -->
                <li>Thomas - b. June 2, 1735, White Marsh Plantation, Md.</li>
                <li>Mary Queen - b. February 28, 1737, White Marsh</li>
                    <ul><!-- Mary II children -->
                        <li>Priscilla Queen - b. abt 1762 - <em>see <a href="#priscilla-queen">Priscilla Queen</a> below</em></li>
                        <li>Nanny Queen ? - b. abt 1755, Md.</li>
                        <li>Kate Queen - b. abt 1758, Md.</li>
                        <li>Rachel Queen - b. 1760, Md.</li>
                    </ul><!-- Mary II children -->
                <li>Priscilla Queen - b. June 8, 1744, White Marsh</li>
                <li>Ralph Queen - b. September 8, 1745, White Marsh</li>
                <li>Fanny Queen - b. February 7, 1751, White Marsh</li>
                <li>Mima Queen - b. September 7, 1755, White Marsh - <em>see <a href="#mima-allen">Mima Allen</a> below</em></li>
                <li><!--Simon Queen--><%= link_to "Simon Queen", person_path("per.000076") %> - b. January 7, 1759, White Marsh - freed by petition in Prince George's County, Md.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
                <li>Henny Queen - b. October 26, 1760, White Marsh</li>
                <li>David Queen - b. abt 1764 - petitioned for freedom in Harford County, Md.<span class="foot"><a href="#footn3" id="bodyn3">3</a></span></li>
            </ul><!-- Nanny children -->
        <li>Phyllis (Phillis) Queen - b. abt 1721 - freed by petition in Prince George's County, Md.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
            <ul><!-- Phyllis children -->
                <li>Susanna Queen - b. February 14, 1720, White Marsh</li>
                <li>Betty Queen - b. August 1, 1745, White Marsh</li>
                <li>Proteus Queen - b. abt 1750, White Marsh; twin to Gervais - freed by petition in Prince George's County, Md.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
                <li>Gervais (Jarvis) Queen - b. abt 1750, White Marsh; twin to Proteus - freed by petition in Prince George's County, Md.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
                <li><%= link_to "Edward 'Ned' Queen", person_path("per.000078") %> - b. May 3, 1754, White Marsh - freed by <%= link_to "petition", case_path("oscys.caseid.0338") %> in Maryland's General Court of the Western Shore</li>
                <li>Mary Queen - b. May 17, 1757, White Marsh - freed by petition in Prince George's County, Md.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
                <li>Sall Queen - b. April 6, 1758, White Marsh; died before 1763, White Marsh</li>
                <li>Johnny Queen - b. January 16, 1759, White Marsh; died before 1763, White Marsh</li>
                <li>Margaret "Peggy" Queen - b. January 7, 1761, White Marsh</li>
                <li>Winifred Queen - b. 1763, White Marsh - petitioned for freedom in Anne Arundel County, Md.</li>
            </ul><!-- Phyllis children -->
    </ul><!-- Mary children -->
 <em>&#160; + Thomas Barnes or Barm ?</em> - Overseer at Fingaul Plantation, Md.
    <ul><!-- Mary children -->
        <li>Ralph Queen(?) - b. abt 1724<br/>
   <em>+ Nell ?</em></li>
        <ul><!-- Ralph children -->
            <li>Nell - b. 1750, Bohemia Manor, Md.</li>
            <li>Ralph Queen - b. 1752, Bohemia Manor, Md.</li>
        </ul><!-- Ralph children -->
    </ul><!-- Mary children -->
</ul><!-- end tree -->
</p>

<hr/>

<h3 id="mina-queen">Mina Queen</h3>

<p class="small">Mina Queen was the <%= link_to "great-granddaughter", doc_path("oscys.case.0011.005") %> of Mary Queen, although through which line is uncertain. She is most likely one of the granddaughters of Nanny Cooper (or Phyllis). Her daughter Louisa is named in <em><%= link_to "Queen v. Hepburn", case_path("oscys.caseid.0011") %></em>.</p>

<p>
<ul class="tree">
<li><%= link_to "Mina (Mima) Queen", person_path("per.000057") %> - did not win <%= link_to "freedom petition", case_path("oscys.caseid.0011") %></li>
    <ul>
        <li><%= link_to "Louisa Queen", person_path("per.000056") %> - b. after 1782, most likely in Md.</li>
    </ul>
</ul>
</p>

<hr/>

<h3 id="priscilla-queen">Priscilla Queen</h3>

<p class="small">Priscilla Queen was a descendant of Mary Queen, through which line is uncertain. It is most likely through one of the daughters of Nanny Cooper or Phyllis.</p>

<p>
<ul class="tree">
<li><%= link_to "Priscilla Queen", person_path("per.000213") %> - did not win <%= link_to "freedom petition", case_path("oscys.caseid.0025") %></li>
</ul>
</p>

<hr/>

<h3>Hester Queen</h3>

<p class="small">Priscilla Queen was a descendant of Mary Queen, through which line is uncertain. It is most likely through one of the daughters of Nanny Cooper or Phyllis.</p>

<p>
<ul class="tree">
<li><%= link_to "Hester Queen", person_path("per.000223") %> - did not win <%= link_to "freedom petition", case_path("oscys.caseid.0026") %>?</li>
</ul>
</p>

<hr/>

<h3>Alexis Queen</h3>

<p class="small">Alexis Queen is a descendent of Mary Queen, through which line is uncertain. It is most likely through one of the daughters of Nanny Cooper or Phyllis.</p>

<p>
<ul class="tree">
<li><%= link_to "Alexis Queen", person_path("per.000115") %> - did not win <%= link_to "freedom petition", case_path("oscys.caseid.0012") %>?</li>
</ul>
</p>

<hr/>

<h3 id="mima-allen">Mima Allen née Queen(?)</h3>

<p class="small">It is possible that Mima Queen&#8212;born 1755, the daughter of Nanny Cooper&#8212;was transferred to the neighboring plantation of Daniel Clarke, where she had four children with a man enslaved by the Clarke family.</p>

<p>
<ul class="tree">
<li>Mima Allen - a free woman of color<span class="foot"><a href="#footn4" id="bodyn4">4</a></span></li>
    <ul>
        <li>Henrietta "Henny" Allen - b. abt. 1744; raised in Daniel Clarke family; named in freedom petition in Prince George's County, Md.</li>
        <li>Mimy Allen - b. 1789; raised in Daniel Clarke family</li>
        <li>Sarah Allen - b. 1790; raised in Christopher Hyatt family</li>
        <li>Charles Allen</li>
    </ul>
</ul>
</p>

<hr/>

<h3>Monica</h3>

<p class="small">Monica was enslaved by a John Hepburn, who sold her and her family to Samuel Hamilton. She may be a possibility for the mother of the <a href="#mina-queen">Mina Queen</a> that filed against John Hepburn. It is possible that Mina was born after the date of the 1796 deed where this information is found. Both Monica's name and the names of her children reflect a possible Queen heritage.</p>

<p>
<ul class="tree">
<li>Monica - b. abt. 1761<span class="foot"><a href="#footn5" id="bodyn5">5</a></span><br/>
<em>+ Will</em></li>
    <ul>
        <li>John</li>
        <li>Jacob</li>
        <li>Polly (a.k.a. Mary)</li>
        <li>Betty</li>
        <li>Sukey - b. abt. 1795</li>
    </ul>
</ul>
</p>

<hr/>

<h3>Michael Queen</h3>

<p class="small">Michael Queen was likely a descendant of Mary Queen. He lived near White Marsh plantation, and his children's names correspond to other members of the Queen family.</p>

<p>
<ul class="tree">
<li>Michael Queen - b. abt. 1807, Md.; died August 18, 1887, Baltimore, Md.; worked for the Philadelphia, Baltimore, & Wilmington Railroad<span class="foot"><a href="#footn6" id="bodyn6">6</a></span><br/>
<em>+ Mary (a.k.a. Maria)</em></li>
    <ul>
        <li>Sidonia (a.k.a. Dona) Queen - b. abt. 1839</li>
        <li>Joshua Queen - b. abt. 1841</li>
        <li>John Queen - b. abt. 1839; died December 15, 1865, Baltimore County, Md.<span class="foot"><a href="#footn7" id="bodyn7">7</a></span></li>
        <li>Amelia Victoria Queen - b. abt. 1847</li>
        <li>Gould Queen - b. abt. 1848</li>
        <li>Michael Queen - b. abt. 1849</li>
        <li>Caroline E. Queen - b. abt. 1854</li>
        <li>Simon Queen - b. abt. 1856</li>
        <li>Isak (Isaac) Queen - b. abt. 1857; died May 14, 1860, Baltimore County, Md.<span class="foot"><a href="#footn7" id="bodyn7">7</a></span></li>
        <li>Matilda Queen - b. abt. 1861</li>
        <li>Lousia Lucretia Queen - b. abt. 1861</li>
        <li>Katharine Queen - b. abt. 1864</li>
        <li>Mima (Jemima) Minie Queen - b. abt. 1864</li>
        <li>Mary Queen - b. abt. 1868</li>
    </ul>
</ul>
</p>

<hr/>

<h3>Priscilla Queen</h3>

<p class="small">There is a Priscilla Queen listed among the 77 enslaved persons captured aboard <em>The Pearl</em>. In 1848, a large group of men, women, and children attempted to flee Washington, D.C., for the free state of New Jersey, but the ship was eventually captured in the Chesapeake Bay. It is possible that this Priscilla is the daughter of <a href="#priscilla-queen">Priscilla Queen</a> or one of the other 1810 petitioners.</p>

<p>
<ul class="tree">
<li>Priscilla Queen<span class="foot"><a href="#footn8" id="bodyn6">8</a></span></li>
    <ul>
        <li>Priscilla</li>
        <li>Harriet</li>
    </ul>
</ul>
</p>



<hr/>

<h4>Footnotes</h4>
<div class="footnotes">

<p><span class="notenumber" id="footn1">1.</span> Unless otherwise specified, all information for the descendents of Mary Queen in this particular tree originates from the John Lewis Small Book, Box 29, Folder 2, Maryland Province Archives, Society of Jesus, Georgetown University Manuscripts. <a href="#bodyn1">[back]</a></p>

<p><span class="notenumber" id="footn2">2.</span> This group of Queens successfully petitioned for their freedom from Jesuit priest John Ashton in Prince George's County Court (Docket), 1722-1851, April 1796, MSA C1203-43, MdHR 5848-1, Maryland State Archives. <a href="#bodyn2">[back]</a></p>

<p><span class="notenumber" id="footn3">3.</span> David petitioned for freedom in Harford County, Md. as the son of Nanny Cooper.
<em>David Queen v. Sylvester Boarman</em>, Harford County Court, 1794, Historical Society of Harford County. <a href="#bodyn3">[back]</a></p>

<p><span class="notenumber" id="footn4">4.</span> The details of Mima Allen and her children comes from the certificates in Prince George's County Court (Certificates of Freedom), 1806-1829, <a href="http://msa.maryland.gov/megafile/msa/speccol/sc2900/sc2908/000001/000762/html/">Volume 762</a>, MSA CM 1182-1, Maryland State Archives. <a href="#bodyn4">[back]</a></p>

<p><span class="notenumber" id="footn5">5.</span> Information on Monica and her family can be found in John Hepburn to Samuel Hamilton, June 28, 1796, Prince George's County Maryland, Land Records, JRM No. 4 p. 461, Maryland State Archives. Also in a suit against John Hepburn in Prince George's County Docket Books, MSA, C1203-45 (April 1797), January 9, 1797, and C1203-46 (September 1797). <a href="#bodyn5">[back]</a></p>

<p><span class="notenumber" id="footn6">6.</span> Michael Queen's Obituary, <em>Baltimore Sun</em>, 22 August 1887, p4; Library of Congress Geography & Maps Division, Microfilm Roll 23, Anne Arundel County, City of Baltimore, Year 1878. The names and dates for Michael Queen and his family are pulled from the United States Federal Censuses for Baltimore, Md. in the years 1850, 1870, and 1880 unless otherwise indicated. <a href="#bodyn6">[back]</a></p>

<p><span class="notenumber" id="footn7">7.</span> Records for St. Joseph's Catholic Church in Baltimore County, Md. <a href="#bodyn7">[back]</a></p>

<p><span class="notenumber" id="footn8">8.</span> Hillary Russell. "The Operation of the Underground Railroad in Washington, D.C., c. 1800-1860." <em>The Historical Society of Washington, D.C. and the National Park Service</em>, July 2001. <a href="#bodyn8">[back]</a></p>

</div>



