

<h2 id="top">Queen Family Network</h2>

<p>Many members of the Queen family petitioned for their freedom in courts in Maryland and Washington, D.C., based upon their descent from a free woman. They had varying degrees of success. For further information on the Queens and their legal battles, see <%= story_link("The Timing of <i>Queen v. Hepburn</i>: An exploration of African American Networks in the Early Republic".html_safe, "queen_v_hepburn") %>.</p>

<hr/>

<p>
<ul class="tree">
<li><%= link_to "Mary Queen", person_path("per.000068") %> - d. abt February 19, 1759, Bohemia Manor, Md. - brought to Maryland in 1715 by <%= link_to "Thomas Larkin", person_path("per.001475") %>; enslaved by <%= link_to "James Carroll", person_path("per.000065") %>, who bequeathed the majority of his property to Jesuit priest, George Thorold<span class="foot"><a href="#footn1" id="bodyn1">1</a></span></li>
    <ul><!-- Mary children -->
        <li><%= link_to "Nanny Cooper", person_path("per.000066") %> (a.k.a. Queen) - b. abt 1720</li>
            <ul><!-- Nanny children -->
                <li>Thomas - b. June 2, 1735, White Marsh Plantation, Md.</li>
                <li>Mary Queen - b. February 28, 1737, White Marsh</li>
                    <ul><!-- Mary II children -->
                        <li>Priscilla Queen - b. abt 1762 - <em>see <a href="#priscilla-queen">Priscilla Queen</a> below</em></li>
                        <li><%= link_to "Nanny Queen", person_path("per.004886") %> - b. abt 1755 - possibly freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0504") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
                        <li>Kate Queen - b. abt 1758</li>
                        <li>Rachel Queen - b. 1760</li>
                    </ul><!-- Mary II children -->
                <li><%= link_to "Priscilla Queen", person_path("per.004884") %> - b. June 8, 1744, White Marsh - possibly freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0502") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
                <li>Ralph Queen - b. September 8, 1745, White Marsh</li>
                <li>Fanny Queen - b. February 7, 1751, White Marsh</li>
                <li id="mima-queen">Mima Queen - b. September 7, 1755, White Marsh - <em>see <a href="#mima-allen">Mima Allen</a> below</em></li>
                <li><%= link_to "Simon Queen", person_path("per.000076") %> - b. January 7, 1759, White Marsh - freed in 1796 by petition against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
                <li>Henny Queen - b. October 26, 1760, White Marsh</li>
                    <ul><!-- Henny children -->
                        <li><%= link_to "Ann 'Nanny' Queen", person_path("per.004357") %> - awarded freedom in 1794 <%= link_to "petition", case_path("oscys.caseid.0386") %> against <%= link_to "Sylvester Boarman", person_path("per.004358") %> in Harford County, Md.<span class="foot"><a href="#footn3" id="bodyn3">3</a></span></li>
                    </ul><!-- end Henny -->
                <li><%= link_to "David Queen", person_path("per.004361") %> - b. abt 1764 - awarded freedom in 1794 <%= link_to "petition", case_path("oscys.caseid.0387") %> against <%= link_to "Sylvester Boarman", person_path("per.004358") %> in Harford County, Md.<span class="foot"><a href="#footn3" id="bodyn3">3</a></span></li>
            </ul><!-- Nanny children -->
        <li><%= link_to "Phillis Queen", person_path("per.001476") %> - b. abt 1721 - freed by 1796 <%= link_to "petition", case_path("oscys.caseid.0485") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
            <ul><!-- Phillis children -->
                <li><%= link_to "Susanna 'Sucky' Queen", person_path("per.001481") %> - b. February 14, 1740, White Marsh - possibly freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0486") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
                <li><%= link_to "Betty Queen", person_path("per.004872") %> - b. August 1, 1745, White Marsh - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0487") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
                <li><%= link_to "Proteus Queen", person_path("per.001480") %> - b. abt 1750, White Marsh; twin to Gervais - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0489") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
                <li><%= link_to "Gervais (Jarvis) Queen", person_path("per.001479") %> - b. abt 1750, White Marsh; twin to Proteus - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0488") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
                <li><%= link_to "Edward 'Ned' Queen", person_path("per.000078") %> - b. May 3, 1754, White Marsh; d. February 23, 1798, Baltimore - freed by <%= link_to "petition", case_path("oscys.caseid.0338") %> against <%= link_to "John Ashton", person_path("per.000215") %> 1794 in Maryland's General Court of the Western Shore</li>
                <li><%= link_to "Mary Queen", person_path("per.001485") %> - b. May 17, 1757, White Marsh - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0490") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
                <li>Sall Queen - b. April 6, 1758, White Marsh; died before 1763, White Marsh</li>
                <li>Johnny Queen - b. January 16, 1759, White Marsh; died before 1763, White Marsh</li>
                <li>Margaret "Peggy" Queen - b. January 7, 1761, White Marsh</li>
                <li><%= link_to "Winifred Queen", person_path("per.001482") %> - b. 1763, White Marsh - petitioned for freedom in Anne Arundel County, Md.</li>
            </ul><!-- Phillis children -->
    </ul><!-- Mary children -->
 <em>&#160; + <%= link_to "Thomas Barm", person_path("per.002679") %> or Barnes ?</em> - Overseer at Fingaul Plantation, Md.
    <ul><!-- Mary children -->
        <li><%= link_to "Ralph Queen(?)", person_path("per.002689") %> - b. abt 1724<br/>
   <em>+ Nell ?</em></li>
        <ul><!-- Ralph children -->
            <li>Nell - b. 1750, Bohemia Manor, Md.</li>
            <li>Ralph Queen - b. 1752, Bohemia Manor, Md.</li>
        </ul><!-- Ralph children -->
    </ul><!-- Mary children -->
</ul><!-- end tree -->
</p>

<hr/>

<h3 id="mina-queen">Mina Queen</h3>

<p class="small">Mina Queen was the <%= link_to "great-granddaughter", doc_path("oscys.case.0011.005") %> of Mary Queen, although through which line is uncertain. She is most likely one of the granddaughters of Nanny Cooper (or Phillis). Her daughter Louisa is named in <em><%= link_to "Queen v. Hepburn", case_path("oscys.caseid.0011") %></em>.</p>

<p>
<ul class="tree">
<li><%= link_to "Mina (Mima) Queen", person_path("per.000057") %> - did not win 1810 <%= link_to "freedom petition", case_path("oscys.caseid.0011") %> against <%= link_to "John Hepburn", person_path("per.000058") %></li>
    <ul>
        <li><%= link_to "Louisa Queen", person_path("per.000056") %> - b. after 1782, most likely in Md.</li>
    </ul>
</ul>
</p>

<hr/>

<h3 id="priscilla-queen">Priscilla Queen</h3>

<p class="small">Priscilla Queen was a descendant of Mary Queen, through which line is uncertain. It is most likely through one of the daughters of Nanny Cooper or Phillis.</p>

<p>
<ul class="tree">
<li><%= link_to "Priscilla Queen", person_path("per.000213") %> - outcome of 1810 <%= link_to "freedom petition", case_path("oscys.caseid.0025") %> against <%= link_to "Francis Neale", person_path("per.000214") %> unknown</li>
</ul>
</p>

<hr/>

<h3>Hester Queen</h3>

<p class="small">Hester Queen was a descendant of Mary Queen, through which line is uncertain. It is most likely through one of the daughters of Nanny Cooper or Phillis.</p>

<p>
<ul class="tree">
<li><%= link_to "Hester Queen", person_path("per.000223") %> - outcome of 1810 <%= link_to "freedom petition", case_path("oscys.caseid.0026") %> against <%= link_to "Richard Nally", person_path("per.000225") %> and <%= link_to "James Nevitt", person_path("per.000224") %> unknown</li>
</ul>
</p>

<hr/>

<h3>Alexis Queen</h3>

<p class="small">Alexis Queen is a descendent of Mary Queen, through which line is uncertain. It is most likely through one of the daughters of Nanny Cooper or Phillis.</p>

<p>
<ul class="tree">
<li><%= link_to "Alexis Queen", person_path("per.000115") %> - outcome of 1810 <%= link_to "freedom petition", case_path("oscys.caseid.0012") %> against <%= link_to "John Davis", person_path("per.000116") %> unknown</li>
</ul>
</p>

<hr/>

<h3>Nancy Queen</h3>

<p class="small">Three descendents of Mary Queen named Nancy petitioned for freedom against Jesuit priests. It is uncertain which line they are descended through.</p>

<p>
<ul class="tree">
<li><%= link_to "Nancy Queen", person_path("per.004819") %> - did not win 1796 <%= link_to "freedom petition", case_path("oscys.caseid.0341") %> against Rev. <%= link_to "Charles Sewell", person_path("per.002693") %></li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Nancy Queen", person_path("per.002659") %> - outcome of 1809 freedom petition against Rev. <%= link_to "Charles Neale", person_path("per.002658") %> unclear</li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Nancy Queen", person_path("per.004818") %> - did not win 1810 <%= link_to "freedom petition", case_path("oscys.caseid.0340") %> against Rev. <%= link_to "Charles Neale", person_path("per.002658") %></li>
</ul>
</p>

<hr/>

<h3>Queens freed in 1796</h3>

<p class="small">In 1796, several descendants of Phillis Queen and Nanny Cooper were freed by freedom suits filed in Prince George's County court.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span> Their exact lineage is unknown.</p>

<p>
<ul class="tree">
<li><%= link_to "Sally Queen", person_path("per.004873") %> - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0491") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.</li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Philis Queen", person_path("per.004874") %> - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0492") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.</li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Billey Queen", person_path("per.004875") %> - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0493") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.</li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "John Queen", person_path("per.004876") %> - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0494") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.</li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Thomas Queen", person_path("per.004877") %> - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0495") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.</li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Bill Queen", person_path("per.004878") %> - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0496") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.</li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Kesiah Queen", person_path("per.004879") %> - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0497") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.</li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Nicholas Queen", person_path("per.004880") %> - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0498") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.</li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Bet Queen", person_path("per.004881") %> - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0499") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.</li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Charity Queen", person_path("per.004882") %> - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0500") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.</li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Winifred Queen", person_path("per.004883") %> - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0501") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.</li>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Lewis Queen", person_path("per.004885") %> - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0505") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.</li>
</ul>
</p>


<hr/>

<h3 id="susanna-queen">Susanna Queen</h3>

<p class="small">In his will dated February 12, 1810, Rev. <%= link_to "John Ashton", person_path("per.000215") %>, a Jesuit priest at White Marsh, left a tract of land in Charles County, Maryland to the children of Susanna Queen: "I bequeath to a youth called Charles Queen and to his sister Elizabeth Queen the children of Susanna Queen the unalienated part of a tract of land called Litchfield Englarged lying in Charles County whereon they now live with all the stock of Horses, Hogs, Cattle, and utensils of every kind found thereon at my death together with the Tobacco Grain and property of every description." The Queen siblings were also to receive a number of enslaved persons.<span class="foot"><a href="#footn4" id="bodyn4">4</a></span> It is unknown through which line they descend, though most likely through one of the daughters of Nanny Cooper or Phillis.</p>

<p class="small">We believe Susanna Queen is Sucky Queen, whose relationship with Ashton was the subject of controversy within the Jesuit order and the enslaved families of White Marsh. Ashton was accused in 1787 of an illicit sexual relationship with Sucky Queen and of fathering two of her children.</p>

<p>
<ul class="tree">
<li><%= link_to "Susanna Queen", person_path("per.001481") %> - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0486") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.</li>
    <ul>
        <li>Charles Queen - b. abt. 1785; d. 1849</li>
        <li>Elizabeth Queen - freed in 1796 by <%= link_to "petition", case_path("oscys.caseid.0486") %> against <%= link_to "John Ashton", person_path("per.000215") %> in Prince George's County, Md.</li>
    </ul>
</ul>
</p>

<hr/>

<h3 id="mima-allen">Mima Allen née Queen(?)</h3>

<p class="small">It is possible that <a href="#mima-queen">Mima Queen</a>&#8212;born 1755, the daughter of Nanny Cooper&#8212;was transferred to the neighboring plantation of Daniel Clarke, where she had four children with a man enslaved by the Clarke family.</p>

<p>
<ul class="tree">
<li>Mima Allen - a free woman of color<span class="foot"><a href="#footn5" id="bodyn5">5</a></span></li>
    <ul>
        <li>Henrietta "Henny" Allen - b. abt. 1774; raised in Daniel Clarke family; named in freedom petition in Prince George's County, Md.</li>
        <li>Mimy Allen - b. 1789; raised in Daniel Clarke family</li>
        <li>Sarah Allen - b. 1790; raised in Christopher Hyatt family</li>
        <li>Charles Allen</li>
    </ul>
</ul>
</p>

<hr/>

<h3>Monica</h3>

<p class="small">Monica was enslaved by a <%= link_to "John Hepburn", person_path("per.000058") %>, who sold her and her family to Samuel Hamilton. She may be a possibility for the mother of the <a href="#mina-queen">Mina Queen</a> that filed against John Hepburn. It is possible that Mina was born after the date of the 1796 deed where this information is found. Both Monica's name and the names of her children reflect a possible Queen heritage.</p>

<p>
<ul class="tree">
<li>Monica - b. abt. 1761<span class="foot"><a href="#footn6" id="bodyn6">6</a></span><br/>
<em>+ Will</em></li>
    <ul>
        <li>John</li>
        <li>Jacob</li>
        <li>Polly (a.k.a. Mary)</li>
        <li>Betty</li>
        <li>Sukey - b. abt. 1795</li>
    </ul>
</ul>
</p>

<hr/>

<h3>Michael Queen</h3>

<p class="small">Michael Queen was likely a descendant of Mary Queen; his children's names correspond to other members of the Queen family. He lived on the Belair Road in north Baltimore, near St. Joseph's Catholic Church. Queen also owned property at Middle River Station on the Philadelphia, Wilmington, &amp; Baltimore Railroad, and he worked for the railroad for 44 years.</p>

<p>
<ul class="tree">
<li>Michael Queen - b. abt. 1807, Md.; died August 18, 1887, Baltimore, Md.; worked for the Philadelphia, Baltimore, & Wilmington Railroad<span class="foot"><a href="#footn7" id="bodyn7">7</a></span><br/>
<em>+ Mary (a.k.a. Maria)</em></li>
    <ul>
        <li>Sidonia (a.k.a. Dona) Queen - b. abt. 1839</li>
        <li>Joshua Queen - b. abt. 1841</li>
        <li>John Queen - b. abt. 1839; died December 15, 1865, Baltimore County, Md.<span class="foot"><a href="#footn8" id="bodyn8">8</a></span></li>
        <li>Amelia Victoria Queen - b. abt. 1847</li>
        <li>Gould Queen - b. abt. 1848</li>
        <li>Michael Queen - b. abt. 1849</li>
        <li>Caroline E. Queen - b. abt. 1854</li>
        <li>Simon Queen - b. abt. 1856</li>
        <li>Isak (Isaac) Queen - b. abt. 1857; died May 14, 1860, Baltimore County, Md.<span class="foot"><a href="#footn8" id="bodyn8">8</a></span></li>
        <li>Matilda Queen - b. abt. 1861</li>
        <li>Lousia Lucretia Queen - b. abt. 1861</li>
        <li>Katharine Queen - b. abt. 1864</li>
        <li>Mima (Jemima) Minie Queen - b. abt. 1864</li>
        <li>Mary Queen - b. abt. 1868</li>
    </ul>
</ul>
</p>

<hr/>

<h3>Priscilla Queen</h3>

<p class="small">There is a Priscilla Queen listed among the 77 enslaved persons captured aboard <em>The Pearl</em>. In 1848, a large group of men, women, and children attempted to flee Washington, D.C., for the free state of New Jersey, but the ship was eventually captured in the Chesapeake Bay. It is possible that this Priscilla is the daughter of <a href="#priscilla-queen">Priscilla Queen</a> or one of the other 1810 petitioners.</p>

<p>
<ul class="tree">
<li>Priscilla Queen<span class="foot"><a href="#footn9" id="bodyn9">9</a></span></li>
    <ul>
        <li>Priscilla</li>
        <li>Harriet</li>
    </ul>
</ul>
</p>


<hr/>

<h4>Footnotes</h4>
<div class="footnotes">

<p><span class="notenumber" id="footn1">1.</span> Unless otherwise specified, all information for the descendants of Mary Queen in this particular tree originates from the John Lewis Small Book, Box 29, Folder 2, Maryland Province Archives, Society of Jesus, Georgetown University Manuscripts. Mary Queen's burial date is found in the Bohemia Day &amp; Ledger Book, 1735-1761, p. 117, Maryland Province Archives, Society of Jesus, Georgetown University Manuscripts. <a href="#bodyn1">[back]</a></p>

<p><span class="notenumber" id="footn2">2.</span> This group of Queens successfully petitioned for their freedom from Jesuit priest John Ashton in Prince George's County Court (Docket), 1722-1851, April 1796, MSA C1203-43, MdHR 5848-1, Maryland State Archives. <a href="#bodyn2">[back]</a></p>

<p><span class="notenumber" id="footn3">3.</span> David petitioned for freedom in Harford County, Md. as the son of Nanny Cooper. Nanny identified herself as the "daughter of Henny, who was the daughter of Nanny who was the Daughter of Mary Queen." <em>Nanny Queen and David Queen v. Sylvester Boarman</em>, Harford County Court, 1794, Historical Society of Harford County. <a href="#bodyn3">[back]</a></p>

<p><span class="notenumber" id="footn4">4.</span> Revd. John Ashton's Will, April Term 1816, p460, Charles County Register of Wills (Wills), 1808-1871, HBBH 13, MdHR 7294, Maryland State Archives. <a href="#bodyn4">[back]</a></p>

<p><span class="notenumber" id="footn5">5.</span> The details of Mima Allen and her children comes from the certificates in Prince George's County Court (Certificates of Freedom), 1806-1829, <a href="http://msa.maryland.gov/megafile/msa/speccol/sc2900/sc2908/000001/000762/html/">Volume 762</a>, MSA CM 1182-1, Maryland State Archives. <a href="#bodyn5">[back]</a></p>

<p><span class="notenumber" id="footn6">6.</span> Information on Monica and her family can be found in John Hepburn to Samuel Hamilton, June 28, 1796, Prince George's County Maryland, Land Records, JRM No. 4 p. 461, Maryland State Archives. Also in a suit against John Hepburn in Prince George's County Docket Books, MSA, C1203-45 (April 1797), January 9, 1797, and C1203-46 (September 1797). <a href="#bodyn6">[back]</a></p>

<p><span class="notenumber" id="footn7">7.</span> Michael Queen's Obituary, <em>Baltimore Sun</em>, 22 August 1887, p4; Library of Congress Geography &amp; Maps Division, Microfilm Roll 23, Anne Arundel County, City of Baltimore, Year 1878. The names and dates for Michael Queen and his family are pulled from the United States Federal Censuses for Baltimore, Md. in the years 1850, 1870, and 1880 unless otherwise indicated. <a href="#bodyn7">[back]</a></p>

<p><span class="notenumber" id="footn8">8.</span> Records for St. Joseph's Catholic Church in Baltimore County, Md. <a href="#bodyn8">[back]</a></p>

<p><span class="notenumber" id="footn9">9.</span> Hillary Russell. "The Operation of the Underground Railroad in Washington, D.C., c. 1800-1860." <em>The Historical Society of Washington, D.C. and the National Park Service</em>, July 2001. <a href="#bodyn9">[back]</a></p>

</div>



