
<h2>Shorter Family Network</h2>

<p>The Shorter family from Charles and Prince George's Counties, Maryland, and Washington, DC, sued for their
freedom between 1795-1823, claiming they were descended from a free woman named Elizabeth Shorter.</p>

<hr/>

<p>
<ul class="tree">
<li><%= link_to "Elizabeth 'Betty Short' Shorter", person_path("per.005217") %><br/>
<em>+ <%= link_to "Robin", person_path("per.005191") %></em></li>
    <ul><!-- start es -->
        <li><%= link_to "Mary 'Moll Short' Shorter", person_path("per.005235") %> – enslaved by <%= link_to "Edward Neale", person_path("per.005146") %></li>
            <ul><!-- start ms -->
                <li><%= link_to "Linda Shorter", person_path("per.005231") %></li>
                    <ul><!-- start ls -->
                        <li><%= link_to "Basil Shorter", person_path("per.005276") %> – filed freedom suit in 1791 against <%= link_to "Henry Rozer", person_path("per.005277") %></li>
                    </ul><!-- start ls -->
                <li><%= link_to "Caty Shorter", person_path("per.005207") %></li>
                    <ul><!-- start cs -->
                        <li><%= link_to "Charles Shorter", person_path("per.005210") %> – filed freedom suit in 1791 against <%= link_to "Henry Rozer", person_path("per.005277") %></li>
                    </ul><!-- start cs -->
                <li><%= link_to "John Shorter", person_path("per.005230") %></li>
            </ul><!-- end ms -->
        <li><%= link_to "Jane 'Jenny Short' Shorter", person_path("per.005224") %></li>
            <ul><!-- start js -->
                <li><%= link_to "Lucy Shorter", person_path("per.005233") %> – enslaved by <%= link_to "William Neale", person_path("per.005174") %></li>
                    <ul><!-- start ls -->
                        <li><%= link_to "Teresa 'Terry' Shorter", person_path("per.005324") %> – filed freedom suit in 1790 against <%= link_to "Joseph Boarman", person_path("per.005297") %></li>
                        <li><%= link_to "Charity Shorter", person_path("per.005208") %> – filed freedom suit in 1790 against <%= link_to "Ignatius Matthews", person_path("per.005282") %></li>
                        <li><%= link_to "Henrietta Shorter", person_path("per.005221") %> – filed freedom suit in 1790 against <%= link_to "Henry Barnes", person_path("per.001951") %><span class="foot"><a href="#footn1" id="bodyn1">1</a></span></li>
                        <li><%= link_to "Basil Shorter", person_path("per.005199") %> – filed freedom suit in 1792 against <%= link_to "Charles Carroll", person_path("per.005279") %><span class="foot"><a href="#footn1" id="bodyn1">1</a></span></li>
                        <li><%= link_to "Robert 'Bob' Shorter", person_path("per.005249") %> - enslaved by <%= link_to "Mary Neale", person_path("per.005163") %><span class="foot"><a href="#footn1" id="bodyn1">1</a></span></li>
                        <li><%= link_to "James 'Jim' Shorter", person_path("per.005229") %> – filed freedom suit in 1790 against <%= link_to "Eleanor Bradford", person_path("per.005056") %></li>
                        <li><%= link_to "Jenny Shorter", person_path("per.005310") %> – enslaved by Henry Neale</li>
                            <ul><!-- start js -->
                                <li><%= link_to "Monica Shorter", person_path("per.005317") %> – filed freedom suit in 1792 against <%= link_to "Edward Hazle", person_path("per.005303") %></li>
                            </ul><!-- end js -->
                        <li><%= link_to "Chloe Shorter", person_path("per.005215") %></li>
                        <li><%= link_to "Mary Shorter", person_path("per.005234") %> – enslaved by <%= link_to "Ignatius Matthews", person_path("per.005282") %></li>
                    </ul><!-- end ls -->
                <li><%= link_to "Appy (Abby) Shorter", person_path("per.005198") %> – d. abt 1776 – enslaved by <%= link_to "Henry Neale", person_path("per.005151") %></li>
                    <ul><!-- start as -->
                        <li><%= link_to "George Shorter", person_path("per.005220") %> – d. bef 1795 – filed freedom suit against <%= link_to "Henry Neale", person_path("per.005152") %></li>
                        <li><%= link_to "Priscilla 'Prissy' Shorter", person_path("per.005323") %> – b. abt 1750 – filed freedom suit in 1792 against <%= link_to "John Smith", person_path("per.005281") %></li>
                            <ul><!-- start ps -->
                                <li><%= link_to "Leonard Shorter", person_path("per.005313") %> – filed freedom suit in 1792 against <%= link_to "Richard Edelen", person_path("per.005300") %></li>
                                <li><%= link_to "Baptist Shorter", person_path("per.005306") %> – b. abt 1771 – filed freedom suit in 1792 against <%= link_to "John Smith", person_path("per.005281") %></li>
                                <li><%= link_to "Charity Shorter", person_path("per.005330") %> – filed freedom suit in 1792 against <%= link_to "John Smith", person_path("per.005281") %></li>    
                            </ul><!-- end ps -->
                        <li><%= link_to "Henny Shorter", person_path("per.005222") %> – d. bef 1795</li>
                        <li><%= link_to "Joshua Shorter", person_path("per.005312") %> – d. bef 1795</li>
                        <li><%= link_to "Anthony Shorter", person_path("per.005305") %></li>
                        <li><%= link_to "Jenny Shorter", person_path("per.005311") %> – d. bef 1795</li>
                        <li><%= link_to "Shadrack Shorter", person_path("per.005251") %> – d. bef 1795</li>
                        <li><%= link_to "Nelly Shorter", person_path("per.005319") %> – d. bef 1795</li>
                        <li><%= link_to "Peter Shorter", person_path("per.005321") %></li>
                        <li><%= link_to "Lucy Shorter", person_path("per.005321") %> – filed freedom suit in 1792 against <%= link_to "Henry Neale", person_path("per.005152") %></li>
                            <ul><!-- start ls -->
                                <li><%= link_to "Charles Shorter", person_path("per.005332") %> – filed freedom suit in 1792 against <%= link_to "Henry Neale", person_path("per.005152") %></li>
                                <li><%= link_to "Will Shorter", person_path("per.005333") %> – filed freedom suit in 1792 against <%= link_to "Henry Neale", person_path("per.005152") %></li>
                                <li><%= link_to "Gerrard Shorter", person_path("per.005334") %> – filed freedom suit in 1792 against <%= link_to "Henry Neale", person_path("per.005152") %></li>
                                <li><%= link_to "Abby Shorter", person_path("per.005335") %> – filed freedom suit in 1792 against <%= link_to "Henry Neale", person_path("per.005152") %></li>
                                <li><%= link_to "Henny Shorter", person_path("per.005336") %> – filed freedom suit in 1792 against <%= link_to "Henry Neale", person_path("per.005152") %></li>
                            </ul><!-- end ls -->
                        <li><%= link_to "Gerrard Shorter", person_path("per.005307") %> – d. bef 1795</li>
                    </ul><!-- end as -->
                <li><%= link_to "Elizabeth 'Betty' Shorter", person_path("per.005218") %> – enslaved by <%= link_to "Roswell Neale", person_path("per.005172") %> and <%= link_to "James Mills", person_path("per.005133") %></li>
                    <ul><!-- start es -->
                        <li><%= link_to "Eleanor 'Nelly' Shorter", person_path("per.005350") %> – enslaved by <%= link_to "James Mills", person_path("per.005133") %> and <%= link_to "Hanson Briscoe", person_path("per.005352") %></li>
                        <li><%= link_to "James Shorter", person_path("per.005351") %> – enslaved by <%= link_to "Hanson Briscoe", person_path("per.005352") %></li>
                    </ul><!-- end es -->
                <li><%= link_to "Edward 'Ned' Shorter", person_path("per.005216") %></li>
                <li><%= link_to "Charles Shorter", person_path("per.005209") %></li>
                <li><%= link_to "James 'Jim' Shorter", person_path("per.005227") %> – enslaved by <%= link_to "Roswell Neale", person_path("per.005172") %></li>
                <li><%= link_to "Bridget Shorter", person_path("per.005204") %></li>
                <li><%= link_to "Lodge Shorter", person_path("per.005232") %></li>
            </ul><!-- end js -->
        <li><%= link_to "Martha 'Pat/Patty' Shorter", person_path("per.005246") %> – d. abt 1744 – enslaved by <%= link_to "Raphael Neale", person_path("per.005169") %> and Capt. <%= link_to "John Lancaster", person_path("per.005122") %></li>
            <ul><!-- start ms -->
                <li><%= link_to "Nell 'Nelly' Shorter", person_path("per.005241") %> – enslaved by <%= link_to "Mary Neale", person_path("per.005163") %> and <%= link_to "Thomas Taney", person_path("per.005261") %></li>
                    <ul><!-- start ns -->
                        <li><%= link_to "Jane 'Jenny' Shorter", person_path("per.005246") %> – b. abt 1734 – filed freedom suit in 1792 against <%= link_to "Eleanor Bradford", person_path("per.005056") %></li>
                            <ul><!-- start js -->
                                <li><%= link_to "Stephen Shorter", person_path("per.005294") %> - filed freedom suit in 1791 against <%= link_to "John Boarman", person_path("per.005295") %></li>
                                <li><%= link_to "Anne 'Nanny' Shorter", person_path("per.005236") %> - filed freedom suit against <%= link_to "Raphael Boarman", person_path("per.005054") %></li>
                                <li><%= link_to "Phillis Shorter", person_path("per.005322") %> - filed freedom suit in 1792 against <%= link_to "Mary Boarman", person_path("per.005298") %></li>
                                    <ul><!-- start ps -->
                                        <li><%= link_to "Letty Shorter", person_path("per.005315") %> - filed freedom suit in 1792 against <%= link_to "Mary Boarman", person_path("per.005298") %></li>
                                    </ul><!-- end ps -->
                                <li><%= link_to "Gerard Shorter", person_path("per.005308") %> - filed freedom suit in 1792 against <%= link_to "Mary Boarman", person_path("per.005298") %></li>
                                <li><%= link_to "Minta Shorter", person_path("per.005316") %></li>
                                    <ul><!-- start ms -->
                                        <li><%= link_to "Nell Shorter", person_path("per.005318") %> - enslaved by <%= link_to "William Chandler Brent", person_path("per.005327") %></li>
                                    </ul><!-- end ms -->
                                <li><%= link_to "Clem Shorter", person_path("per.005212") %> - enslaved by <%= link_to "James Neale", person_path("per.005157") %></li>
                            </ul><!-- end js -->
                        <li><%= link_to "Teresa 'Terry' Shorter", person_path("per.005252") %> - b. abt 1737 - filed freedom suit in 1792 against <%= link_to "Anne Chunn", person_path("per.005071") %></li>
                            <ul><!-- start ts -->
                                <li><%= link_to "Phillis Shorter", person_path("per.005293") %> - filed freedom suit in 1792 against <%= link_to "Anne Chunn", person_path("per.005071") %></li>
                                <li><%= link_to "John Shorter", person_path("per.005291") %> - filed freedom suit in 1792 against <%= link_to "Anne Chunn", person_path("per.005071") %></li>
                                <li><%= link_to "Moses Shorter", person_path("per.005292") %> - filed freedom suit in 1792 against <%= link_to "Anne Chunn", person_path("per.005071") %></li>
                                <li><%= link_to "Charity Shorter", person_path("per.005289") %> - filed freedom suit in 1792 against <%= link_to "Anne Chunn", person_path("per.005071") %></li>
                                <li><%= link_to "Henny Shorter", person_path("per.005290") %> - filed freedom suit in 1792 against <%= link_to "Anne Chunn", person_path("per.005071") %></li>
                            </ul><!-- end ts -->
                        <li><%= link_to "Ignatius 'Nase' Shorter", person_path("per.005238") %> - enslaved by <%= link_to "Henry Howell", person_path("per.005328") %></li>
                        <li><%= link_to "Betty Shorter", person_path("per.005201") %> - enslaved by <%= link_to "John Smith", person_path("per.005281") %></li>
                            <ul><!-- start bs -->
                                <li><%= link_to "Thomas 'Tom' Shorter", person_path("per.005254") %> - enslaved by <%= link_to "Richard Jordan", person_path("per.005119") %></li>
                                <li><%= link_to "Clem Shorter", person_path("per.005214") %> - enslaved by <%= link_to "John Lancaster", person_path("per.005123") %> and <%= link_to "John Smith", person_path("per.005281") %></li>
                                <li><%= link_to "Nelly Shorter", person_path("per.005242") %> - enslaved by <%= link_to "John Lancaster", person_path("per.005123") %></li>
                                <li><%= link_to "Ned Shorter", person_path("per.005240") %> - enslaved by Widow <%= link_to "Boarman", person_path("per.005049") %></li>
                            </ul><!-- end bs -->
                        <li><%= link_to "Jem Shorter", person_path("per.005228") %> - enslaved by <%= link_to "Thomas Reeves", person_path("per.005278") %></li>
                    </ul><!-- end ns -->
                <li><%= link_to "Nanny Shorter", person_path("per.005237") %> - b. abt 1742 - enslaved by <%= link_to "John Lancaster", person_path("per.005123") %></li>
                    <ul><!-- start ns -->
                        <li><%= link_to "Ignatius 'Nase' Shorter", person_path("per.005309") %> - filed freedom suit in 1792 against <%= link_to "John Fenwick", person_path("per.005301") %></li>
                    </ul><!-- end ns -->
                <li><%= link_to "Betty Shorter", person_path("per.005200") %> - enslaved by <%= link_to "John Lancaster", person_path("per.005123") %></li>
                    <ul><!-- start bs -->
                        <li><%= link_to "Patty Shorter", person_path("per.005320") %> - filed freedom suit in 1792 against <%= link_to "Thomas Stone", person_path("per.005329") %></li>
                            <ul><!-- start ps -->
                                <li><%= link_to "Clement Shorter", person_path("per.005337") %> - filed freedom suit in 1792 against <%= link_to "Thomas Stone", person_path("per.005329") %></li>
                                <li><%= link_to "Charles Shorter", person_path("per.005338") %> - filed freedom suit in 1792 against <%= link_to "Thomas Stone", person_path("per.005329") %></li>
                                <li><%= link_to "Ned Shorter", person_path("per.005339") %> - filed freedom suit in 1792 against <%= link_to "Thomas Stone", person_path("per.005329") %></li>
                                <li><%= link_to "Bett Shorter", person_path("per.005340") %> - filed freedom suit in 1792 against <%= link_to "Thomas Stone", person_path("per.005329") %></li>
                                <li><%= link_to "Joseph Shorter", person_path("per.005341") %> - filed freedom suit in 1792 against <%= link_to "Thomas Stone", person_path("per.005329") %></li>
                                <li><%= link_to "James Shorter", person_path("per.005342") %> - filed freedom suit in 1792 against <%= link_to "Thomas Stone", person_path("per.005329") %></li>
                            </ul><!-- end ps -->
                    </ul><!-- end bs -->
                <li><%= link_to "Ned Shorter", person_path("per.005239") %> - enslaved by <%= link_to "Edmund Plowden", person_path("per.001977") %></li>
                <li><%= link_to "Clem Shorter", person_path("per.005213") %></li>
                <li><%= link_to "Jack Shorter", person_path("per.005223") %></li>
                <li><%= link_to "Peggy Shorter", person_path("per.005248") %> - enslaved by <%= link_to "Thomas Tanney", person_path("per.005261") %></li>
                    <ul><!-- start ps -->
                        <li><%= link_to "Fanny Shorter", person_path("per.005219") %> - enslaved by <%= link_to "Thomas Tanney", person_path("per.005261") %></li>
                    </ul><!-- end ps -->
            </ul><!-- end ms -->
    </ul><!-- end es -->
</ul><!-- end tree -->
</p>

<hr/>

<h3>Unknown Branches</h3>

<p class="small">The following are descendants of Elizabeth Shorter, though it is uncertain through which line.</p>

<p>
<ul class="tree">
<li><%= link_to "Peggy Shorter", person_path("per.005348") %></li>
    <ul>
        <li><%= link_to "Patty Shorter", person_path("per.005347") %></li>
            <ul>
                <li><%= link_to "Joseph Shorter", person_path("per.005344") %> - enslaved by <%= link_to "Thomas Brewer", person_path("per.005345") %></li>
            </ul>
    </ul>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Caty Shorter", person_path("per.005205") %></li>
    <ul>
        <li><%= link_to "Caty Shorter", person_path("per.005206") %></li>
            <ul>
                <li><%= link_to "Osborn Shorter", person_path("per.005244") %> - enslaved by <%= link_to "Mary Hurley", person_path("per.005112") %></li>
            </ul>
    </ul>
</ul>
</p>

<p>
<ul class="tree">
<li><%= link_to "Sal Shorter", person_path("per.005250") %> - enslaved by <%= link_to "Robert Brent", person_path("per.005057") %></li>
    <ul>
        <li><%= link_to "Terry Shorter", person_path("per.005253") %> - enslaved by <%= link_to "Henry Diggs", person_path("per.005080") %></li>
            <ul>
                <li><%= link_to "Charles Shorter", person_path("per.005211") %> - enslaved by <%= link_to "Henry Diggs", person_path("per.005080") %></li>
            </ul>
    </ul>
</ul>
</p>


<hr/>

<h4>Footnotes</h4>
<div class="footnotes">

<p><span class="notenumber" id="footn1">1.</span> <%= link_to "Jenny Shorter", person_path("per.005225") %> says in her deposition that Henrietta, Basil and Robert are the siblings of Lucy, but <%= link_to "Terry Shorter", person_path("per.005252") %> says that they are <em>her</em> siblings. <a href="#bodyn1">[back]</a></p>