
<h2>Thomas Family Network</h2>

<p>Multiple generations of the Thomas family petitioned in Maryland, Virginia, and D.C. for their freedom from various masters, including the <%= link_to "Wharton and Pile", {:name => "pile", :action => "sub"} %> families. Members of the Thomas family argued that as descendants of a white woman, they should be entitled to their liberty.</p>

<p>The matriarch of the family, Elizabeth Thomas, was a white Welshwoman. According to a 1664 act of the Maryland General Assembly, her marriage to an enslaved black man meant that she was to be in servitude for the duration of his life, and any children they may have would be enslaved for life, in perpetuity.</p> 

<p>For further context on the legal struggles of Elizabeth and Joseph's descendents, see see <%= story_link("A Mother's Inheritance: Women, Interracial Identity, and Emancipation in Maryland, 1664-1820".html_safe, "mothers_inheritance") %>.</p>

<hr/>

<p>
<ul class="tree">
<li><%= link_to "Elizabeth Thomas", person_path("per.001932") %> - white Welshwoman; enslaved by <%= link_to "Thomas Stone", person_path("per.002062") %><br/>
   <em>+ Joseph Mingo</em><span class="foot"><a href="#footn1" id="bodyn1">1</a></span> - unsuccessfully petitioned for his freedom in 1702 from William Stone in Charles County, Md.</li>
    <ul><!-- Elizabeth children -->
        <li>Lewis Mingo - unsuccessfully petitioned for his freedom in 1713 from <%= link_to "Henry Wharton", person_path("per.002074") %> in Charles County, Md.<span class="foot"><a href="#footn2" id="bodyn2">2</a></span></li>
        <li><%= link_to "Elizabeth 'Betty' Mingo", person_path("per.001964") %> - enslaved by <%= link_to "Thomas Stone", person_path("per.002062") %>, traded to <%= link_to "Henry Wharton", person_path("per.002074") %>, and bequeathed to <%= link_to "Elizabeth Pile", person_path("per.002054") %> (née Wharton)<br/>
        <em>+ <%= link_to "Harry Cooper", person_path("per.002034") %> ?</em> - enslaved by <%= link_to "Henry Wharton", person_path("per.002074") %></li>
            <ul><!-- Betty children -->
                <li><%= link_to "Margaret 'Peg' Thomas", person_path("per.002016") %> - enslaved by <%= link_to "David Stone", person_path("per.002059") %> and <%= link_to "John Semple", person_path("per.002055") %></li>
                    <ul><!-- Peg 1 children -->
                        <li><%= link_to "Peg Thomas", person_path("per.002019") %></li>
                            <ul><!-- Peg 2 children -->
                                <li><%= link_to "Peter Thomas", person_path("per.002017") %> - did not win 1797 <%= link_to "petition", doc_path("oscys.case.0258.020") %> against <%= link_to "Samuel Hamilton", person_path("per.002013") %> in Prince George's County</li>
                            </ul><!-- end Peg 2 -->
                    </ul><!-- end Peg 1 -->
                <li><%= link_to "Robin Mingo", person_path("per.002052") %> - enslaved by <%= link_to "David Stone", person_path("per.002059") %></li>
                <li><%= link_to "Sophia 'Phia' Thomas", person_path("per.002066") %> - enslaved by <%= link_to "Henry Pile", person_path("per.001943") %></li>
                    <ul><!-- Sophia children -->
                        <li><%= link_to "Judah 'Judy' Thomas", person_path("per.001949") %> - unsuccessfully <%= link_to "petitioned for freedom", doc_path("oscys.case.0258.008") %> in 1795 from <%= link_to "Henry Pile", person_path("per.001943") %> in Charles County, Md.</li> 
                            <ul><!-- Judy children -->
                                <li><%= link_to "Robert Thomas", person_path("per.001950") %> - freed by <%= link_to "petition", doc_path("oscys.caseid.0342") %> from <%= link_to "Henry Pile", person_path("per.001943") %> in 1795 in the General Court of the Western Shore, Md.<span class="foot"><a href="#footn3" id="bodyn3">3</a></span></li>
                            </ul><!-- end Judy -->
                    </ul><!-- end Sophia -->
                <li><%= link_to "Nanny Cooper", person_path("per.002052") %></li>
                    <ul><!-- Nanny children -->
                        <li><%= link_to "John Thomas", person_path("per.002065") %> - enslaved by <%= link_to "Raphael Boarman", person_path("per.002028") %></li>
                    </ul><!-- end Nanny -->
            </ul><!-- end Betty -->
        <li><%= link_to "Charles Mingo", person_path("per.002051") %> - enslaved by <%= link_to "Thomas Jamison", person_path("per.002090") %><br/>
        <em>+ <%= link_to "Mary Curtis", person_path("per.002036") %></em> - white Irish(?) woman enslaved by <%= link_to "James Swann", person_path("per.002063") %> as punishment by the court for giving birth to a "mulatto bastard"</li>
            <ul><!-- Charles children -->
                <li>Jonathan Curtis<span class="foot"><a href="#footn4" id="bodyn4">4</a></span></li>
            </ul><!-- end Charles -->
    </ul><!-- end Elizabeth -->
</ul><!-- end tree -->
</p>


<hr/>

<h3>Dennis and Walter Thomas</h3>

<p class="small">Dennis and Walter claim to be descendants of Elizabeth Thomas, but it is not specified in the court documents how. It is possible that the two are brothers.</p> 

<p>
<ul class="tree">
<li><%= link_to "Dennis Thomas", person_path("per.001935") %> - outcome of 1809 <%= link_to "petition", case_path("oscys.caseid.0260") %> against <%= link_to "Alexander Scott", person_path("per.001937") %> in Washington, D.C., unknown</li>
<li><%= link_to "Walter Thomas", person_path("per.001936") %> - outcome of 1809 <%= link_to "petition", case_path("oscys.caseid.0260") %> against <%= link_to "Alexander Scott", person_path("per.001937") %>  in Washington, D.C., unknown</li>
</ul>
</p>



<hr/>

<h3>Peter Thomas</h3>

<p class="small">Peter is a descendant of Elizabeth Thomas, but it is not specified in the court documents how. It is possible that he is the brother of Dennis and Walter Thomas.</p> 

<p>
<ul class="tree">
<li><%= link_to "Peter Thomas", person_path("per.001933") %> - outcome of petitions <%= link_to "against", case_path("oscys.caseid.0259") %> <%= link_to "Creedy Hamilton", person_path("per.001934") %> (1809) and <%= link_to "against", case_path("oscys.caseid.0271") %> Christiana Hamilton (1810) in Washington, D.C., unknown</li>
</ul>
</p>



<hr/>

<h4>Footnotes</h4>
<div class="footnotes">

<p><span class="notenumber" id="footn1">1.</span> The name of Elizabeth Thomas' enslaved husband was identified as Joseph Mingo by Thomas F. Brown and Leah C. Sims in "'To Swear Him Free': Ethnic Memory as Social Capital in Eighteenth-Century Freedom Petitions," in <em>Colonial Chesapeake: New Perspectives</em>, ed. Debra Meyers and Melanie Perreault (Lanham, MD: Lexington Books, 2006), 97. <a href="#bodyn1">[back]</a></p>

<p><span class="notenumber" id="footn2">2.</span> Lewis Mingo's petition for freedom is described by Brown and Sims in "'To Swear Him Free'," 97-98. <a href="#bodyn2">[back]</a></p>

<p><span class="notenumber" id="footn3">3.</span> Although the surviving court documents do not contain the verdict of the case, Brown and Sims reported that Robert was successful in his petition. "'To Swear Him Free'," 100. <a href="#bodyn3">[back]</a></p>

<p><span class="notenumber" id="footn4">4.</span> The name of Charles Mingo and Mary Curtis' child was identified as Jonathan Curtis by Brown and Sims in "'To Swear Him Free'," 98. <a href="#bodyn4">[back]</a></p>

