


<h2>Families</h2>

<p>Explore kinship and family networks of multigenerational black, white, and mixed families of early Washington, D.C. These networks have been created using information derived from the court records, as well as genealogical research. Cases reveal deep interconnections between the families of early Washington. Because of the importance of kinship and family in matters of freedom, the petition for freedom case files in particular often contain genealogical information for the black and white families involved in these suits. The families presented here are selected for full analysis and presentation because of their prominence in the court records.<!-- The full database of families referred to in the court records includes over xxxx families. --></p>



<div class="row">
  <div class="col-md-6">
	  
	  
	  <h3>African-American Families</h3>

<h4><%= link_to "Bell Family Network", {:name => "bell", :action => "sub"} %></h4>

<p>The Bell family tried to use the courts to uphold their manumission. When the legal system failed them, they turned to the Underground Railroad and became involved in <em>The Pearl</em> Incident.</p>   

<h4><%= link_to "Davis Family Network", {:name => "davis", :action => "sub"} %></h4>

<p>Several generations of the Davis family petitioned the Court for their freedom from various masters, arguing that as descendants of a free woman, they should be entitled to their liberty.</p>  

<h4><%= link_to "Dunbar-Graham Family Network", {:name => "graham", :action => "sub"} %></h4>

<p>Several members of the Dunbar-Graham family petitioned for their freedom from <%= link_to "descendants", {:name => "brown", :action => "sub"} %> of Richard Brown on the grounds that they were to be emancipated when they reach 31 years of age.</p>

<h4><%= link_to "Lee Family Network", {:name => "lee", :action => "sub"} %></h4>

<p>Several members of the Lee family petitioned for their freedom in fear that their present master would not adhere to the deed of emancipation that freed their mother and stipulated they be manumitted upon reaching specific ages.</p>

<h4><%= link_to "Queen Family Network", {:name => "queen", :action => "sub"} %></h4>

<p>Many members of the Queen family petitioned courts in Maryland and D.C. for their freedom, based upon their descent from a free woman. They had varying degrees of success.</p> 

<h4><%= link_to "Thomas Family Network", {:name => "thomas", :action => "sub"} %></h4>

<p>Multiple generations of the Thomas family petitioned in Maryland, Virginia, and D.C. for their freedom, arguing that as descendants of a white woman, they should be entitled to their liberty.</p>
    
	  
  </div>
  <div class="col-md-6">
	  
	  
	  <h3>White Families</h3>

<h4><%= link_to "Brown Family Network", {:name => "brown", :action => "sub"} %></h4>

<p>Elizabeth Brown sold an enslaved family to her sister, Francis Alexander, with the condition that they be freed after a specific number of years. Several petitions for freedom were filed against Mrs. Alexander's heirs when this condition was not upheld.</p>    

<h4><%= link_to "Carroll Family Network", {:name => "carroll", :action => "sub"} %></h4>

<p>Members of Carroll family at one time claimed ownership of the matriarch of the <%= link_to "Queen Family", {:name => "queen", :action => "sub"} %>, upon whose status the freedom petitions rested.</p>

<!--<h4><%= link_to "Catholic Clergy Network", {:name => "catholic", :action => "sub"} %></h4>

<p>The Society of Jesus had several missions in the Maryland counties surrounding Washington, D.C., in addition to Georgetown College in the district. Many of these missions, as well as the college, held enslaved people as property.</p>-->               

<h4><%= link_to "Greenfield Family Network", {:name => "greenfield", :action => "sub"} %></h4>

<p>Several enslaved people held in bondage by members of the Greenfield family filed petitions in the Circuit Court, using various arguments to try and obtain their freedom.</p>
    
<h4><%= link_to "Key Family Network", {:name => "key", :action => "sub"} %></h4>

<p>Francis Scott Key, his uncle, Philip Barton Key, and his son, Philip Barton Key II, represented both enslaved persons and their owners in freedom petitions before courts in Maryland and D.C.</p>

<h4><%= link_to "Wharton-Pile Family Network", {:name => "pile", :action => "sub"} %></h4>

<p>The Wharton and Pile families enslaved numerous members of the <%= link_to "Thomas Family", {:name => "thomas", :action => "sub"} %> and also traded and exchanged them with their neighbors and acquaintances. Many of the Thomases petitioned for their freedom in D.C. and Maryland.</p>	  
	  
	  
  </div>
</div>

