<% current_page = params[:page] ? params[:page].to_i : 1 %>
<nav>
  <ul class="pagination">
    <% active_prev = current_page == 1 ? "disabled" : "" %>
    <li class="<%= active_prev %>">
      <%= link_to to_page(current_page-1) do %>
        <span aria-hidden="true">&laquo;</span>
      <% end %>
    </li>

    <%= paginator_numbers(@total_pages) %>

    <% active_next = current_page == @total_pages.to_i ? "disabled" : "" %>
    <li class="<%= active_next %>">
      <%= link_to to_page(current_page+1) do %>
        <span aria-hidden="true">&raquo;</span>
      <% end %>
    </li>
  </ul>
</nav>
