<h2>All Documents</h2>

<a name="top">
  <h2>Displaying All <%= @docs[:num_found] %> Documentszzz</h2>

  <!-- search form -->
  <%= render "search_bar" %>
</a>

<div class="jump_pagination">Jump to Page 
<%= form_tag documents_path(reset_params) do %>
  <%= paginator %>
<% end %>
of results</div>

<ul>
  <% @docs[:docs].each do |doc| %>
    <li>
      <%= link_to "#{doc["title"]} (#{doc["dateDisplay"]})", doc_path(doc["id"]) %>
    </li>
  <% end %>
</ul>