<% if @case.nil? %>
  <h1>Something Is Wrong</h1>
  <p>We cannot find a case with id <%= params["id"] %>.</p>
  <p>This case may not exist or we may be experiencing technical issues.</p>
<% else %>

  <h2><%= @case["title"] %></h2>

  <%# metadata_builder("Jurisdiction", @case["jurisdiction_ss"]) %>
  <%= find_unique_strings(@case["jurisdiction_ss"]) %>

  <h3>Outcome</h3>
  <%= metadata_builder(nil, @case["outcomeID_ss"]) %>

  <div class="callout">
    <a href="#documents">Case Documents</a> | <a href="#rel_documents">Related Documents</a> | <a href="#cases">Related Cases</a> | <a href="#narrative">Case Narrative & Commentary</a> | <a href="#people">People</a>
  </div>

  <a name="documents"></a><h3>Case Documents</h3>
  <%= format_list(@case["caseDocumentData_ss"], "doc") %>

  <h4><%= link_to "View more related documents...", search_path(:qfield => "documentCaseID_ss", :qtext => @case['id']) if @case["caseDocumentData_ss"].length > 50 %></h4>


  <a name="rel_documents"></a><h3>Related Documents</h3>
  <%= format_list(@case["caseRelatedDocumentData_ss"], "doc") %>

  <a name="cases"></a><h3>Related Cases</h3>
  <%= format_list(@case["relatedCaseData_ss"], "case") %>

  <a name="narrative"></a>
  <% if @case["caseidHasNarrative_s"] %>
    <h3>Case Narrative</h3>
    <%= @annotated.html_safe if @annotated%>
  <% end %>

  

  <a name="people"></a><h3>People</h3>
  <h4>Plaintiffs:</h4>
  <%= people_list(@case["plaintiffData_ss"]) %>
  <h4>Defendant(s):</h4>
  <%= people_list(@case["defendantData_ss"]) %>
  <h4>Attorney for Plaintiffs:</h4>
  <%= people_list(@case["attorneyPData_ss"]) %>
  <h4>Attorney for Defendant(s):</h4>
  <%= people_list(@case["attorneyData_ss"]) %>
  <h4>Participants:</h4>
  <%= people_list(@case["personData_ss"]) %>

<% end %>