<% if @case.nil? %>
  <h1>Something Is Wrong</h1>
  <p>We cannot find a case with id <%= params["id"] %>.</p>
  <p>This case may not exist or we may be experiencing technical issues.</p>
<% else %>

  <h2><%= @case["title"] %></h2>
  <% if @case["jurisdiction_ss"] %>
    <%= find_unique_strings(@case["jurisdiction_ss"]) %>
  <% end %>

  <div class="jump_menu">
    <%= '<a href="#claims">Claim for Freedom</a>'.html_safe if @case["claims_ss"] %>
    <%= '<a href="#outcome">Outcome</a>'.html_safe if @case["outcomeData_ss"] %>
    <%= '<a href="#documents">Case Documents</a>'.html_safe if @case["caseDocumentData_ss"] %>
    <%= '<a href="#rel_documents">Related Documents</a>'.html_safe if @case["caseRelatedDocumentData_ss"] %>
    <%= '<a href="#cases">Related Cases</a>'.html_safe if @case["relatedCaseData_ss"] %>
    <%= '<a href="#people">People</a>'.html_safe if @case["personData_ss"] %>
    <%= '<a href="#summary">Summary</a>'.html_safe if @case["caseidHasNarrative_s"] %> 
  </div>
     
  <!-- Only put in grid if there is a narrative -->
  <% if @case["caseidHasNarrative_s"] %>
  <div class="row">
  <div class="col-md-7">
  <% end %>
	
  <% if @case["claims_ss"] %>
    <h3>Claim for Freedom Made</h3>
    <%# link to search for cases with similar claims %>
    <!--<%= metadata_list(@case["claims_ss"], @case["claims_ss"], "claims_ss") %>-->
    <%= find_unique_strings(@case["claims_ss"]) %> 
    <!-- lost the ability to click on claim to view other cases with the same claim -- probably for the best -->
  <% end %>

	 <% if @case["outcomeData_ss"] %>
    <h3>Outcome</h3>
    <%= metadata_builder(nil, @case["outcomeData_ss"], true) %>
  <% end %>

  <% if @case["caseDocumentData_ss"] %>
    <a name="documents"></a><h3>Case Documents</h3>
    <%= format_list(@case["caseDocumentData_ss"], "doc", "date") %>
    <h4><%= link_to "View more related documents...", search_path(:qfield => "documentCaseID_ss", :qtext => @case['id']) if @case["caseDocumentData_ss"].length > 50 %></h4>
  <% end %>

  <% if @case["caseRelatedDocumentData_ss"] %>
    <a name="rel_documents"></a><h3>Related Documents</h3>
    <%= format_list(@case["caseRelatedDocumentData_ss"], "doc", "date") %>
  <% end %>

  <% if @case["relatedCaseData_ss"] %>
    <a name="cases"></a><h3>Related Cases</h3>
    <%= format_list(@case["relatedCaseData_ss"], "case", "label") %>
  <% end %>

  <% if @case["personData_ss"] %>
    <a name="people"></a><h3>People</h3>
    <% if @case["plaintiffData_ss"] %>
      <h4>Plaintiff(s):</h4>
      <%= people_list(@case["plaintiffData_ss"]) %>
    <% end %>
    <% if @case["defendantData_ss"] %>
      <h4>Defendant(s):</h4>
      <%= people_list(@case["defendantData_ss"]) %>
    <% end %>
    <% if @case["attorneyPData_ss"] %>
      <h4>Attorney for Plaintiff(s):</h4>
      <%= people_list(@case["attorneyPData_ss"]) %>
    <% end %>
    <% if @case["attorneyDData_ss"] %>
      <h4>Attorney for Defendant(s):</h4>
      <%= people_list(@case["attorneyDData_ss"]) %>
    <% end %>
    <% if @case["personData_ss"] %>
      <h4>Participants:</h4>
      <%= people_list(@case["personData_ss"]) %>
    <% end %>
  <% end %>
	  
	  <!-- Only put in grid if there is a narrative -->
	<% if @case["caseidHasNarrative_s"] %> 
    </div>
    <div class="col-md-5">
	<% end %>
	  
	<a name="summary"></a>
  <% if @case["caseidHasNarrative_s"] %>
    <!--<h3>Case Narrative</h3>-->
    <%= @annotated.html_safe if @annotated%>
  <% end %>

	 <!-- Only put in grid if there is a narrative -->
  <% if @case["caseidHasNarrative_s"] %> 
    </div><!-- end column -->
    </div> <!-- End Row -->
  <% end %>
  
<hr/>
 
<% end %>