<script>
  $(function() {
    // is expecting an array of names
    var peopleList = <%= @people.to_s.html_safe %>
    $( "#people" ).autocomplete({
      source: peopleList
    });
  });
  </script>

<h1>Search</h1>

<h2>Search by Keyword</h2>
<%= render "partials/search_bar" %>

<h2>Search for Person</h2>

<%= form_tag search_path do %>
  <%= hidden_field_tag(:qfield, "text") %>
  <%= text_field_tag(:qtext, nil, :placeholder => "Search by Person", :id => "people") %>
  <%= submit_tag("Search") %>
<% end %>