<a name="top">
  <h2>Displaying All <%= @docs[:num_found] %> Documents</h2>

  <!-- search form -->
  <%= render "partials/search_bar" %>
</a>

<div class="jump_menu">
  <h4>Sort Results: </h4>
  <% sort = params[:sort] ? params[:sort] : "title" %>
  <%= link_to "Alphabetical", documents_path(sort("title")), :class => selected_sort?("title", sort) %>
  <%= link_to "Date", documents_path(sort("date")), :class => selected_sort?("date", sort) %>
</div>

<%= paginator(@total_pages) %>

<ul>
  <% @docs[:docs].each do |doc| %>
    <% label = title_date_label(doc["title"], doc["dateDisplay"]) %>
    <li>
      <%= link_to title_date_label(doc["title"], doc["dateDisplay"]), doc_path(doc["id"]) %>
    </li>
  <% end %>
</ul>
<%= paginator(@total_pages) %>
