<h3>Your search for: "<%= query_display %>" returned <%= @docs[:num_found] %> results</h3>

<% if @docs[:docs].length > 0 %>
  Jump to Page 
  <%= form_tag search_path(reset_params) do %>
    <%= paginator %>
  <% end %>
  of results

  <div class="callout">
    <p>
      <b>Sort results by: 
        <%= link_to "Case", search_path(sort_results("title")), :class => selected?("title") %>
        <%= link_to "Document Type", search_path(sort_results("subCategory")), :class => selected?("subCategory") %>
        <%= link_to "Date", search_path(sort_results("date")), :class => selected?("date") %>
      </b>
    </p>
  </div>

  <ul>
    <% @docs[:docs].each do |doc| %>
      <li>
        <%= link_to "#{doc["title"]} (#{doc["dateDisplay"]})", doc_path(doc["id"]) %>
      </li>
    <% end %>
  </ul>
<% end %>