<h3>Your search for: "<%= query_display %>" returned <%= @docs[:num_found] %> results</h3>

<div class="well well-sm">

  <div class="jump_menu">
    <h4>Sort Results: </h4>
    <% sort = params[:sort] %>
    <%= link_to "Alphabetical", search_path(sort("title")), :class => selected_sort?("title", sort) %>
    <%= link_to "Date", search_path(sort("date")), :class => selected_sort?("date", sort) %>
    <%= link_to "Relevance", search_path(sort("score")), :class => selected_sort?("score", sort) %>
  </div>

  <div class="jump_menu">
    <h4>Filter Results: </h4>
    <%= facet_maker(@categories) %>
  </div>
</div><!-- /well -->

<div class="col-md-9 pagination_container">
  <%= paginator(@total_pages) %>
</div>

<% if @docs[:docs].length > 0 %>
<ul>
  <% @docs[:docs].each do |doc| %>
  <li>
    <%= search_result_link(doc) %>
  </li>
  <% end %>
</ul>
<% end %>

<div class="col-md-9 pagination_container">
  <%= paginator(@total_pages) %>
</div>
