<h3>Your search for: "<%= query_display %>" returned <%= @docs[:num_found] %> results</h3>

  <div class="jump_pagination">Jump to Page 
  <%= form_tag search_path(reset_params) do %>
    <%= paginator %>
  <% end %>
  of results</div>

  <div class="callout">
    <p>
      <b>Filter Results: 
        <%= facet_maker(@categories) %>
      </b>
    </p>
  </div>

  <div class="callout">
    <p>
      <b>Sort results by: 
        <%= link_to "Alphabetical", search_path(sort_results("title")), :class => selected_sort?("title") %>
        <%= link_to "Date", search_path(sort_results("date")), :class => selected_sort?("date") %>
        <%= link_to "Relevance", search_path(sort_results("score")), :class => selected_sort?("score") %>
      </b>
    </p>
  </div>

<% if @docs[:docs].length > 0 %>
  <ul>
    <% @docs[:docs].each do |doc| %>
      <li>
        <%= search_result_link(doc) %>
      </li>
    <% end %>
  </ul>
<% end %>