<script type="text/javascript">
    function unhide(divID) {
    var item = document.getElementById(divID);
    if (item) {
    item.className=(item.className=='hidden')?'unhidden':'hidden';
    }
    }
</script>

<!-- metadata top -->
<div class="callout bibliography" id="topBibl">
  <p><strong>Document: </strong><%= @doc["title"] %></p>
  <p><strong>Date: </strong><%= @doc["dateNormalized"] %></p>
  <p><strong>Term: </strong>
    <span class="subjectLink">
      <%= link_to @doc["term"], search_path(:qfield => "term", :qtext => @doc["term"]) %>
    </span>
  </p>
  <p><strong>Plaintiff: </strong>
    <% @doc["plaintiff"].each do |plaintiff| %>
      <span class="subjectLink">
        <%= link_to plaintiff, search_path(:qfield => "plaintiff", :qtext => plaintiff) %>
      </span>
    <% end %>
  </p>
  <p><strong>Defendant: </strong>
    <% @doc["defendant"].each do |defendant| %>
      <span class="subjectLink">
        <%= link_to defendant, search_path(:qfield => "defendant", :qtext => defendant) %>
      </span>
    <% end %>
  </p>
  <p>
    <%= link_to "View Case File", search_path(:qfield => "caseID", :qtext => @doc["caseID"]) %>
  </p>
  <span class="morelink">
    <a href="#bottomBibl">More metadata</a>
  </span>
</div>

<!-- TODO this will be pull via...template? -->
<%= @doc["text"] %>

<!-- metadata bottom -->
<div class="callout bibliography" id="bottomBibl">
  <p><strong>Category: </strong>
    <span class="subjectLink">
      <%= link_to @doc["type"], search_path(:qfield => "type", :qtext => @doc["type"]) %>
    </span>
  </p>
  <p><strong>Subcategory: </strong>
    <span class="subjectLink">
      <%= link_to @doc["subtype"], search_path(:qfield => "subtype", :qtext => @doc["subtype"]) %>
    </span>
  </p>
  <p><strong>Attorney for Plaintiff: </strong>
    <% @doc["attorney_p"].each do |attorney_p| %>
      <span class="subjectLink">
        <%= link_to attorney_p, search_path(:qfield => "attorney_p", :qtext => attorney_p) %>
      </span>
    <% end %>
  </p>
  <p><strong>Attorney for Defendant: </strong>
    <% @doc["attorney_d"].each do |attorney_d| %>
      <span class="subjectLink">
        <%= link_to attorney_d, search_path(:qfield => "attorney_d", :qtext => attorney_d) %>
      </span>
    <% end %>
  </p>
  <p><strong>People: </strong>
    <% @doc["person"].each do |person| %>
      <span class="subjectLink">
        <%= link_to person, search_path(:qfield => "person", :qtext => person) %>
      </span>
    <% end %>
  </p>
  <p><strong>Places: </strong>
    <% @doc["place"].each do |place| %>
      <span class="subjectLink">
        <%= link_to place, search_path(:qfield => "place", :qtext => place) %>
      </span>
    <% end %>
  </p>
  <p><strong>TEI/XML: </strong>
  <!-- TODO how to link to xml? -->
    <a href="oscys.case.0081.003.xml">oscys.case.0081.003.xml</a>
  </p>
  <span class="morelink">
    <a href="#topBibl">Back to top</a>
  </span>
</div>