
<% if @doc.nil? %>
  <h1>Something Is Wrong</h1>
  <p>We cannot find a document with id <%= params["id"] %>.</p>
  <p>This document may not exist or we may be experiencing technical issues.</p>
<% else %>

  <h2><%= @doc["title"] %></h2>

  <!-- metadata top -->
  <div class="callout bibliography" id="topBibl">
    <p><strong>Case: </strong><%= format_list(@doc["documentCaseData_ss"]) %></p>
    <p><strong>Document: </strong><%= @doc["title"] %></p>
    <p><strong>Date: </strong><%= @doc["dateDisplay"] %></p>
    <div id="more_metadata" style="display:none;">
      <%= metadata_mult("Term", @doc["term_ss"], "term_ss") %>
      <p><strong>Plaintiff(s): </strong><%= format_list(@doc["plaintiffData_ss"], "person") %></p>
      <p><strong>Defendants(s): </strong><%= format_list(@doc["defendantData_ss"], "person") %></p>
      <p><strong>Attorney for Plaintiff(s): </strong><%= format_list(@doc["attorneyPData_ss"], "person") %></p>
      <p><strong>Attorney for Defendant(s): </strong><%= format_list(@doc["attorneyData_ss"], "person") %></p>
      <p><strong>People: </strong><%= format_list(@doc["personData_ss"], "person") %>
      <%= metadata_mult("Places", @doc["places"], "places") %>
      <p><strong>Source: </strong><%= @doc["source"] %></p>
      <p><strong>TEI/XML: </strong><a href="<%= @doc['uriXML'] %>"><%= @doc['uriXML'] %></a></p>
    </div>
    <p style="background-color:grey;"><span id="metadata_toggle">View more metadata</a></span></p>

  </div>

  <%= @res.html_safe %>


<% end %>