<h1>Example Story</h1>

<p>This is an example story.</p>

<p>Link to a person: <%= link_to "Francis Scott Key", person_path("per.000001") %></p>

<p>Link to a case: <%= link_to "Abraham Smith v. John Lyons", case_path("oscys.caseid.0081") %></p>

<p>Link to a document: <%= link_to "An Interesting Document", doc_path("oscys.case.0081.004") %></p>

<p>Link to stories (this one links to itself): <%= link_to "This Story", { 
  :controller => "stories",
  :action => "sub",
  :name => "example"
  } %> </p>

<p>Links to search results (basic search, only change 'qtext', leave 'qfield' alone): <%= link_to "Search for 'Henry'", search_path({:qfield => "text", :qtext => "Henry"}) %></p>

<h3>Images</h3>
<p>Make sure that you put your image into the /app/assets/images directory, then 
<p>Display an image: <%= image_tag("logo_unl_white.gif") %></p>

<p>Display an image that is also a link to a case: <%= link_to image_tag("logo_unl_white.gif"), case_path("oscys.caseid.0081") %>

<p>Examples of Figures.</p>

<figure class="figure_right figure_medium"><%= image_tag("000.jpg") %>
<figcaption>Medium Sized Image, Aligned Right</figcaption>
</figure>

<figure class="figure_center"><%= image_tag("000.jpg") %>
<figcaption>Large image, Centered</figcaption>
</figure>

<p class="pullquote">Pullquotes</p>

<p>Footnote Example: <span class="foot"><a href="#footn1" id="bodyn1">1</a></span></p>

<hr/>

<h4>Footnotes</h4>
<div class="footnotes">
<p><span class="notenumber" id="footn1">1.</span> Note text. <a href="#bodyn1">[back]</a></p>