<h2>Stories</h2>

<div class="media">
  <div class="media-body">

    <h3 class="media-heading"><%= story_link("The Timing of Queen v. Hepburn", "queen_v_hepburn") %></h3>
    <h4><%= story_link("An Exploration of African American Networks in the Early Republic", "queen_v_hepburn") %></h4>
	    <p class="byline">by William G. Thomas III</p>
  </div>

  <div class="media-right">
    <%= story_img("http://jetson.unl.edu/oscys_figures/stories/queen_v_hepburn.00.jpg", "queen_v_hepburn") %>
  </div>

  <div class="media-body">
    <h3 class="media-heading"><%= story_link("The Language of Law", "language_of_law") %></h3>
    <p>Interpreting Nineteenth-Century Legal Documents, by Mitch Fraas</p>
  </div>

  <div class="media-right">
    <%= story_img("oscys_logo.png", "example") %>
  </div>
</div>