<h2>Stories</h2>

<p>Follow and read interactive analysis of the court cases, families, attorneys, and judges in early Washington, D.C. Each story focuses on an historical or legal question raised by these cases and interweaves linked references to people, cases, documents, and family relationships.</p>

<p>The original court documents for these cases reveal what Cranch's <em>Reports of Cases Civil and Criminal in the United States Circuit Court of the District of Columbia</em> and other printed sources too often hid: the full names of African American litigants and the complex set of family relationships each case involved. These stories are in-depth studies of the families and cases, properly contextualized, and serve as the pivot point of a larger analysis of the social logic of early Washington, D.C., and how Americans contended with the problem of race and freedom in their society in the aftermath of the American Revolution.</p>

<div class="row">

  <div class="col-md-6">
	  <h3 class="story_title"><%= story_link("The Timing of Queen v. Hepburn: <span class='subtitle'>An Exploration of African American Networks in the Early Republic</span>".html_safe, "queen_v_hepburn") %></h3>
	  
	<div class="figure_right figure_small">
    <%= image_tag("queen_v_hepburn.00.jpg") %>
    </div><!-- end figure -->
    
	    <p class="byline">William G. Thomas III</p>
        <p>This essay examines the legal and political awareness of enslaved plaintiffs in their petitions for freedom by examining the timing and circumstances of the influential 1810 <em>Queen v. Hepburn</em> case.</p>
	  
  </div><!-- end col-md-6 -->

  <div class="col-md-6">
	  <h3 class="story_title"><%= story_link("A Mother's Inheritance: <span class='subtitle'>Women, Interracial Identity, and Emancipation in Maryland, 1664-1820</span>".html_safe, "mothers_inheritance") %></h3>

    <div class="figure_right figure_small">
    <%= image_tag("mothers_inheritance.00.jpg") %>
    </div><!-- end figure -->
    
    <p class="byline">Courtney C. Hobson</p>

    <p>This essay explores the one hundred year struggle of the Davis family to obtain their freedom as they navigated the changing legal landscape of colonial and post-revolutionary America.</p>

  </div><!-- end col-md-6 -->

</div><!-- end row -->


<div class="row">

  <div class="col-md-6">
	  <h3 class="story_title"><%= story_link("The Business of a Nascent Federal Court: <span class='subtitle'>Records of the Circuit Court for Washington, D.C., from 1801-1802</span>".html_safe, "business_of_court") %></h3>
	  
	<div class="figure_right figure_small">
    <%= image_tag("business_of_court.00.jpg") %>
    </div><!-- end figure -->
    
	    <p class="byline">Jeremiah Bauer</p>
        <p>This essay reconstructs the judicial business of the first three sessions of the Circuit Court for the District of Columbia by exploring the minute books of the Court's activities.</p>
	  
  </div><!-- end col-md-6 -->

  <div class="col-md-6">
	  <h3 class="story_title"><%= story_link("The Language of Law: <span class='subtitle'>Interpreting Nineteenth-Century Legal Documents</span>".html_safe, "language_of_law") %></h3>

    <div class="figure_right figure_small">
    <%= image_tag("language_of_law.00.jpg") %>
    </div><!-- end figure -->
    
    <p class="byline">Mitch Fraas</p>

    <p>This essay gives an overview of the documents found within <em>OSCYS</em> and examines how they function both as part of a constrained set of legal procedures and as material texts representative of a wider genre.</p>
	  
  </div><!-- end col-md-6 -->

</div><!-- end row -->

<div class="row">

  <div class="col-md-6">
	  <h3 class="story_title"><%= story_link("&quot;I Did Not Want to Go&quot;: <span class='subtitle'>An Enslaved Woman's Leap into the Capital's Conscience</span>".html_safe, "enslaved_womans_leap") %></h3>

    <div class="figure_right figure_small">
    <%= image_tag("enslaved_womans_leap.00.jpg") %>
    </div><!-- end figure -->
    
    <p class="byline">Candy Carter</p>

    <p>This essay analyzes an engraving from Jesse Torrey's 1817 work, <em>A Portraiture of Domestic Slavery</em>. The enslaved woman featured in the illustration later petitioned for her freedom in the Circuit Court for the District of Columbia.</p>
	  
  </div><!-- end col-md-6 -->

  <div class="col-md-6">
	  
	  
  </div><!-- end col-md-6 -->

</div><!-- end row -->