
<h2>Changelog</h2>

<p>This page records the changes and updates made to the project, including the addition of new documents, stories, people, and relationships.</p>

<table>
<tr>
<td style="white-space:nowrap" align="right"><h4>August 23, 2017</h4></td>
<td>added <em><%= link_to "Mahoney v. Ashton", case_path("oscys.caseid.0481") %></em>, 51 documents, about 330 people, and the <%= link_to "Joice", { :controller => "families", :action => "sub", :name => "joice" } %> and <%= link_to "Darnall", { :controller => "families", :action => "sub", :name => "darnall" } %> Family Networks</td>
</tr>

<td style="white-space:nowrap" align="right"><h4>March 27, 2017</h4></td>
<td>added 1,087 people, about 18,000 relationships, and made edits to the <%= link_to "Bell", { :controller => "families", :action => "sub", :name => "bell" } %> and <%= link_to "Greenfield", { :controller => "families", :action => "sub", :name => "greenfield" } %> Family Networks</td>
</tr>

<tr>
<td style="white-space:nowrap" align="right"><h4>October 5, 2016</h4></td>
<td>added 1 document, 205 people, over 1,500 relationships, and the <%= link_to "Bell", { :controller => "families", :action => "sub", :name => "bell" } %>, <%= link_to "Dunbar-Graham", { :controller => "families", :action => "sub", :name => "graham" } %>, and <%= link_to "Brown", { :controller => "families", :action => "sub", :name => "brown" } %> Family Networks; also made additions to the <%= link_to "Carroll", { :controller => "families", :action => "sub", :name => "carroll" } %> and <%= link_to "Key", { :controller => "families", :action => "sub", :name => "key" } %> Family Networks</td>
</tr>

<tr>
<td style="white-space:nowrap" align="right"><h4>August 24, 2016</h4></td>
<td>added 661 documents, 90 cases, 359 people, about 6,000 relationships, and updated <%= link_to "Greenfield Family", { :controller => "families", :action => "sub", :name => "greenfield" } %> Network</td>
</tr>

<tr>
<td style="white-space:nowrap" align="right"><h4>April 1, 2016</h4></td>
<td>added 10 documents, 2 cases, 679 people, and approximately 7,000 relationships</td>
</tr>

<tr>
<td style="white-space:nowrap" align="right"><h4>February 17, 2016</h4></td>
<td>added 35 documents, 3 cases, and 1 <%= story_link("new story".html_safe, "mothers_inheritance") %>&#8212;<em>A Mother's Inheritance: Women, Interracial Identity, and Emancipation in Maryland, 1664-1820</em></td>
</tr>

<tr>
<td style="white-space:nowrap" align="right"><h4>February 3, 2016</h4></td>
<td>added 42 documents, 1 case, about 500 people, approximately 5,000 relationships, and 2 family trees&#8212;<%= link_to "Thomas Family", { :controller => "families", :action => "sub", :name => "thomas" } %> and <%= link_to "Wharton-Pile Family", { :controller => "families", :action => "sub", :name => "pile" } %></td>
</tr>

<tr>
<td style="white-space:nowrap" align="right"><h4>December 9, 2015</h4></td>
<td>added 75 documents and 18 cases</td>
</tr>

<tr>
<td style="white-space:nowrap" align="right"><h4>November 10, 2015</h4></td>
<td>added 41 documents</td>
</tr>

<tr>
<td style="white-space:nowrap" align="right"><h4>November 3, 2015</h4></td>
<td>added 79 documents, 1 case, 172 people, approximately 1,500 relationships, and 1 <%= story_link("new story".html_safe, "enslaved_womans_leap") %>&#8212;<em>"I Did Not Want to Go": An Enslaved Woman's Leap into the Capital's Conscience</em></td>
</tr>

<tr>
<td style="white-space:nowrap" align="right"><h4>October 19, 2015</h4></td>
<td>added 65 documents, 8 cases, 115 people, and approximately 1,100 relationships</td>
</tr>

<tr>
<td style="white-space:nowrap" align="right"><h4>September 18, 2015</h4></td>
<td>added a <%= story_link("new story".html_safe, "business_of_court") %>&#8212;<em>The Business of a Nascent Federal Court: Records of the Circuit Court for Washington, D.C. from 1801-1802</em></td>
</tr>

<tr>
<td style="white-space:nowrap" align="right"><h4>September 11, 2015</h4></td>
<td>launched newly redesigned site, containing 1654 documents, 349 cases, and 1300 people; created a <a href="http://earlydc.tumblr.com" target="new">tumblr</a> account for the project</td>
</tr>

</table>