<div1 xmlns="http://www.tei-c.org/ns/1.0" type="html">

  <h1>Family Networks</h1>

  <p>The following family networks have been created using information derived from documentation in the court records, as well as genealogical research. Each tree is labeled as either being case-derived, genealogy-derived, or both. When a tree is made up of data from both court documents and external research, the information is color-coded to reflect the origin of the material.</p>

  <h2>African-American Families</h2>

  <p></p><h5><%= link_to "Davis Family Network", family_path("fam.davis") %></h5><lb>
  Two generations of the Davis family petitioned the Court in D.C. for their freedom from various masters, including a member of the <%= link_to "Forrest", family_path("fam.forrest") %> family.<p></p>  

  <p></p><h5><%= link_to "Lee Family Network", family_path("fam.lee") %></h5><lb>
  Two generations of the Lee family petitioned for their freedom in the Circuit Court in D.C.<p></p>

  <p></p><h5><%= link_to "Queen Family Network", family_path("fam.queen") %></h5><lb>
  <!-- TODO fix the queens link or figure out how that is going to work -->
  Many members of the Queen family <a href="./queens.html">petitioned courts in Maryland and D.C.</a> for their freedom.<p></p>  

  <h2>White Families</h2>

  <p></p><h5><%= link_to "Carroll Family Network", family_path("fam.carroll") %></h5><lb>
  Members of Carroll family at one time claimed ownership of the matriarch of the <%= link_to "Queen", family_path("fam.queen") %> family, upon whose status the freedom petitions rested.<p></p>

  <p></p><h5><%= link_to "Clarke Family Network", family_path("fam.clarke") %></h5><lb>
  The Clarke family was possibly the owner of a branch of the <%= link_to "Queen", family_path("fam.queen") %> family, and the testimony of a member of the Clarke family was integral to the freedom suit brought by Mima and Louisa <%= link_to "Queen", family_path("fam.queen") %><p></p>    

  <p></p><h5><%= link_to "Duvall Family Network", family_path("fam.duvall") %></h5><lb>
  Members of the Duvall family played a role in the <%= link_to "Queen", family_path("fam.queen") %> family litigation in Maryland and D.C. courts.<p></p>

  <p></p><h5><%= link_to "Forrest and Plater Family Networks", family_path("fam.forrest") %></h5><lb>
  The Forrests were prominent members of early Washington, D.C., society. Two members of the Plater family married into the <%= link_to "Key", family_path("fam.key") %> and Forrest families.<p></p>

  <p></p><h5><%= link_to "Hepburn Family Network", family_path("fam.hepburn") %></h5><lb>
  John Hepburn was a defendant in the freedom suit brought by Mima and Louisa <%= link_to "Queen", family_path("fam.queen") %>.<p></p>

  <p></p><h5><%= link_to "Key Family Network", family_path("fam.key") %></h5><lb>
  Francis Scott Key and his uncle, Philip Barton Key, represented both enslaved persons and their owners in freedom petitions before courts in Maryland and D.C.<p></p>

  </div1>