
<h2>Frequently Asked Questions</h2>

<div class="list-group">
<%= link_to "What is a freedom suit?", "#1", class: "list-group-item" %>
<%= link_to "How could an enslaved person sue in court?", "#2", class: "list-group-item" %>
<%= link_to "What were the grounds for a claim of freedom?", "#3", class: "list-group-item" %>
<%= link_to "How did petitioners get their attorneys?", "#4", class: "list-group-item" %>
<%= link_to "How many freedom suits were successful?", "#5", class: "list-group-item" %>
</div>

<h3>What is a freedom suit?</h3>

<p>A freedom suit is a legal case brought before a court by an enslaved person pursuing their freedom from a slaveholder.</p>

<p>It begins with the filing of a freedom petition.</p>

<ol class="faq"><li><p>Petitions for freedom vary in length and language. But most contain the same basic elements. We will use the <%= link_to "petition", doc_path("oscys.case.0104.001") %> filed in <em><%= link_to "Ann Bell and her children v. Gerard T. Greenfield", case_path("oscys.caseid.0104") %></em> as an example.</p></li>

<table class="faq">
<tr>
<td width="50%"><em>To the Honorable the Judges of the Circuit Court of the District of Columbia for Washington County</em></td>
<td width="50%"><p>The caption: this part of the petition identifies the court and the court's location.</p></td>
</tr>
<tr>
<td><em>The petition of Anne Bell, for herself and her two children, Daniel and David respectfully Sheweth:</em></td>
<td><p>The petition begins by identifying who is filing the petition. Here, Ann is also filing on behalf of her children. If the petitioner is a minor, the petition will be filed by their “next friend,” a term that referred to a person who worked on behalf of the petitioner. Ann Bell's brother, Daniel, acted as his daughter's next friend when she filed her petition. See <em>Harriet Bell v. Susan Armistead</em>.</p></td>
</tr>
<tr>
<td><em>That your petitioner is entitled to her freedom and is claimed and held as a slave for life by a certain Gerard T. Greenfield.	</em></td>
<td><p>Next, the petitioner declares who they are petitioning for their freedom against. Occasionally, they will also identify their claim to freedom. Ann Bell does not do so here.</p></td>
</tr>
<tr>
<td><em>Your petitioner therefore prays your honors to grant her the United States Writ of Subpoena in the usual form to be directed to the Marshal of the District of Columbia, so that the said Gerard T. Greenfield may be summoned to answer this petition, and your petitioner will pray.</em></td>
<td><p>The petition closes with a prayer, a request to the court that something take place. In this instance, that the court issue a subpoena, requiring Gerard Greenfield to appear in court and answer to Ann Bell's claim to freedom.</p></td>
</tr>
<tr>
<td><em>G L Giberson<br/>
Atty for Petitioner</em></td>
<td><p>The attorney who prepared and filed the petition will sign his name.</p></td>
</tr>
</table><br/>

<li><p>After the petition is filed, a <%= link_to "summons", doc_path("oscys.case.0104.002") %> is served on the slaveholder by the marshal of D.C., notifying them of the lawsuit.</p></li>

<li><p>What follows is the discovery process, where each of the parties gather evidence to support their claims. This typically takes the form of depositions—sworn statements from individuals with information relevant to the case—but <%= link_to "wills", doc_path("oscys.case.0104.010") %>, manumission papers, and other documents are sometimes produced.</p></li>

<li><p>When the case comes to trial, a jury is empaneled. Once each side has presented their evidence, the attorneys will provide <%= link_to "instructions", doc_path("oscys.case.0104.006") %> to the jury on which they must base their verdict. These instructions must be agreed upon by the attorneys and often go through many revisions.</p></li>

<li><p>A <%= link_to "verdict", doc_path("oscys.mb.0028.001") %> is reached and a judgment made.</p></li>

</ol>

<a name="2"></a><h3>How could an enslaved person sue in court?</h3>

<p>A petition for freedom was a civil suit. Such cases arose between parties as matters of private law, or equity, and drew on a long tradition of common law precedent that no person could be deprived of his or her liberty without cause. "Petitions" were a separate form of common law pleading before the court, asking the court to intervene in order to obtain a just result.</p> 

<p>Petitions were listed separately in the Maryland dockets under their own heading. In Maryland, the General Assembly passed its first law regulating petitions for freedom <a href="http://aomol.msa.maryland.gov/000001/000204/html/am204--614.html" target="new">in 1791</a>. The "Act concerning petitions for freedom" required that "similar" suits by the same family be dismissed if they have reached resolution in another county. In various ways, the General Assembly tried to make petitions for freedom more difficult for enslaved plaintiffs. Two years later <a href="http://aomol.msa.maryland.gov/000001/000645/html/am645--54.html" target="new">in 1793</a>, the General Assembly stripped the General Court of jurisdiction over these cases and gave original jurisdiction to local county courts where slaveholders wielded more local power in juries and on the bench. Maryland's legislators further restricted petitions <a href="http://aomol.msa.maryland.gov/000001/000105/html/am105--254.html" target="new">in 1796</a> by removing the right of appeal, "except as to matters of law, where the facts shall have been tried by a jury." </p>

<p>In Virginia, petitions for freedom were also civil suits but classified as "<em>in forma pauperis</em>," pleadings by persons without the means to otherwise bring a suit before the court.</p>

<p>Some black plaintiffs filed petitions for freedom based on ancestry, asserting that they were descended from a free woman and therefore held in bondage unlawfully. Others, because of manumission and various other contractual and legal mechanisms, were enslaved for fixed periods of time, say five or seven or ten years, to be freed at a later date under the terms of a contract, deed, or will, whether recorded in the court or not. When slaveholders reneged on these agreements, as they often did, enslaved persons might bring freedom suits that treated the dispute as a breach of contract. Finally, Maryland's <a href="http://aomol.msa.maryland.gov/000001/000203/html/am203--350.html" target="new">1783 statute</a> outlawing the importation of slaves declared that "any person brought into this state as a slave contrary to this act, if a slave before, shall thereupon immediately cease to be a slave, and shall be free." Enslaved plaintiffs could sue for freedom under this act.</p>

<a name="3"></a><h3>What were the grounds for a claim of freedom?</h3>

<p>Petitioners in the Washington, D.C., court used a variety of arguments to secure their freedom. Of the cases in D.C. and Maryland on our site, the following claims for freedom were made, in order of frequency:</p>

<ul>
<li><a href="http://earlywashingtondc.org/search?facet=caseid&qfield=claims_ss&qtext=Importation+Violation">Importation Violation</a></li>
<li><a href="http://earlywashingtondc.org/search?facet=caseid&qfield=claims_ss&qtext=Descent+from+Free+White+Woman">Descent from a Free White Woman</a></li>
<li><a href="http://earlywashingtondc.org/search?facet=caseid&qfield=claims_ss&qtext=Descent+from+Free+Woman">Descent from a Free Woman</a></li>
<li><a href="http://earlywashingtondc.org/search?facet=caseid&qfield=claims_ss&qtext=Manumission">Manumission</a></li>
<li><a href="http://earlywashingtondc.org/search?facet=caseid&qfield=claims_ss&qtext=Property+Dispute">Property Dispute</a></li>
<li><a href="http://earlywashingtondc.org/search?facet=caseid&qfield=claims_ss&qtext=Term+Slavery">Term Slavery</a></li>
<li><a href="http://earlywashingtondc.org/search?facet=caseid&qfield=claims_ss&qtext=Kidnapping">Kidnapping</a></li>
<li><a href="http://earlywashingtondc.org/search?facet=caseid&qfield=claims_ss&qtext=Living+Independently">Living Independently</a></li>
<li><a href="http://earlywashingtondc.org/search?facet=caseid&qfield=claims_ss&qtext=Born+Free">Born Free</a></li>
<li><a href="http://earlywashingtondc.org/search?facet=caseid&qfield=claims_ss&qtext=Free+Person">Free Person</a></li>
<li><a href="http://earlywashingtondc.org/search?facet=caseid&qfield=claims_ss&qtext=Freed+by+Court+Decision">Freed by Court Decision</a></li>
</ul>

<a name="4"></a><h3>How did petitioners get their attorneys?</h3>

<p>It is clear that enslaved families kept track of who represented them, and that they were the ones who took the initiative to seek out attorneys. A group of attorneys in Maryland, beginning with <%= link_to "Samuel Chase", person_path("per.001514") %>, <%= link_to "Gabriel Duvall", person_path("per.001393") %>, and <%= link_to "Jeremiah Townley Chase", person_path("per.002102") %>, represented hundreds of enslaved plaintiffs in the 1790s. As the number of freedom suits accelerated in that decade, the general court may have assigned attorneys or rotated assignments as plaintiffs sought to bring petitions.</p>

<p>In Maryland, attorneys were paid a flat fee based on the type of case. Initially, this meant that some plaintiff's attorneys in freedom suits could take cases on a contingency basis. In 1796, the Maryland General Assembly made such contingency fees more difficult for petitioners in freedom suits by requiring attorneys to pay "all legal costs" if the petition is dismissed or if at trial, the jury finds for the defendant slaveholder. The legislature gave the court the authority to waive these costs if the court found there was "probable ground to suppose the said petitioner or petitioners had a right to freedom."</p>

<p>Enslaved plaintiffs in Washington, D.C., learned about attorneys through word of mouth and often based on their family's prior experience with freedom suits in Prince George's County. <%= link_to "Francis Scott Key", person_path("per.000001") %> allegedly represented freedom petitioners <em>pro bono</em>, but there is no direct evidence of <em>pro bono</em> arrangements. The D.C. Court may also have assigned attorneys when plaintiffs did not already have representation.</p>

<p>There is evidence that enslaved plaintiffs in D.C. did, in fact, bear some of the costs and hire attorneys. Plaintiffs such as <%= link_to "Daniel Bell", person_path("per.000871") %> and <%= link_to "James Ash", person_path("per.000816") %> hired themselves out for work. They used their earned wages to bring cases on behalf of themselves and other family members, paying the court costs and other expenses necessary to initiate freedom suits.</p>

<a name="5"></a><h3>How many freedom suits were successful?</h3>

<p>Of the 140 freedom petitions heard before the Circuit Court for the District of Columbia where the outcome is known, just over half of them were decided in favor of freedom for the petitioners.</p> 

<span class="faq-image">
    <a href="<%= image_url("faq-claims.png") %>" rel="prettyPhoto[pp_gal]" title="">
        <%= image_tag("faq-claims-small.png") %>
    </a>
</span>

<span class="faq-image">
    <a href="<%= image_url("faq-year.png") %>" rel="prettyPhoto[pp_gal]" title="">
        <%= image_tag("faq-year-small.png") %>
    </a>
</span>

