</div>
</div>
<!-- TODO Karin, are these necessary? 
	Yes, they end the container div above, so that we can have graphic elements that span the whole page.
-->

<div class="home_description">
	<div class="container">
		
		<div class="home_callout">
			<div class="home_info">
			<p>This site reconstructs the social world of early Washington, D.C., especially its multigenerational family networks, by collecting, digitizing, making accessible, and analyzing legal records and case files between 1800 and 1862.</p>
			</div>
		</div>
		
</div></div><!-- /home_description and callout -->
	
	
<div class="home_section_one">
	<div class="container">
		
		<div class="home_sections">
		
		
		
		<%= link_to people_path do %>
		<div class="home_people home_section">
			<div class="home_info">
			<h2>People</h2>
			<p>Explore the web of litigants, jurists, attorneys, and community members present in case files from the Circuit Court for the District of Columbia and other related documents. Browse or search for individuals and discover their social connections.</p>
			</div>
		</div><!-- /home_cases -->
		<% end %>
		
		<%= link_to family_path do %>
		<div class="home_families home_section">
			<div class="home_info">
			<h2>Families</h2>
			<p>Explore kinship and family networks of multigenerational black, white, and mixed families of early Washington, D.C. These networks have been created using information derived from the court records, as well as genealogical research.</p>
			</div>
		</div><!-- /home_cases -->
		<% end %>
		
		</div><!-- /home_sections -->
		
		</div></div><!-- /home_section_one and callout -->
		
	
	
<div class="home_section_two">
	<div class="container">
		
		<div class="home_sections">
		
		<%= link_to cases_path do %>
		<div class="home_cases home_section">
			<div class="home_info">
			<h2>Cases</h2>
			<p>Explore hundreds of case<!-- file-->s from the Circuit Court for the District of Columbia between 1800 and 1862, as well as Maryland<!-- and Virginia--> state courts and the U.S. Supreme Court.</p>
			</div>
		</div><!-- /home_cases -->
		<% end %>
		
		
		<%= link_to stories_path do %>
		<div class="home_stories home_section">
			<div class="home_info">
			<h2>Stories</h2>
			<p>Follow and read interactive analysis of the court cases, families, attorneys, and judges. Each story focuses on an historical or legal question raised by these cases, and interweaves all references to people, cases, documents, and family relationships. </p>
			</div>
		</div><!-- /home_cases -->
		<% end %>
		
		</div><!-- /home_sections -->


 </div></div><!-- /home_section_two and callout -->
 
 <div class="home_visualizations">
	<div class="container">
		
		<div class="home_callout">
			<div class="home_info">
			<p>This site features deep relationship mapping of early Washington, D.C., showing how each person is connected to other people in the city and beyond. <%= link_to "Explore", people_path %> the connections.</p>
			</div>
		</div>
		
	</div></div><!-- /home_visualization and callout -->




<div class="container">
  <div><!-- Not sure why I need this div here but leaving it because it works -KMD -->

