


<h2>Carroll Family Network</h2>

<p>Members of Carroll family at one time claimed ownership of the matriarch of the <%= link_to "Queen Family Network", {:name => "queen", :action => "sub"} %> family, upon whose status the freedom petitions rested.</p>    

        <p>
          <ul class="tree">
            <li>Daniel Carroll <i>of Litterluna</i> - King's County, Ireland</li>
            <ul> <!-- begin Daniel offspring 2 -->
              <li>Anthony Carroll <i>of Lisheenboy</i> - County Tipperary, Ireland; died 1724</li>
                <ul> <!-- begin Anthony offspring 3 -->
                    <li>Daniel Carroll <i>of Killecregane</i> - born in Ireland; died 1724, Ireland<br/><i>+ Mary Browne</i></li>
                        <ul> <!-- begin Daniel offspring 4 -->
                            <li>Anthony Carroll, <i>S.J.</i> - born c. 1722, Ireland; died September 5, 1794, London, England; possible inheritor of the <%= link_to "Queen Family", {:name => "queen", :action => "sub"} %> from <%= link_to "James Carroll", person_path("per.000065") %>; tutor of Charles Carroll <i>of Carrollton</i></li>
                            <li>Margaret Carroll <i>+ Anthony Biggs</i></li>
                            <li>Mary Carroll <br/><i>+ ___ Ashton</i></li>
                                <ul> <!-- begin Mary offspring 5 -->
                                    <li><<%= link_to "John Ashton", person_path("per.000215") %>John Ashton</a>, <i>S.J.</i> - born 1742, Ireland; brought to Maryland by Charles Carroll <i>of Annapolis</i> in 1767; died 1815, Charles County, MD; owned members of the <%= link_to "Queen Family", {:name => "queen", :action => "sub"} %>; at one time retained as a chaplain by Charles Carroll <i>of Annapolis</i></li>
                                </ul> <!-- end Mary 5 -->
                          </ul> <!-- end Daniel 4 -->
                    <li>Michael Carroll <i>of Lisheenboy</i> - born in Ireland; died 1672 in Ireland</li>
                        <ul> <!-- begin Michael offspring 4 -->
                            <li>James Carroll, <i>S.J.</i> - born c. 1717; died 1756, Newtown, MD</li>
                            <li>Dominick Carroll <i>+ Mary Sewall</i></li>
                        </ul> <!-- end Michael 4 -->
                    <li><%= link_to "James Carroll", person_path("per.000065") %> <i>of Fingual</i> - born bout 1680, Ireland; died 1729, Annapolis, MD; purchased <%= link_to "Mary Queen", person_path("per.000068") %>; mentor to Charles Carroll <i>of Annapolis</i></li>
                    <li>Charles Carroll <i>+ Eleanor van Sweringen</i></li>
                    <li>Margaret Caroll <i>+ Thomas Macnemara</i></li>
                    <li>Joanna Carroll <i>+ Richard Croxall</i></li>
                        <!--<ul> <!-\- begin Joanna offspring 4 -\->
                          <li>Richard Croxall</li>
                          <li>Charles Croxall</li>
                          <li>James Carroll Croxall</li>
                          <li>Mary Croxall</li>
                        </ul> <!-\- end Joanna 4 -\->-->
                    <li>Joyce Carroll <i>+ James Butler &#160;&#160; + John Bradford</i></li>
                </ul> <!-- end Anthony 3 -->
              <li>Charles Carroll, <i>the Settler</i> - born 1660, Ireland; arrived in Maryland October 1, 1688; died July 1, 1720<br/><i>+ Martha Underwood (1689)</i> - died November 1690</li>
                <ul> <!-- begin Charles offspring 3 -->
                    <li>Anthony Carroll - died in infancy</li>
                </ul> <!-- end Charles 3 -->
&#160;&#160;<i>+ Mary Darnall (1693)</i> - born 1678; died February 1742
                <ul> <!-- begin Charles offspring 3 -->
                    <li>Charles Carroll - born April 27, 1695; died April 30</li>
                    <li>Charles Carroll - born March 6, 1696; died same day</li>
                    <li>Henry Carroll - born January 26, 1697; died April 10, 1719</li>
                    <li>Eleanor Carroll - born March 26, 1699; died September 18</li>
                    <li>Bridget Carroll - born September 1, 1700; died same day</li>
                    <li>Charles Carroll <i>of Annapolis and Doohoragen Manor</i> - born April 2, 1702; died 1781<br/><i>+ Elizabeth Brooke</i> - born May 17, 1709; died March 12, 1761</li>
                        <ul> <!-- begin Charles offspring 4 -->
                            <li>Charles Carroll <i>of Carrollton</i> - September 8, 1737; died November 14, 1732<!--<br/>--> <i>+ Mary Darnall (1768)</i> - born March 19, 1749; died 1782</li>
                                <!--<ul> <!-\- begin Charles offspring 5 -\->
                                    <li>Elizabeth Carroll - born 1769</li>
                                    <li>Mary Carroll - born September 2, 1770</li>
                                    <li>Louisa Rachel Carroll - born 1772</li>
                                    <li>Charles Carroll <i>of Homewood</i> - born March 2, 1775; died April 3, 1824 <i>+ Harriet Chew (1800)</i> - born October 22, 1775; died April 8, 1861</li>
                                    <li>Anne Brooke Carroll - born 1776</li>
                                    <li>Catherine Carroll - born December 18, 1778</li>
                                    <li>Eliza Carroll - born 1780; died 1783</li>
                                </ul> <!-\- end Charles 5 -\->-->
                        </ul> <!-- end Charles 4 -->
                    <li>Anthony Carroll - born November 2; died December 1705</li>
                    <li>Daniel Carroll <i>of Duddington</i> - October 3, 1707; died April 15, 1734<br/><i>+ Ann Rozier</i> - born 1710; died 1764 <i>[see tree below]</i></li>
                        <ul> <!-- begin Daniel offspring 4 -->
                            <li>Charles Carroll <i>of Duddington and Carrollsburg</i> - born Sept. 12, 1729<br/><i>+ Mary Hill (1763)</i> - born 1744; died 1822</li>
                                <ul> <!-- begin Charles offspring 5 -->
                                    <li><%= link_to "Daniel Carroll", person_path("per.000000") %> <i>of Duddington</i> - born 1764; died 1849; acted as a witness for <%= link_to "John Hepburn", person_path("per.000058") %>  in the <a
                              href="./search/result.html?q=person:%22Queen,%20Mima%22&amp;sort=title" class="cas">Mima Queen</a> case<br/><i>+ Anne Brent [see tree below] &#160; + Anna R. Boyce</i></li>
                                    <li>Charles Carroll <i>of Belle Vue + Anne Sprigg</i></li>
                                    <li>Henry Hill Carroll <i>of Litterluna + Sarah Rogers</i></li>
                                </ul> <!-- end Charles 5 -->
                            <li>Eleanor Carroll - born 1731; died April 13, 1763 <i>+ Daniel Carroll of Rock Creek</i> <i>[see tree below]</i></li>
                            <li>Mary Carroll - born c. 1732; died 1825 <i>+ Ignatius Digges</i></li>
                        </ul> <!-- end Daniel 4 -->
                    <li>Mary Carroll - born June 3, 1711</li>
                    <li>Eleanor Carroll - born August 2, 1712; died April 26, 1734</li>
                </ul> <!-- end Charles 3 -->
            </ul> <!-- end Daniel 2 -->
          </ul> <!-- end tree -->

        </p>

<br/>

        <p>
          <ul class="tree">
            <li>Keane Carroll <i>of Aghagurty</i> - Ireland; likely the uncle of Daniel Carroll <i>of Litterluna</i></li>
                <ul> <!-- begin Kean offspring 2 -->
                    <li>Daniel Carroll <i>of Upper Marlboro</i> - born 1696; died 1751<br/><i>+ Elinor Darnall (1727/28)</i> - born c. 1703; died 1796</li>
                        <ul> <!-- begin Daniel 3 -->
                            <li>Daniel Carroll <i>of Rock Creek</i> - born July 22, 1730; died 1796 <i>+ Eleanor Carroll</i> <i>[see tree above]</i></li>
                            <li>Mary Carroll - born 1742; died 1815 <i>+ Notley Young</i> <i>[see tree below]</i></li>
                            <li>Henry Carroll</li>
                            <li>John Carroll, <i>S.J.</i> - Archbishop of Baltimore; born 1735; died 1815</li>
                            <li>Eleanor Carroll<br/><i>+ William Brent, Jr. of Richland</i> - born 1733; died 1782</li>
                                <ul><!-- begin Brent -->
                                    <li>William Brent</li>
                                    <li>Richard Brent</li>
                                    <li>Daniel Carroll Brent</li>
                                    <li>Eleanor Brent</li>
                                    <li>Elizabeth Ashton Brent</li>
                                    <li>Anne Brent <i>+ Daniel Carroll of Duddington</i></li>
                                    <li>Mary Brent</li>
                                </ul>
                            <li>Elizabeth Carroll</li>
                            <li>Ann Carroll - born 1733; died 1804<br/><i>+ Robert Brent of Woodstock</i></li>
                                <ul> <!-- begin Brent -->
                                    <li>George Brent <i>of Woodstock</i></li>
                                    <li>Robert Brent - first mayor of Washington, D.C. <i>+ Mary Young [see tree below]</i></li>
                                    <li>John Brent</li>
                                    <li>Daniel Carroll Brent</li>
                                    <li>Thomas Brent</li>
                                    <li>Eleanor Brent</li>
                                    <li>Catherine Brent</li>
                                    <li><a
                              href="./search/result.html?q=person:%22Brent, William, 1774-1848%22" class="gen">William Brent</a> - born 1777; died 1848; <span class="cas">clerk of the Circuit Court for the District of Columbia</span></li> 
                                </ul> <!-- end Brent -->
                        </ul> <!-- end Daniel 3 -->
                </ul> <!-- end Kean 2 -->
          </ul> <!-- end tree -->
        </p> 

<br/>

        <p>
          <ul class="tree">
            <li>Ann Rozier, widow of Daniel Carroll <i>of Duddington</i><br/> <i>+ Benjamin Young</i></li>
                <ul> <!-- begin Young offspring -->
                    <li>Notley Young - born c. 1736; died 1802<br/><i>+ Jane or Eleanor Digges</i></li>
                    <ul> <!-- begin Notley offspring -->
                        <li>Notley Young - a secular priest; was bequeathed land by <a
                              href="./search/result.html?q=person:%22Ashton,%20John%22&amp;sort=title" class="gen">John Ashton</a></li>
                        <li>Nicholas Young</li>
                        <li>Benjamin Young</li>
                        <li>Mary Young <i>+ Robert Brent [see tree above]</i></li>
                        <li>Ann Young</li>
                    </ul> <!-- end Notley offspring -->
                    &#160;&#160; <i>+ Mary Carroll</i> - daughter of Daniel Carroll of Upper Marlboro
                </ul> <!-- end Young offspring -->





          </ul> <!-- end tree -->
        </p> 

<br/>

<h4>Sources</h4>

<p>George C. Henning, "<a href="http://www.jstor.org/stable/40066883" target="new">The Mansion and Family of Notley Young</a>," <i>Records of the Columbia Historical Society, Washington, D.C.</i> vol. 16 (1913), pp. 1-24</p> 

<p>Ronald Hoffman, <i>Princes of Ireland, Planters of Maryland: A Carroll Saga, 1500-1782</i> (Chapel Hill: University of North Carolina Press, 2000), pp. 404-414.</p>

<p>Kate Mason Rowland, <i>The Life of Charles Carroll of Carrollton, 1737-1832</i>, <a href="https://books.google.com/books?id=TMmOCf_JmFgC" target="new">vol. II</a> (New York: The Knickerbocker Press, 1898), pp. 437-444, 446-447.</p>