


<h2>Davis Family Network</h2>

<p>Two generations of the Davis family petitioned the Court for their freedom from various masters, arguing that as descendants of a free woman, they should be entitled to their liberty.</p> 

<p>
<ul class="tree">
<li><%= link_to "Mary Davis", person_path("per.000028") %> - a free white woman</li>
<ul>
    <li><%= link_to "Rosamond Bentley", person_path("per.000159") %> - freed by petition</li>
    <li><%= link_to "Eleanor Bentley", person_path("per.000000") %> - likely freed by petition</li>
    <li><%= link_to "Mary Bentley", person_path("per.000169") %> - likely freed by petition</li>
    <li><%= link_to "Elizabeth Bentley", person_path("per.000034") %> - freed by petition; could also be the daughter of Rosamond or her sisters</li>
        <ul>
        <li><%= link_to "Daniel Bentley", person_path("per.000032") %></li>
        <li><%= link_to "William Bentley", person_path("per.000042") %></li>
        <li><%= link_to "Susanna Bentley", person_path("per.000041") %></li>
        <li><%= link_to "Dennis Bentley", person_path("per.000033") %></li>
        <li><%= link_to "Johnson Bentley", person_path("per.000036") %></li>
        <li><%= link_to "Lee Bentley", person_path("per.000037") %></li>
        <li><%= link_to "Nelson Bentley", person_path("per.000039") %></li>
        <li><%= link_to "Nancy Bentley", person_path("per.000038") %></li>
        <li><%= link_to "Rebecca Bentley", person_path("per.000040") %></li>
        <li><%= link_to "Anne Bentley", person_path("per.000031") %></li>
        <li><%= link_to "Eleanor Bentley", person_path("per.000034") %></li>
        </ul>
    <li>Unknown Mother</li>
        <ul>
        <li><%= link_to "Letitia Davis", person_path("per.000150") %> - did not win freedom petition</li>
            <ul>
            <li><%= link_to "Rachel Davis", person_path("per.000151") %></li>
                <ul>
                <li><%= link_to "Henry Davis", person_path("per.0000152") %></li>
                </ul>
            </ul>
        <li><%= link_to "Ann Davis", person_path("per.000161") %> - petition outcome unknown</li>
            <ul>
            <li><%= link_to "David Davis", person_path("per.000162") %></li>
            <li><%= link_to "Sarah Davis", person_path("per.000165") %></li>
            <li><%= link_to "Frederick Davis", person_path("per.000163") %></li>
            <li><%= link_to "Hanson Davis", person_path("per.000164") %></li>
            </ul>
        <li><%= link_to "Susan Davis", person_path("per.000160") %> - born free</li>
        <li><%= link_to "George Davis", person_path("per.000000") %> - petition outcome unknown</li>
        </ul>
</ul>
</ul>
</p>


