


<h2>Queen Family Network</h2>

<p>Many members of the Queen family petitioned courts in Maryland and D.C. for their freedom, based upon their descent from a free woman. They had varying degrees of success.</p>  

<p>
<ul class="tree">
<li><%= link_to "Mary Queen", person_path("per.000068") %> - born c. 1704 in Africa(?) 

<ul>
<li><%= link_to "Nanny Cooper", person_path("per.000066") %> - born c. 1717 in Africa or Maryland; died after 1792 in Maryland <br/> <i>+ Tom Cooper (?)</i></li>

<ul>
<li>Thomas - born January 2, 1735</li>
<li>Mary - born February 29, 1737</li>
<ul>
<li>Nanny - born c. 1755</li>
<li>Kate - born c. 1758</li>
<li>Rachel - born c. 176?</li>
<li>Priscilla - born by 1764; possibly the <%= link_to "Priscilla Queen", person_path("per.000615") %> petitioning for freedom against Francis Neale - likely freed by petition</li>
</ul>
<li>Priscilla - born June 8, 1744</li>
<li>Ralph - born September 8, 1745</li>
<li>Fanny/Phanny - born February 7, 1751</li>
<li>Mima (Mina?) Allen - born September 7, 1755; listed among the slaves on the Daniel Clarke plantation</li>
<ul>
<li>Henrietta "Hetty" - born c.1744</li>
<li>Sarah - born c. 1790</li>
<li>Charles</li>
<li>Mimy</li>
</ul>
<li><%= link_to "Simon", person_path("per.000076") %> - born January 1759; died after 1810 - freed by petition</li>
<ul>
<li>Simon - born 1784</li>
<li>Michael - born 1786</li>
<li>Davy - born before 1806</li>
</ul>
<li>Henny - born October 26, 1760</li>
<li>One of the daughters of Nanny Cooper (or Phyllis)</li>
<ul>
<li><%= link_to "Mima", person_path("per.000057") %> - did not win freedom petition</li>
<ul>
<li><%= link_to "Louisa", person_path("per.000056") %> - born after 1782, most likely in Maryland</li>
</ul>
</ul>
</ul>

<li>Phyllis - born c. 1719 in White Marsh, MD</li>
<ul>
<li>Susanna "Sukey" - born February 14, 1770<br/><i>+ <%= link_to "John Ashton", person_path("per.000215") %>(?)</i></li>
<ul>
<li>Charles - born between 1755 and 1790</li>
<li>Elizabeth</li>
</ul>
<li>Betty - born August 1, 1745</li>
<li>Gervais/Jarvis - born c. 1750</li>
<li>Proteus/Protus - born c. 1750</li>
<li><%= link_to "Edward", person_path("per.000000") %> "Ned" - born May 3, 1754; died February 23, 1798, buried at St. Peter's Church, Baltimore - freed by petition</li>
<li>Mary - born May 17, 1757</li>
<li>Johnny - born and died January 16, 1759</li>
<li>Peggy - born January 17, 1761</li>
<li>Sall - born April 6, 1758; died by 1763</li>
<li>Winifred - born c. 1763</li>
</ul>

<li>Ralph of Bohemia Manor - born c. 1724</li>
<ul>
<li>Nell - born c. 1750</li>
<li>Ralph - born c. 1752</li>
</ul>
</ul>
</li>
</ul>

</p> 

<h4>Source</h4>

<p>John Lewis Small Book, Georgetown University Library Special Collections Research Center, Maryland Province Archives (MPA), Society of Jesus, Box 29, Folder 2</p>