


<h2>Kinship & Family</h2>



<!--<p>The following family networks have been created using information derived from documentation in the court records, as well as genealogical research. Each tree is labeled as either being case-derived, genealogy-derived, or both. When a tree is made up of data from both court documents and external research, the information is color-coded to reflect the origin of the material.</p>-->


<p>The freedom of enslaved people often hinged upon kinship and family connections. Many cases rested up on  proof of descent from a free maternal ancestor, while other cases arose due to complications in the process of inheritance. Because of the importance of kinship and family in matters of freedom, the petition for freedom case files often contain genealogical information for the black and white families involved in these suits.</p>



<div class="row">
  <div class="col-md-6">
	  
	  
	  <h3>African-American Families</h3>

<h4><%= link_to "Davis Family Network", {:name => "davis", :action => "sub"} %></h4>

<p>Two generations of the Davis family petitioned the Court for their freedom from various masters, arguing that as descendants of a free woman, they should be entitled to their liberty.</p>  

<h4><%= link_to "Lee Family Network", {:name => "lee", :action => "sub"} %></h4>

<p>Several generations of the Lee family petitioned for their freedom in fear that their present master would not adhere to the deed of emancipation that freed their mother and stipulated they be manumitted upon reaching specific ages.</p>
    
<h4><%= link_to "Queen Family Network", {:name => "queen", :action => "sub"} %></h4>

<p>Many members of the Queen family petitioned courts in Maryland and D.C. for their freedom, based upon their descent from a free woman. They had varying degrees of success.</p>  
	  
	  
	  
  </div>
  <div class="col-md-6">
	  
	  
	  <h3>White Families</h3>

<h4><%= link_to "Carroll Family Network", {:name => "carroll", :action => "sub"} %></h4>

<p>Members of Carroll family at one time claimed ownership of the matriarch of the <%= link_to "Queen Family", {:name => "queen", :action => "sub"} %>, upon whose status the freedom petitions rested.</p>            

<!--<h4>Clarke Family Network</h4>

<p>The Clarke family was possibly the owner of a branch of the <%= link_to "Queen Family Network", {:name => "queen", :action => "sub"} %> family, and the testimony of a member of the Clarke family was integral to the freedom suit brought by Mima and Louisa <%= link_to "Queen Family Network", {:name => "queen", :action => "sub"} %></p>    -->

<!--<h4>Duvall Family Network</h5>

<p>Members of the Duvall family played a role in the <%= link_to "Queen Family Network", {:name => "queen", :action => "sub"} %> family litigation in Maryland and D.C. courts.</p>-->
       
<!--<h4>Forrest and Plater Family Networks</h4>

<p>The Forrests were prominent members of early Washington, D.C., society. Two members of the Plater family married into the <a href="#">Key</a> and Forrest families.</p>-->
    
<!--<h4>Hepburn Family Network</h4>

<p>John Hepburn was a defendant in the freedom suit brought by Mima and Louisa <%= link_to "Queen Family Network", {:name => "queen", :action => "sub"} %>.</p>-->

<h4><%= link_to "Greenfield Family Network", {:name => "greenfield", :action => "sub"} %></h4>

<p>Several enslaved people held in bondage by members of the Greenfield family filed petitions in the Circuit Court, using various arguments to try and obtain their freedom.</p>
    
<h4><%= link_to "Key Family Network", {:name => "key", :action => "sub"} %></h4>

<p>Francis Scott Key, his uncle, Philip Barton Key, and his son, Philip Barton Key II, represented both enslaved persons and their owners in freedom petitions before courts in Maryland and D.C.</p>

	  
	  
	  
  </div>
</div>

