


<h2>Lee Family Network</h2>

<p>Several generations of the Lee family petitioned for their freedom in fear that their present master would not adhere to the deed of emancipation that freed their mother and stipulated they be manumitted upon reaching specific ages.</p>

        <p>
        <ul class="tree">
          <li><%= link_to "Joanna/Joan Lee", person_path("per.000615") %> - <%= link_to "freed", doc_path("oscys.case.0076.003") %> October 8, 1809 <br/>+ <i><%= link_to "Peter Lee", person_path("per.000626") %></i></li>
          <ul>
            <li><%= link_to "John Baptist Lee", person_path("per.000630") %> - born c. 1800; to be freed May 1830</li>
            <li>Peter Lee - born c. 1801</li>
            <li><%= link_to "Lizette Lee", person_path("per.000616") %> - born c. 1802; to be freed Christmas 1827</li>
            <ul>
              <li><%= link_to "Nancy Lee", person_path("per.000623") %> - born c. 1825</li>
            </ul>
            <li>Lewis Lee - born c. 1803</li>
            <li><%= link_to "Janette/Jeane Lee", person_path("per.000619") %> - born c. 1809; to be freed May 19, 1834</li>
          </ul>
        </ul>
        </p>