


<h2>Queen Family Network</h2>

<p>Many members of the Queen family petitioned courts in Maryland and D.C. for their freedom, based upon their descent from a free woman. They had varying degrees of success.</p>  

<p>
<ul class="tree">
<li><!--Mary Poppow Queen--><%= link_to "Mary Poppow Queen", person_path("per.000068") %> - born about 1704</li>
    <ul><!-- Mary children -->
        <li><!--Nanny Cooper--><%= link_to "Nanny Cooper", person_path("per.000066") %> (a.k.a. Queen) - born about 1720</li>
            <ul><!-- Nanny children -->
                <li>Thomas - born June 2, 1735, White Marsh, Maryland</li>
                <li>Mary Queen - born February 28, 1737, White Marsh, Maryland</li>
                    <ul><!-- Mary II children -->
                        <li>Priscilla Queen - born about 1762</li>
                        <li>Nanny Queen ? - born about 1755, Maryland</li>
                        <li>Kate Queen - born about 1758, Maryland</li>
                        <li>Rachel Queen - born 1760, Maryland</li>
                    </ul><!-- Mary II children -->
                <li>Priscilla Queen - born June 8, 1744, White Marsh, Maryland</li>
                <li>Ralph Queen - born September 8, 1745, White Marsh, Maryland</li>
                <li>Fanny Queen - born February 7, 1751, White Marsh, Maryland</li>
                <li>Mima Queen - born September 7, 1755, White Marsh, Maryland</li>
                <li><!--Simon Queen--><%= link_to "Simon Queen", person_path("per.000076") %> - born January 7, 1759, White Marsh, Maryland - freed by freedom petition</li>
                <li>Henny Queen - born October 26, 1760, White Marsh, Maryland</li>
                <li>David Queen - born about 1764 - not in John Lewis Small Book, but petitioned for freedom as the son of Nanny</li>
            </ul><!-- Nanny children -->
        <li>Phyllis Queen - born about 1721</li>
            <ul><!-- Phyllis children -->
                <li>Susanna Queen - born February 14, 1720, White Marsh, Maryland</li>
                <li>Betty Queen - born August 1, 1745, White Marsh, Maryland</li>
                <li>Proteus Queen - born about 1750, White Marsh, Maryland; twin to Gervais</li>
                <li>Gervais (Jarvis) Queen - born about 1750, White Marsh, Maryland; twin to Proteus</li>
                <li><!--Edward "Ned" Queen--><%= link_to "Edward 'Ned' Queen", person_path("per.000078") %> - born May 3, 1754, White Marsh, Maryland - freed by <!--freedom petition--><%= link_to "freedom petition", case_path("oscys.caseid.0338") %></li>
                <li>Mary Queen - born May 17, 1757, White Marsh, Maryland</li>
                <li>Sall Queen - born April 6, 1758, White Marsh, Maryland; died before 1763, White Marsh</li>
                <li>Johnny Queen - born January 16, 1759, White Marsh, Maryland; died before 1763, White Marsh</li>
                <li>Margaret "Peggy" Queen - born January 7, 1761, White Marsh, Maryland</li>
                <li>Winifred Queen - born 1763, White Marsh, Maryland</li>
            </ul><!-- Phyllis children -->
    </ul><!-- Mary children -->
 <em>&#160; + Thomas Barnes or Barm ?</em> - Overseer at Fingaul Plantation, Maryland
    <ul><!-- Mary children -->
        <li>Ralph Queen(?) - born about 1724<br/>
   <em>+ Nell ?</em></li>
        <ul><!-- Ralph children -->
            <li>Nell - born 1750, Bohemia Manor, Maryland</li>
            <li>Ralph Queen - born 1752, Bohemia Manor, Maryland</li>
        </ul><!-- Ralph children -->
    </ul><!-- Mary children -->
</ul><!-- end tree -->
</p>









<h4>Source</h4>

<p>John Lewis Small Book, Box 29, Folder 2, Maryland Province Archives, Society of Jesus, Georgetown University Manuscripts.</p>


<!--<p>
<ul class="tree">
<li><%= link_to "Mary Queen", person_path("per.000068") %> - born c. 1704 in Africa(?) 

<ul>
<li><%= link_to "Nanny Cooper", person_path("per.000066") %> - born c. 1717 in Africa or Maryland; died after 1792 in Maryland <br/> <i>+ Tom Cooper (?)</i></li>

<ul>
<li>Thomas - born January 2, 1735</li>
<li>Mary - born February 29, 1737</li>
<ul>
<li>Nanny - born c. 1755</li>
<li>Kate - born c. 1758</li>
<li>Rachel - born c. 176?</li>
<li>Priscilla - born by 1764; possibly the <%= link_to "Priscilla Queen", person_path("per.000615") %> petitioning for freedom against Francis Neale - likely freed by petition</li>
</ul>
<li>Priscilla - born June 8, 1744</li>
<li>Ralph - born September 8, 1745</li>
<li>Fanny/Phanny - born February 7, 1751</li>
<li>Mima (Mina?) Allen - born September 7, 1755; listed among the slaves on the Daniel Clarke plantation</li>
<ul>
<li>Henrietta "Hetty" - born c.1744</li>
<li>Sarah - born c. 1790</li>
<li>Charles</li>
<li>Mimy</li>
</ul>
<li><%= link_to "Simon", person_path("per.000076") %> - born January 1759; died after 1810 - freed by petition</li>
<ul>
<li>Simon - born 1784</li>
<li>Michael - born 1786</li>
<li>Davy - born before 1806</li>
</ul>
<li>Henny - born October 26, 1760</li>
<li>One of the daughters of Nanny Cooper (or Phyllis)</li>
<ul>
<li><%= link_to "Mima", person_path("per.000057") %> - did not win freedom petition</li>
<ul>
<li><%= link_to "Louisa", person_path("per.000056") %> - born after 1782, most likely in Maryland</li>
</ul>
</ul>
</ul>

<li>Phyllis - born c. 1719 in White Marsh, MD</li>
<ul>
<li>Susanna "Sukey" - born February 14, 1770<br/><i>+ <%= link_to "John Ashton", person_path("per.000215") %>(?)</i></li>
<ul>
<li>Charles - born between 1755 and 1790</li>
<li>Elizabeth</li>
</ul>
<li>Betty - born August 1, 1745</li>
<li>Gervais/Jarvis - born c. 1750</li>
<li>Proteus/Protus - born c. 1750</li>
<li><%= link_to "Edward", person_path("per.000000") %> "Ned" - born May 3, 1754; died February 23, 1798, buried at St. Peter's Church, Baltimore - freed by petition</li>
<li>Mary - born May 17, 1757</li>
<li>Johnny - born and died January 16, 1759</li>
<li>Peggy - born January 17, 1761</li>
<li>Sall - born April 6, 1758; died by 1763</li>
<li>Winifred - born c. 1763</li>
</ul>

<li>Ralph of Bohemia Manor - born c. 1724</li>
<ul>
<li>Nell - born c. 1750</li>
<li>Ralph - born c. 1752</li>
</ul>
</ul>
</li>
</ul>

</p> -->

