<!DOCTYPE html>
<html xmlns:tei="http://www.tei-c.org/ns/1.0" xmlns="http://www.w3.org/1999/xhtml" class="<%= @page_class ? @page_class : "none" %>" hc="a0" hcx="0">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>O Say Can You See: Early Washington, D.C., Law &amp; Family</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--     Social Media Tags     -->
    <meta property="og:title" content="O Say Can You See: Early Washington, D.C., Law &amp; Family" />
    <meta property="og:description" content="Documenting slavery and freedom in the District of Columbia– a digital archive of freedom suits and related cases between 1790 and 1862 and the multigenerational family networks they reveal." />
    <meta property="og:image" content="<%= image_url "oscys_logo.png" %>" />
    <meta property="og:url" content="http://earlywashingtondc.org" />
    <meta name="twitter:card" content="summary_large_image" />

  <%= favicon_link_tag %>

  <%# external %>
  <!-- <link href="http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700|PT+Sans:400,700" rel="stylesheet" type="text/css"> -->
<!--   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> &#160; </script> -->


  <%= stylesheet_link_tag 'bootstrap', media: 'all' %>
  <%= stylesheet_link_tag 'style', media: 'all' %>
  <%= stylesheet_link_tag 'prettyPhoto', media: 'all' %>
  <%= stylesheet_link_tag 'jquery-ui', media: 'all' %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", :async => false %>
  <%= javascript_include_tag 'jquery-ui.min' %>
  <%= javascript_include_tag 'bootstrap' %>
  <%= javascript_include_tag 'prettyPhoto' %>
  <%= javascript_include_tag 'script' %>
  <%= csrf_meta_tags %>

</head>
<body>

<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-23044706-2', 'auto');
 ga('send', 'pageview');

</script>


  <div id="wrapper" class="container">
    <%# image_tag "o-say_logo_RGB.png", :class=> "logo" %>
    <div class="header">
	    
	    <div class="oscys_mast">
			<div class="oscys_logo">
				<%= image_tag "oscys_logo.png" %>  
			</div>
			<div class="oscys_title">
				<h1><%= link_to "O Say Can You See", home_path %></h1>
				<h2><%= link_to "Early Washington, D.C., Law & Family", home_path %></h2>
			</div>
		</div><!-- /oscys_mast -->
	
	
    </div>

    <div class="navbar navbar-default">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <!--
          <ul class="nav navbar-nav">
            <li class="active"><%# link_to "Home", home_path %></li>
          </ul>
        -->
        <!--<p class="navbar-text">Discover by...</p>--> 
        <ul class="nav navbar-nav">
          <li ><%= link_to "Cases", cases_path %></li>
          <li ><%= link_to "People", people_path %></li>
          <li ><%= link_to "Families", family_path %></li>
          <li><%= link_to "Stories", stories_path %></li>
          <li><%= link_to "Maps", maps_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Search", advancedsearch_path %></li>
          <li><%= link_to "Contribute", contribute_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!-- /.navbar -->
    <div id="main" class="main_content">
      <!-- begin content -->
      <%= yield.to_s.force_encoding("UTF-8") %>
      <!-- end content -->
    </div>
    <div id="footer" class="footer">
      <div class="footerinfo">
        <p><%= link_to "How to Cite this Project", {:name => "cite", :action => "sub", :controller => "about"} %>.</p>
        <p>By William G. Thomas and the <a href="http://cdrh.unl.edu/" target="new">Center for Digital Research in the Humanities</a>, distributed under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="new">Creative Commons License.</a><br>Pierre Charles L'Enfant. <i>Plan of the City of Washington</i>. Philadelphia: Thackara &amp; Vallance, c. 1794. From <a href="http://www.loc.gov/item/88694120" target="new">Library of Congress, Map Collections</a>.</p>
      </div>
      <div class="icons">
        <a href="http://www.neh.gov/" target="blank"><%= image_tag "logo_neh_white.gif" %></a> &nbsp;&nbsp;&nbsp; 
        <a href="http://mith.umd.edu/" target="blank"><%= image_tag "logo_mith_white.png" %></a> &nbsp;&nbsp;&nbsp; 
        <a href="http://www.unl.edu/" target="blank"><%= image_tag "logo_unl_white.gif" %></a>
      </div>
    </div>
  </div>
</body>
</html>
