<!DOCTYPE html>
<!-- TODO put in page class here -->
<html xmlns:tei="http://www.tei-c.org/ns/1.0" xmlns="http://www.w3.org/1999/xhtml" class="none" hc="a0" hcx="0">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Oh Say Can You See: Early Washington, D.C., Law and Family Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag %>

  <%# external %>
  <!-- <link href="http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700|PT+Sans:400,700" rel="stylesheet" type="text/css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"> &#160; </script>

  <%# stylesheets %>
  <%# stylesheet_link_tag 'reset', media: 'all', 'data-turbolinks-track' => true %>
  <%# stylesheet_link_tag 'prettyPhoto', media: 'all', 'data-turbolinks-track' => true %>
  <%# stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track' => true %>
  <%# stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%# javascript %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'prettyPhoto', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'script', 'data-turbolinks-track' => true %>
  <%# TODO ask if this is supposed to be different front "script" since script was in original and scripts is in mockup %>
  <%# javascript_include_tag 'scripts', 'data-turbolinks-track' => true %>

  <script type="text/javascript">
    function unhide(divID) {
      var item = document.getElementById(divID);
      if (item) {
        item.className=(item.className=='hidden')?'unhidden':'hidden';
      }
    };
  </script>
</head>
<body>
  <div id="wrapper" class="container">
    <%# image_tag "o-say_logo_RGB.png", :class=> "logo" %>
    <div class="header">
	
	<div class="row">
		<div class="col-md-4"><%= image_tag "oscys_logo.png" %></div>
		<div class="col-md-8">
			<div class="header_title">
				<h1><a href="/">O Say Can You See</a></h1>
				<h2><a href="/">Early Washington, DC Law, and Family Project</a></h2>
				</div>
			</div>
		</div>
	</div>


    <div class="navbar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <!--
          <ul class="nav navbar-nav">
            <li class="active"><%# link_to "Home", home_path %></li>
          </ul>
        -->
        <p class="navbar-text">Discover by...</p> 
        <ul class="nav navbar-nav">
          <li ><%= link_to "Kinship & Family", kinship_path %></li>
          <li ><%= link_to "Cases", cases_path %></li>
          <li ><%= link_to "People", people_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Search", advancedsearch_path %></li>
          <li><%= link_to "Stories", stories_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!-- /.navbar -->
    <div id="main" class="main_content">
      <!-- begin content -->
      <%= yield %>
      <!-- end content -->
    </div>
    <div id="footer" class="footer">
      <div class="footerinfo">
        <p>By William G. Thomas and distributed by <a href="http://cdrh.unl.edu/" target="new">Center for Digital Research in the Humanities</a> under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="new">Creative Commons License.</a><br>Pierre Charles L'Enfant. <i>Plan of the City of Washington</i>. Philadelphia: Thackara &amp; Vallance, 1794?. From <a href="http://www.loc.gov/item/88694120" target="new">Library of Congress, Map Collections</a>.</p>
      </div>
      <div class="icons">
        <a href="http://www.unl.edu/" target="blank">
          <%= image_tag "logo_neh_white.gif" %>
        </a> &nbsp;&nbsp;&nbsp; 
        <a href="http://mith.umd.edu/" target="blank"> 
          <%= image_tag "logo_mith_white.png" %>
        </a> &nbsp;&nbsp;&nbsp; 
        <a href="http://www.neh.gov/" target="blank">
          <%= image_tag "logo_unl_white.gif" %>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
